.dialog:global(.__wab_instance) {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  max-width: 100%;
  object-fit: cover;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
}
.pcls_i_dnxtSILJwc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0f172a99;
  backdrop-filter: none;
  position: fixed;
  z-index: 999999;
  outline: none;
  -webkit-backdrop-filter: none;
  padding: var(--token-zB6Sy63cwwn1);
}
@media (min-width: 0px) and (max-width: 768px) {
  .pcls_XJIuNxa3RHMz {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    outline: none;
    padding: 0px;
  }
}
.pcls_a1b7gjOs22Am {
  outline: none;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .pcls_ArnXodW25QaC {
    outline: none;
    padding: 10px 0px 0px;
  }
}
.dialogContent:global(.__wab_instance) {
  box-shadow: 0px 4px 16px 0px #00000033;
  background: #192841;
  max-width: 600px;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  min-width: 600px;
  max-height: 100%;
  overflow: auto;
  border-radius: 16px;
  padding: var(--token-V6iPUxl66F8R);
}
@media (min-width: 0px) and (max-width: 768px) {
  .dialogContent:global(.__wab_instance) {
    width: 100%;
    min-width: 100%;
    max-width: auto;
    border-radius: 15px 15px 0px 0px;
  }
}
.dialogContentnoSpacing:global(.__wab_instance) {
  padding: 0px;
}
.dialogContentfullScreen:global(.__wab_instance) {
  height: 100%;
  width: 100%;
  max-width: none;
  min-width: auto;
  min-height: 0;
}
.freeBox___8Hh5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  row-gap: var(--token-l3ItR7R_AHRe);
  min-width: 0;
  padding: 60px 14px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8Hh5 {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.freeBoxhideHeader___8Hh56Ljbu {
  display: none;
}
.freeBox__pXkK {
  display: flex;
  flex-direction: column;
  background: var(--token-gjo_xZNc-FZk);
  height: 100%;
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  align-items: center;
  justify-content: center;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 16px 16px 40px;
  margin: 0px;
}
.svg__kkV5 {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.text__mZjLz {
  align-self: auto;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--token-jgohepLVeKvh);
}
.freeBox__inSrv {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  right: 0;
  bottom: -18px;
  column-gap: var(--token-l3ItR7R_AHRe);
  padding: 0px var(--token-V6iPUxl66F8R);
}
.freeBox__ytlU7 {
  display: block;
  width: 35px;
  height: 35px;
  max-width: 100%;
  background: #192841;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ytlU7 {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
  }
}
.freeBox__exOlE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox__cShxb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  column-gap: 0px;
  min-width: 0;
  padding: 8px 12px;
}
.text__jApA {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token--3UT6C2Na0g9);
  color: var(--token-HYofCA0lhstX);
}
.text__m06Po {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-843B-Ipj_99r);
  font-weight: 700;
  color: var(--token-aCLVKlB2IKxe);
}
.freeBox__vmNbe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  column-gap: 0px;
  min-width: 0;
  border-radius: 16px;
  padding: 10px 16px;
  border: 3px solid var(--token-s7Z9BN_B1gNc);
}
.text__xfeaM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token--3UT6C2Na0g9);
  color: var(--token-HYofCA0lhstX);
}
.text__gtK4M {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-843B-Ipj_99r);
  font-weight: 700;
  color: var(--token-aCLVKlB2IKxe);
}
.freeBox__x0D8S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
  padding: 16px 0px 0px;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__oJGf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nuOj {
  font-weight: 700;
  font-size: var(--token--3UT6C2Na0g9);
  padding-right: 0px;
}
.svg__eNHtt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ennsT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hUz7V {
  font-weight: 700;
  font-size: var(--token--3UT6C2Na0g9);
  padding-right: 0px;
}
.svg__prrTg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dialogClose:global(.__wab_instance) {
  position: absolute;
  top: 16px;
  opacity: 0.7;
  object-fit: cover;
  width: auto;
  left: 16px;
  border-radius: 999px;
}
.dialogClosehideHeader:global(.__wab_instance) {
  display: none;
}
.svg__avBm4 {
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
  height: 1em;
}
.freeBox__nTiio {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  left: 0;
  top: 0;
  z-index: 1;
  background: var(--token-s7Z9BN_B1gNc);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  right: 0;
  column-gap: 16px;
  padding: 14px 15px 14px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nTiio {
    left: 0;
    top: 0;
    right: 0;
    width: auto;
  }
}
.freeBox___02ILd {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__g2Wb {
  color: var(--token-aCLVKlB2IKxe);
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-left: 0px;
}
.svg__aSmv {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aCLVKlB2IKxe);
  width: 25px;
  height: 25px;
  cursor: pointer;
  flex-shrink: 0;
}
