.snappServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#34495e, #34495e), var(--token-jgohepLVeKvh);
  cursor: pointer;
  position: relative;
  box-shadow: 0px 4px 16px -10px var(--token-RvPI6LyeIPmd);
  min-width: 0;
  border-radius: 10px;
  padding: 20px 8px 8px;
}
.snappIcon {
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  flex-shrink: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: var(--token-41VRhDKfihhY);
  min-width: 0;
}
