.root {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 5px;
  position: relative;
  min-width: 0;
  display: none;
  padding: 0px;
}
.rootsteps2_step3 {
  display: flex;
}
.freeBox___6WSqX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxsteps2_step3___6WSqXtFm5 {
  padding: 0px;
}
.text__lal7E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: var(--token--3UT6C2Na0g9);
  font-weight: 700;
  font-style: normal;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.textsteps2_step3__lal7EtFm5 {
  padding: var(--token-vAZ8o9ODdwJP);
}
.freeBox__gx26I {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxsteps2_step3__gx26ItFm5 {
    justify-content: space-between;
  }
}
.text___8IxDv {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-jgohepLVeKvh);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8IxDv {
    font-weight: 700;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textsteps2_step3___8IxDvtFm5 {
    width: auto;
  }
}
.freeBox__icsJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBoxsteps2_step3__icsJtFm5 {
  justify-content: flex-end;
  align-items: center;
  column-gap: var(--token-vAZ8o9ODdwJP);
  row-gap: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxsteps2_step3__icsJtFm5 {
    width: auto;
  }
}
.text__mOaQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: var(--token-FKfEFJSAUH6i);
  font-weight: 400;
  font-style: normal;
  color: var(--token-YJorFWlQWPQi);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.textsteps2_step3__mOaQtFm5 {
  width: auto;
}
.text__g41P6 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-jgohepLVeKvh);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.rates:global(.__wab_instance) {
  position: relative;
}
.ratessteps2_step3:global(.__wab_instance) {
  width: auto;
}
.freeBox__kw1Z8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxsteps2_step3__kw1Z8TFm5 {
  justify-content: center;
  align-items: center;
}
.freeBox__i7MN7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__nc5JH {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-jgohepLVeKvh);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nc5JH {
    font-weight: 700;
  }
}
.text__d0Nk1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-jgohepLVeKvh);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.textsteps2_step3__d0Nk1TFm5 {
  line-height: 1;
}
.freeBox___3Bcw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxsteps2_step3___3BcwTFm5 {
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
.freeBox__sPtIu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__djqsG {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-jgohepLVeKvh);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__djqsG {
    font-weight: 700;
  }
}
.textsteps2_step3__djqsGtFm5 {
  font-weight: 400;
}
.text__xpkol {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-jgohepLVeKvh);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.textsteps2_step3__xpkoltFm5 {
  line-height: 1;
  font-weight: 400;
}
.text__x66Zw {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-jgohepLVeKvh);
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  border-bottom: 1px solid #00ffcc;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__x66Zw {
    font-weight: 700;
  }
}
.textsteps2_step3__x66ZwtFm5 {
  height: 0px;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__jyApI {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxsteps2_step3__jyApItFm5 {
  justify-content: center;
  align-items: center;
}
.freeBox__r53M {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__fAR7 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-jgohepLVeKvh);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fAR7 {
    font-weight: 700;
  }
}
.textsteps2_step3__fAR7TFm5 {
  color: var(--token-WxyGMLCV1Pdq);
  font-weight: 700;
}
.text__allf3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-jgohepLVeKvh);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.textsteps2_step3__allf3TFm5 {
  line-height: 1;
  color: var(--token-WxyGMLCV1Pdq);
  font-weight: 700;
}
