.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__syWy2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 70px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__syWy2 {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__pfbLk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #26394b;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px;
}
.svg__mlhA {
  object-fit: cover;
  max-width: 100%;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.text__z0Sv1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: var(--token-aCLVKlB2IKxe);
  font-weight: 800;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__g5Ms {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 4px;
}
.text__qAoP {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  color: var(--token-aCLVKlB2IKxe);
  font-weight: 400;
  padding-top: 0px;
  min-width: 0;
}
.text__z84Nz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  color: var(--token-aCLVKlB2IKxe);
  font-weight: 400;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__x5Xwj {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x5Xwj {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.freeBox___62KC {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  background: #2563eb40;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___62KC {
    opacity: 0.8;
  }
}
.text__eaZg {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  color: var(--token-aCLVKlB2IKxe);
  font-weight: 400;
  padding-top: 0px;
}
.text__pbXTe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  color: var(--token-aCLVKlB2IKxe);
  font-weight: 700;
  filter: contrast(71%) brightness(200%);
}
.freeBox__rWdpk {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
  min-width: 0;
  padding: 20px 0px 0px;
  margin: 0px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__mfcs7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qkrO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__nj4Ae {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mtRot {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #1e2c39;
  box-shadow: 0px 12px 16px 0px #00000047;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  min-width: 0;
  padding: 10px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    width: 100%;
    left: auto;
    top: auto;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.svg__mFryk {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: #2dc57b;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__mFryk {
    width: 25px;
    height: 25px;
    color: #2dc57b;
    flex-shrink: 0;
  }
}
.text__uLr5Z {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: #2dc57b;
  font-size: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uLr5Z {
    color: #2dc57b;
  }
}
.svg___9Bc7N {
  object-fit: cover;
  max-width: 100%;
  color: #2dc57b;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___9Bc7N {
    color: #2dc57b;
    align-self: auto;
    cursor: pointer;
  }
}
.add:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0px;
}
.add__modal :global(.ant-modal-content) {
  background: #192841;
  outline: none;
  border-radius: 24px 24px 0px 0px;
}
.add__modal :global(.ant-modal-close) {
  width: 0px;
  height: 0px;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .add:global(.__wab_instance) {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px;
    margin: 0px;
  }
}
.freeBox__xsLqF {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  row-gap: 16px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__zojeo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #5ae7a2;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 16px;
  min-width: 0;
}
.freeBox___6SbvW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.valueAdd:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #161e26;
  color: var(--token-aCLVKlB2IKxe);
  height: 45px;
  text-align: center;
  min-width: 0;
  padding: 16px 0px 16px 16px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .valueAdd:global(.__wab_instance) {
    border-width: 0px;
  }
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 8px;
  bottom: 0;
  padding-left: 30px;
  font-size: 12px;
}
.svg__tYaf9 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aCLVKlB2IKxe);
  width: 25px;
  height: 25px;
}
.svg__inJy {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: auto;
  bottom: 13px;
  right: 12px;
  width: 20px;
  height: 20px;
  color: #ffffffcc;
  flex-shrink: 0;
}
.text__ne4H1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-rrSDs4ZUYTcU);
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.info:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #161e26;
  height: 100px;
  color: var(--token-aCLVKlB2IKxe);
  flex-shrink: 0;
  border-radius: 8px;
  border-width: 0px;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___7PjTq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___0Lmac {
  font-size: 16px;
  font-weight: 700;
}
.svg__aUvxK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gPq1R {
  width: 0px;
  height: 0px;
  max-width: 100%;
}
.remove:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0px;
}
.remove__modal :global(.ant-modal-content) {
  background: #192841;
  display: flex;
  flex-direction: column;
  outline: none;
  border-radius: 24px 24px 0px 0px;
}
.remove__modal :global(.ant-modal-close) {
  width: 0px;
  height: 0px;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .remove:global(.__wab_instance) {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px;
    margin: 0px;
  }
}
.freeBox___8MPoO {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  row-gap: 16px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__sc5Dr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-ZDcvRU4gUKFH);
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 16px;
  min-width: 0;
}
.freeBox__x4UZs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.valueAdd2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #161e26;
  color: var(--token-aCLVKlB2IKxe);
  height: 45px;
  text-align: center;
  min-width: 0;
  padding: 16px 0px 16px 16px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .valueAdd2:global(.__wab_instance) {
    border-width: 0px;
  }
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 8px;
  padding-left: 30px;
  font-size: 12px;
}
.svg__ajqBd {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aCLVKlB2IKxe);
  width: 25px;
  height: 25px;
}
.svg__tqdkn {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: auto;
  bottom: 13px;
  right: 12px;
  width: 20px;
  height: 20px;
  color: #ffffffcc;
  flex-shrink: 0;
}
.text___0GQa6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-4gD5gvj5iV3F);
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.info2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #161e26;
  height: 100px;
  color: var(--token-aCLVKlB2IKxe);
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  border-width: 0px;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ryfrE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__exv6D {
  font-size: 16px;
  font-weight: 700;
}
.svg___7Lq6W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__whIRq {
  width: 0px;
  height: 0px;
  max-width: 100%;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
