.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: var(--token-V6iPUxl66F8R);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootsuccess__true > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootsuccess__true > * {
    grid-column: 4;
  }
}
.rootsuccess__false > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootsuccess__false > * {
    grid-column: 4;
  }
}
.freeBox__tga10 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-gjo_xZNc-FZk);
  row-gap: var(--token-LaEv2Dm1x3K9);
  min-width: 0;
  display: none;
  border-radius: var(--token-Vnin7lBvcq0-);
  padding: 4rem var(--token-Vnin7lBvcq0-) var(--token-Vnin7lBvcq0-);
  border: 1px solid var(--token-2nGah04_w5MY);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tga10 {
    row-gap: var(--token-V6iPUxl66F8R);
    column-gap: 0px;
  }
}
.freeBoxsuccess__true__tga10XxTpl {
  display: flex;
}
.freeBox___6Myk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-xZA8BugQdZGY);
  margin-top: -104px;
  border-radius: 100px;
  padding: 0px;
}
.svg__evTeD {
  object-fit: cover;
  max-width: 100%;
  width: 5rem;
  height: 5rem;
  color: var(--token-AJFi8voyMK0D);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__evTeD {
    color: var(--token-s7Z9BN_B1gNc);
  }
}
.text__hHeKh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-rrSDs4ZUYTcU);
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hHeKh {
    padding: 0rem 0px 0px;
  }
}
.text__d2CwC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-aCLVKlB2IKxe);
  font-size: var(--token--3UT6C2Na0g9);
  font-weight: 100;
  min-width: 0;
  padding: 0rem 0px 0px;
}
.freeBox__vNy3O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vNy3O {
    row-gap: var(--token-V6iPUxl66F8R);
    border-top-width: 1px;
    border-top-style: solid;
    column-gap: 0px;
    padding: var(--token-V6iPUxl66F8R) var(--token-l3ItR7R_AHRe)
      var(--token-l3ItR7R_AHRe);
  }
}
.freeBox__zYmOo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-V6iPUxl66F8R);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zYmOo {
    padding: 0px;
  }
}
.text__pCnx7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-aCLVKlB2IKxe);
  font-size: var(--token--3UT6C2Na0g9);
  font-weight: 100;
  min-width: 0;
  padding: 0rem 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pCnx7 {
    font-size: var(--token--3UT6C2Na0g9);
    font-weight: 700;
  }
}
.text__dj84U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: var(--token-aCLVKlB2IKxe);
  font-size: var(--token--3UT6C2Na0g9);
  font-weight: 100;
  min-width: 0;
  padding: 0rem 0px 0px;
}
.freeBox__veiA0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-V6iPUxl66F8R);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__veiA0 {
    padding: 0px;
  }
}
.text__go7Is {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-aCLVKlB2IKxe);
  font-size: var(--token--3UT6C2Na0g9);
  font-weight: 100;
  min-width: 0;
  padding: 0rem 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__go7Is {
    font-weight: 700;
  }
}
.text__xnTH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: var(--token-aCLVKlB2IKxe);
  font-size: var(--token--3UT6C2Na0g9);
  font-weight: 100;
  min-width: 0;
  padding: 0rem 0px 0px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button:global(.__wab_instance) {
    display: flex;
  }
}
.svg___6LI4F {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___16ZN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xohn6 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-gjo_xZNc-FZk);
  row-gap: var(--token-LaEv2Dm1x3K9);
  min-width: 0;
  display: none;
  border-radius: var(--token-Vnin7lBvcq0-);
  padding: 4rem var(--token-Vnin7lBvcq0-) var(--token-Vnin7lBvcq0-);
  border: 1px solid var(--token-2nGah04_w5MY);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xohn6 {
    row-gap: var(--token-V6iPUxl66F8R);
    column-gap: 0px;
  }
}
.freeBoxsuccess__false__xohn6Dibh2 {
  display: flex;
}
.freeBox__vbOpd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-a78v3Ul_J4it);
  margin-top: -104px;
  border-radius: 100px;
  padding: 0px;
}
.svg__f3KjB {
  object-fit: cover;
  max-width: 100%;
  width: 5rem;
  height: 5rem;
  color: var(--token-AJFi8voyMK0D);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__f3KjB {
    color: var(--token-fDNuFs9Skt3p);
  }
}
.text__suElF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-rrSDs4ZUYTcU);
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__suElF {
    color: var(--token-IbRLKagyRkT2);
    padding: 0rem 0px 0px;
  }
}
.text__ur5C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-aCLVKlB2IKxe);
  font-size: var(--token--3UT6C2Na0g9);
  font-weight: 100;
  min-width: 0;
  padding: 0rem 0px 0px;
}
.freeBox__ke0Q2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ke0Q2 {
    row-gap: var(--token-V6iPUxl66F8R);
    border-top-width: 1px;
    border-top-style: solid;
    column-gap: 0px;
    padding: var(--token-V6iPUxl66F8R) var(--token-l3ItR7R_AHRe)
      var(--token-l3ItR7R_AHRe);
  }
}
.freeBox__deBeL {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-V6iPUxl66F8R);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__deBeL {
    padding: 0px;
  }
}
.text__yWNe5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-aCLVKlB2IKxe);
  font-size: var(--token--3UT6C2Na0g9);
  font-weight: 100;
  min-width: 0;
  padding: 0rem 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yWNe5 {
    font-size: var(--token--3UT6C2Na0g9);
    font-weight: 700;
  }
}
.text___3MriT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: var(--token-aCLVKlB2IKxe);
  font-size: var(--token--3UT6C2Na0g9);
  font-weight: 100;
  min-width: 0;
  padding: 0rem 0px 0px;
}
.freeBox__geTqp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-V6iPUxl66F8R);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__geTqp {
    padding: 0px;
  }
}
.text__jiYky {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-aCLVKlB2IKxe);
  font-size: var(--token--3UT6C2Na0g9);
  font-weight: 100;
  min-width: 0;
  padding: 0rem 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jiYky {
    font-weight: 700;
  }
}
.text__dsuIa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: var(--token-aCLVKlB2IKxe);
  font-size: var(--token--3UT6C2Na0g9);
  font-weight: 100;
  min-width: 0;
  padding: 0rem 0px 0px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2:global(.__wab_instance) {
    display: flex;
  }
}
.svg___2Mz32 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___293Si {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
