.root {
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #1e2c39;
  overflow: auto;
  position: relative;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    justify-items: center;
    align-content: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootglobal_experiment_override > * {
  grid-column: 4;
}
.rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant > * {
  grid-column: 4;
}
.rootglobal_unnamedGlobalGroupOfVariants2_unnamedVariant_global_unnamedGlobalGroupOfVariants_unnamedVariant
  > * {
  grid-column: 4;
}
.rootunnamedVariant > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootunnamedVariant > * {
    grid-column: 4;
  }
}
.rootslids_unnamedVariant {
  background: linear-gradient(0deg, #134a41 0%, #1e2c39 31%);
}
.rootslids_unnamedVariant > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootslids_unnamedVariant > * {
    grid-column: 4;
  }
}
.rootslids_unnamedVariant2 > * {
  grid-column: 4;
}
.rootslids_unnamedVariant3 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootslids_unnamedVariant3 > * {
    grid-column: 4;
  }
}
.rootunnamedVariant2 > * {
  grid-column: 4;
}
.rootunnamedVariant_slids_unnamedVariant > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootunnamedVariant_slids_unnamedVariant > * {
    grid-column: 4;
  }
}
.rootunnamedVariant_slids_unnamedVariant2 > * {
  grid-column: 4;
}
.rootunnamedVariant_slids_unnamedVariant3 > * {
  grid-column: 4;
}
.rootunnamedVariant_unnamedVariant2 > * {
  grid-column: 4;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal:global(.__wab_instance) {
    height: 100vh;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    display: flex;
  }
}
.freeBox__ss9JK {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 8px;
  margin: 30px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ss9JK {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin-top: 0px;
    justify-content: center;
  }
}
.freeBoxunnamedVariant__ss9JKDv9B5 {
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant__ss9JKDv9B5 {
    margin-top: 0px;
    margin-bottom: 0px;
    left: auto;
    top: auto;
    right: auto;
  }
}
.freeBoxslids_unnamedVariant3__ss9JKi1KiV {
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxslids_unnamedVariant3__ss9JKi1KiV {
    margin-top: 0px;
    margin-bottom: 0px;
    left: auto;
    top: auto;
    right: auto;
  }
}
.freeBox__oDeZc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oDeZc {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant__oDeZcDv9B5 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
  }
}
.freeBoxslids_unnamedVariant__oDeZcMe9Ia {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxslids_unnamedVariant3__oDeZci1KiV {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
  }
}
.freeBoxunnamedVariant2__oDeZcJmKha {
  padding-bottom: 0px;
}
.svg___6T7 {
  object-fit: cover;
  max-width: 100%;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___6T7 {
    width: auto;
    height: 200px;
  }
}
.svgslids_unnamedVariant___6T7Me9Ia {
  height: 400px;
  width: 400px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svgslids_unnamedVariant___6T7Me9Ia {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
  }
}
.img__pZ2Jh {
  object-fit: cover;
  max-width: 100%;
}
.img__pZ2Jh > picture > img {
  object-fit: cover;
}
.imgslids_unnamedVariant__pZ2JhMe9Ia {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  display: block !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imgslids_unnamedVariant__pZ2JhMe9Ia {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.freeBox__mauVi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 90%;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
.freeBox__mauVi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__mauVi > :global(.__wab_flex-container) > *,
.freeBox__mauVi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mauVi > :global(.__wab_flex-container) > picture > img,
.freeBox__mauVi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBoxslids_unnamedVariant__mauViMe9Ia {
  display: none;
}
.text__r99Zr {
  display: block;
  font-size: 24px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__r99ZrDv9B5 {
    position: sticky;
    left: 0px;
    top: 0px;
    letter-spacing: normal;
    height: 30px;
    line-height: 1.5;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textslids_unnamedVariant3__r99ZrI1KiV {
    position: sticky;
    left: 0px;
    top: 0px;
    letter-spacing: normal;
    height: 30px;
    line-height: 1.5;
    flex-shrink: 0;
  }
}
.text__wdrTs {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: sticky;
  top: 68px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wdrTs {
    letter-spacing: normal;
    text-align: justify;
    line-height: 150%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__wdrTsDv9B5 {
    line-height: 1.5;
    height: 30px;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textslids_unnamedVariant3__wdrTsI1KiV {
    line-height: 1.5;
    height: 30px;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.fragmentInput:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-DbGdjBpQ6R_X);
  background: #161e26;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  margin-left: 0px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  align-self: auto;
  height: 50px;
  font-size: 16px;
  text-align: left;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid #161e26;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fragmentInput:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
  }
}
.fragmentInputunnamedVariant:global(.__wab_instance) {
  margin-top: calc(0px + 20px) !important;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fragmentInputunnamedVariant:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
  }
}
.fragmentInputslids_unnamedVariant3:global(.__wab_instance) {
  margin-top: calc(0px + 20px) !important;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fragmentInputslids_unnamedVariant3:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
  }
}
.fragmentInputunnamedVariant2:global(.__wab_instance) {
  margin-top: calc(0px + 20px) !important;
  display: none;
}
.freeBox__hXlRb {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 15px;
}
.freeBox__hXlRb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox__hXlRb > :global(.__wab_flex-container) > *,
.freeBox__hXlRb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hXlRb > :global(.__wab_flex-container) > picture > img,
.freeBox__hXlRb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.freeBoxunnamedVariant__hXlRbDv9B5 {
  height: 50px;
  flex-shrink: 0;
  display: flex;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant__hXlRbDv9B5 {
    padding: 0px;
  }
}
.freeBoxslids_unnamedVariant3__hXlRbI1KiV {
  height: 50px;
  flex-shrink: 0;
  display: flex;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxslids_unnamedVariant3__hXlRbI1KiV {
    padding: 0px;
  }
}
.fragmentInput2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-DbGdjBpQ6R_X);
  background: #161e26;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  margin-left: calc(0px + 25px) !important;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  align-self: auto;
  height: 50px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 50px;
  min-width: 0;
  border: 1px solid #161e26;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fragmentInput2:global(.__wab_instance) {
    left: auto;
    top: auto;
    margin-left: calc(0px + 25px) !important;
  }
}
.fragmentInput2unnamedVariant:global(.__wab_instance) {
  left: auto;
  top: auto;
  font-size: 32px;
  text-align: center;
  margin-left: calc(0px + 25px) !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fragmentInput2unnamedVariant:global(.__wab_instance) {
    left: auto;
    top: auto;
    font-size: 30px;
    text-align: center;
    margin-left: calc(0px + 25px) !important;
  }
}
.fragmentInput2slids_unnamedVariant3:global(.__wab_instance) {
  left: auto;
  top: auto;
  font-size: 32px;
  text-align: center;
  margin-left: calc(0px + 25px) !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fragmentInput2slids_unnamedVariant3:global(.__wab_instance) {
    left: auto;
    top: auto;
    font-size: 30px;
    text-align: center;
    margin-left: calc(0px + 25px) !important;
  }
}
.text___7LuKp {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 160px;
  height: 17px;
  flex-shrink: 0;
  display: none;
}
.textunnamedVariant___7LuKpDv9B5 {
  position: relative;
  left: auto;
  top: auto;
  text-align: center;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant___7LuKpDv9B5 {
    text-align: center;
    width: 100%;
    height: auto;
    line-height: 1.5;
    letter-spacing: normal;
    min-width: 0;
    display: block;
  }
}
.textslids_unnamedVariant3___7LuKpI1KiV {
  position: relative;
  left: auto;
  top: auto;
  text-align: center;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textslids_unnamedVariant3___7LuKpI1KiV {
    text-align: center;
    width: 100%;
    height: auto;
    line-height: 1.5;
    letter-spacing: normal;
    min-width: 0;
    display: block;
  }
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__qrzqV {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 160px;
  height: 17px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qrzqV {
    left: auto;
    top: auto;
  }
}
.textunnamedVariant__qrzqVDv9B5 {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #2dc57b;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__qrzqVDv9B5 {
    text-align: center;
    width: 100%;
    height: auto;
    left: auto;
    top: auto;
    line-height: 1.5;
    letter-spacing: normal;
    min-width: 0;
    display: block;
  }
}
.textslids_unnamedVariant3__qrzqVi1KiV {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #2dc57b;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textslids_unnamedVariant3__qrzqVi1KiV {
    text-align: center;
    width: 100%;
    height: auto;
    left: auto;
    top: auto;
    line-height: 1.5;
    letter-spacing: normal;
    min-width: 0;
    display: block;
  }
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #161e26;
  width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
  display: none;
  border-radius: 12px;
}
.selectunnamedVariant2:global(.__wab_instance) {
  height: 50px;
  font-size: 16px;
  text-align: right;
  padding-top: 5px;
  flex-shrink: 0;
  display: flex;
}
.svg__bIJr {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 20px;
  height: 20px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
}
@media (min-width: 0px) and (max-width: 768px) {
  .svgunnamedVariant2__bIJrJmKha {
    transform: none;
  }
}
.freeBox__rr6S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 40px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rr6S {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant__rr6SDv9B5 {
    padding-top: 0px;
  }
}
.freeBoxslids_unnamedVariant__rr6SMe9Ia {
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxslids_unnamedVariant3__rr6SI1KiV {
    padding-top: 0px;
  }
}
.button___9BCa8:global(.__wab_instance) {
  max-width: 90%;
  width: 100%;
  height: auto;
  min-width: 0;
}
.buttonunnamedVariant___9BCa8Dv9B5:global(.__wab_instance) {
  display: none;
}
.buttonslids_unnamedVariant___9BCa8Me9Ia:global(.__wab_instance) {
  display: none;
}
.buttonslids_unnamedVariant3___9BCa8I1KiV:global(.__wab_instance) {
  display: none;
}
.buttonunnamedVariant2___9BCa8JmKha:global(.__wab_instance) {
  display: none;
}
.svg__nvHH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___1TNZm {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 18px;
}
.svg__ke3Bs {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.button__qK3:global(.__wab_instance) {
  max-width: 90%;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
}
.buttonunnamedVariant__qK3Dv9B5:global(.__wab_instance) {
  display: none;
}
.buttonslids_unnamedVariant__qK3Me9Ia:global(.__wab_instance) {
  display: none;
}
.buttonslids_unnamedVariant3__qK3I1KiV:global(.__wab_instance) {
  display: none;
}
.buttonunnamedVariant2__qK3JmKha:global(.__wab_instance) {
  display: flex;
}
.svg__z4KgF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__uxobw {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 18px;
}
.svg__pEfNe {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.sendcode:global(.__wab_instance) {
  max-width: 90%;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sendcodeunnamedVariant:global(.__wab_instance) {
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sendcodeslids_unnamedVariant3:global(.__wab_instance) {
    margin-top: 20px;
  }
}
.svg__w75Mp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__sE8Bl {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 18px;
}
.svg__r6GXo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgunnamedVariant__r6GXoDv9B5 {
  color: #ededec;
}
.figmaPaste {
  position: relative;
  width: 352px;
  height: 530px;
  flex-shrink: 0;
}
.figmaPasteunnamedVariant {
  display: none;
}
.figmaPasteslids_unnamedVariant3 {
  display: none;
}
.group {
  width: 352px;
  height: 349px;
  display: block;
  position: absolute;
  left: 0px;
  top: 181px;
}
.group2 {
  transform: translate(0px, 0.36000000000001364px);
  width: 350px;
  height: 52px;
  display: block;
  position: absolute;
  top: 297px;
  left: 0px;
}
.rectangle35 {
  background: rgba(93, 212, 167, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 16px;
}
.text__ts1J3 {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(22, 28, 33, 1);
  position: absolute;
  top: 29.04%;
  left: 44%;
  transform: translate(-0.34499999999999886px, 0.3009999999999309px);
}
.group3 {
  transform: translate(0.38700000000000045px, -0.33899999999999864px);
  width: 326px;
  height: 52px;
  display: block;
  position: absolute;
  top: 151px;
  left: 13px;
}
.group3unnamedVariant {
  display: none;
}
.group3slids_unnamedVariant3 {
  display: none;
}
.group4 {
  width: 58px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle23 {
  background: rgba(21, 27, 33, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 12px;
}
.text__qUrvt {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.74%;
  left: 38.34%;
  width: 21.66%;
  height: 85.2%;
  transform: translate(-0.005000000000002558px, -0.17500000000001137px);
}
.group5 {
  transform: translate(-0.021000000000000796px, 0px);
  width: 58px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 88px;
}
.rectangle24 {
  background: rgba(21, 27, 33, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 12px;
}
.text__uiopE {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.74%;
  left: 33.11%;
  width: 31.66%;
  height: 85.2%;
  transform: translate(0.1250000000000142px, -0.17500000000001137px);
}
.group6 {
  transform: translate(-0.13100000000000023px, 0px);
  width: 58px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 178px;
}
.rectangle25 {
  background: rgba(21, 27, 33, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 12px;
}
.text___1BLr3 {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.74%;
  left: 33.11%;
  width: 33.33%;
  height: 85.2%;
  transform: translate(0.12600000000000477px, -0.17500000000001137px);
}
.group7 {
  transform: translate(-0.2400000000000091px, 0px);
  width: 58px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 268px;
}
.rectangle {
  background: rgba(21, 27, 33, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 12px;
}
.rectangleunnamedVariant {
  display: none;
}
.rectangleslids_unnamedVariant3 {
  display: none;
}
.text___3Wq9D {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.74%;
  left: 33.11%;
  width: 33.33%;
  height: 85.2%;
  transform: translate(0.1260000000000332px, -0.17500000000001137px);
}
.text__oDmNk {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: absolute;
  top: 63px;
  left: 0px;
  width: 350px;
  height: 16px;
}
.textunnamedVariant__oDmNkDv9B5 {
  display: none;
}
.textslids_unnamedVariant3__oDmNki1KiV {
  display: none;
}
.text___7SctQ {
  display: block;
  font-size: 32px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 42px;
}
.textunnamedVariant___7SctQDv9B5 {
  display: none;
}
.textslids_unnamedVariant3___7SctQi1KiV {
  display: none;
}
.group8 {
  width: 188px;
  height: 22px;
  display: block;
  position: absolute;
  left: 4px;
  top: 0px;
}
.group9 {
  width: 188px;
  height: 22px;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-shrink: 0;
  display: none;
}
.group9unnamedVariant {
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  display: block;
  margin: 20px;
}
.group9slids_unnamedVariant3 {
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  display: block;
  margin: 20px;
}
.text__wYgld {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: absolute;
  top: 0px;
  left: 32px;
}
.svg___40A0 {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  color: #a6aeb6;
  height: 1em;
}
.freeBox__nlgu0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__nlgu0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__nlgu0 > :global(.__wab_flex-container) > *,
.freeBox__nlgu0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nlgu0 > :global(.__wab_flex-container) > picture > img,
.freeBox__nlgu0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nlgu0 {
    width: 100%;
    justify-self: flex-start;
    height: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nlgu0 > :global(.__wab_flex-container) {
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant__nlgu0Dv9B5 {
    height: 100vh;
  }
}
.freeBox__dO1PX {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.img___6WuZh {
  object-fit: cover;
  max-width: 100%;
  width: 150px;
}
.img___6WuZh > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___6WuZh {
    width: 80px;
  }
}
.img__hdnt5 {
  object-fit: cover;
  max-width: 100%;
}
.img__hdnt5 > picture > img {
  object-fit: cover;
}
.imgslids_unnamedVariant__hdnt5Me9Ia {
  width: auto;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
  opacity: 0.1;
  min-height: 0;
  display: block !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imgslids_unnamedVariant__hdnt5Me9Ia {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
