.root {
  display: inline-flex;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #adffdc;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: var(--token-R6c1b-gPSxDB);
  padding: 2px;
}
.rootunnamedGroupOfVariants_red {
  background: #ffbbbd;
}
.rootunnamedGroupOfVariants_yellow {
  background: #ffe4ae;
}
.rootunnamedGroupOfVariants_blue {
  background: #aad3ff;
}
.rootunnamedGroupOfVariants_oreng {
  background: #ff710080;
}
.rootunnamedGroupOfVariants_unnamedVariant {
  background: none;
}
.rootshape_square {
  border-radius: var(--token-vAZ8o9ODdwJP);
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren {
  color: var(--token-fNYqKZOa5tL7);
  font-weight: 700;
}
.slotTargetChildrenunnamedGroupOfVariants_red {
  color: var(--token-8dHZNKgzL8aW);
}
.slotTargetChildrenunnamedGroupOfVariants_yellow {
  color: #e89b00;
}
.slotTargetChildrenunnamedGroupOfVariants_blue {
  color: var(--token-zeOmhvqK1boB);
}
.slotTargetChildrenunnamedGroupOfVariants_oreng {
  color: #ff3c00;
}
