.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBoxmore {
  margin-bottom: var(--token-vAZ8o9ODdwJP);
}
.text__weAqf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  min-width: 0;
  display: none;
}
.textmore__weAqfOk6Rt {
  color: var(--token-rrSDs4ZUYTcU);
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textmore__weAqfOk6Rt {
    font-weight: 500;
  }
}
.text__xHj5N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  min-width: 0;
}
.textmore__xHj5NOk6Rt {
  color: var(--token-rrSDs4ZUYTcU);
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textmore__xHj5NOk6Rt {
    font-weight: 500;
  }
}
