@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Vazirmatn%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Life+Savers%3Aital%2Cwght%400%2C400%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-K36Mbvo-rz2C: #5353535c;
  --plasmic-token-unnamed-style-token: var(--token-K36Mbvo-rz2C);
  --token-s7Z9BN_B1gNc: #2dc57b;
  --plasmic-token-green: var(--token-s7Z9BN_B1gNc);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_experiment_override),
.plasmic_default_styles:where(
    .global_unnamedGlobalGroupOfVariants_unnamedVariant
  ),
.plasmic_default_styles:where(
    .global_unnamedGlobalGroupOfVariants2_unnamedVariant
  ) {
  --mixin-n6feKYd1v6Hx_font-family: "Inter", sans-serif;
  --mixin-n6feKYd1v6Hx_font-size: 14px;
  --mixin-n6feKYd1v6Hx_font-weight: 400;
  --mixin-n6feKYd1v6Hx_font-style: normal;
  --mixin-n6feKYd1v6Hx_color: #535353;
  --mixin-n6feKYd1v6Hx_text-align: left;
  --mixin-n6feKYd1v6Hx_text-transform: none;
  --mixin-n6feKYd1v6Hx_line-height: 1.5;
  --mixin-n6feKYd1v6Hx_letter-spacing: normal;
  --mixin-n6feKYd1v6Hx_white-space: pre-wrap;
  --mixin-n6feKYd1v6Hx_user-select: text;
  --mixin-n6feKYd1v6Hx_text-decoration-line: none;
  --mixin-n6feKYd1v6Hx_text-overflow: clip;
  --mixin-n-Dqc3wEa9M-_color: #000000;
  --mixin-n-Dqc3wEa9M-_font-weight: 600;
  --mixin-n-Dqc3wEa9M-_font-size: 40px;
  --mixin-n-Dqc3wEa9M-_line-height: 1;
  --mixin-n-Dqc3wEa9M-_letter-spacing: -1px;
  --mixin-n-Dqc3wEa9M-_white-space: pre-wrap;
  --mixin-zoqc0sOHd_1J_color: #000000;
  --mixin-zoqc0sOHd_1J_font-size: 30px;
  --mixin-zoqc0sOHd_1J_font-weight: 600;
  --mixin-zoqc0sOHd_1J_line-height: 1.1;
  --mixin-zoqc0sOHd_1J_white-space: pre-wrap;
  --mixin-CSkn1plK7vhz_color: #0070f3;
  --mixin-CSkn1plK7vhz_white-space: pre-wrap;
  --mixin-gq4LludAHt-3_color: #000000;
  --mixin-gq4LludAHt-3_font-size: 24px;
  --mixin-gq4LludAHt-3_font-weight: 600;
  --mixin-gq4LludAHt-3_line-height: 1.2;
  --mixin-gq4LludAHt-3_white-space: pre-wrap;
  --mixin-GJufkL9mJNxJ_color: #000000;
  --mixin-GJufkL9mJNxJ_font-size: 20px;
  --mixin-GJufkL9mJNxJ_font-weight: 600;
  --mixin-GJufkL9mJNxJ_line-height: 1.3;
  --mixin-GJufkL9mJNxJ_white-space: pre-wrap;
  --mixin-oCnqUIu69Ly8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-oCnqUIu69Ly8_border-bottom-color: #dddddd;
  --mixin-oCnqUIu69Ly8_border-bottom-style: solid;
  --mixin-oCnqUIu69Ly8_border-bottom-width: 1px;
  --mixin-oCnqUIu69Ly8_border-left-color: #dddddd;
  --mixin-oCnqUIu69Ly8_border-left-style: solid;
  --mixin-oCnqUIu69Ly8_border-left-width: 1px;
  --mixin-oCnqUIu69Ly8_border-right-color: #dddddd;
  --mixin-oCnqUIu69Ly8_border-right-style: solid;
  --mixin-oCnqUIu69Ly8_border-right-width: 1px;
  --mixin-oCnqUIu69Ly8_border-top-color: #dddddd;
  --mixin-oCnqUIu69Ly8_border-top-style: solid;
  --mixin-oCnqUIu69Ly8_border-top-width: 1px;
  --mixin-oCnqUIu69Ly8_border-bottom-left-radius: 3px;
  --mixin-oCnqUIu69Ly8_border-bottom-right-radius: 3px;
  --mixin-oCnqUIu69Ly8_border-top-left-radius: 3px;
  --mixin-oCnqUIu69Ly8_border-top-right-radius: 3px;
  --mixin-oCnqUIu69Ly8_font-family: "Inconsolata";
  --mixin-oCnqUIu69Ly8_padding-bottom: 1px;
  --mixin-oCnqUIu69Ly8_padding-left: 4px;
  --mixin-oCnqUIu69Ly8_padding-right: 4px;
  --mixin-oCnqUIu69Ly8_padding-top: 1px;
  --mixin-oCnqUIu69Ly8_white-space: pre-wrap;
  --mixin-5ss8vv9uEWMH_border-left-color: #dddddd;
  --mixin-5ss8vv9uEWMH_border-left-style: solid;
  --mixin-5ss8vv9uEWMH_border-left-width: 3px;
  --mixin-5ss8vv9uEWMH_color: #888888;
  --mixin-5ss8vv9uEWMH_padding-left: 10px;
  --mixin-5ss8vv9uEWMH_white-space: pre-wrap;
  --mixin-QRHTTt480S6Z_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-QRHTTt480S6Z_border-bottom-color: #dddddd;
  --mixin-QRHTTt480S6Z_border-bottom-style: solid;
  --mixin-QRHTTt480S6Z_border-bottom-width: 1px;
  --mixin-QRHTTt480S6Z_border-left-color: #dddddd;
  --mixin-QRHTTt480S6Z_border-left-style: solid;
  --mixin-QRHTTt480S6Z_border-left-width: 1px;
  --mixin-QRHTTt480S6Z_border-right-color: #dddddd;
  --mixin-QRHTTt480S6Z_border-right-style: solid;
  --mixin-QRHTTt480S6Z_border-right-width: 1px;
  --mixin-QRHTTt480S6Z_border-top-color: #dddddd;
  --mixin-QRHTTt480S6Z_border-top-style: solid;
  --mixin-QRHTTt480S6Z_border-top-width: 1px;
  --mixin-QRHTTt480S6Z_border-bottom-left-radius: 3px;
  --mixin-QRHTTt480S6Z_border-bottom-right-radius: 3px;
  --mixin-QRHTTt480S6Z_border-top-left-radius: 3px;
  --mixin-QRHTTt480S6Z_border-top-right-radius: 3px;
  --mixin-QRHTTt480S6Z_font-family: "Inconsolata";
  --mixin-QRHTTt480S6Z_padding-bottom: 3px;
  --mixin-QRHTTt480S6Z_padding-left: 6px;
  --mixin-QRHTTt480S6Z_padding-right: 6px;
  --mixin-QRHTTt480S6Z_padding-top: 3px;
  --mixin-QRHTTt480S6Z_white-space: pre-wrap;
  --mixin-uedPdokFoByO_display: flex;
  --mixin-uedPdokFoByO_flex-direction: column;
  --mixin-uedPdokFoByO_align-items: stretch;
  --mixin-uedPdokFoByO_justify-content: flex-start;
  --mixin-uedPdokFoByO_list-style-position: outside;
  --mixin-uedPdokFoByO_padding-left: 40px;
  --mixin-uedPdokFoByO_position: relative;
  --mixin-uedPdokFoByO_list-style-type: disc;
  --mixin-uedPdokFoByO_white-space: pre-wrap;
  --mixin-jSmyhWOd4-wX_display: flex;
  --mixin-jSmyhWOd4-wX_flex-direction: column;
  --mixin-jSmyhWOd4-wX_align-items: stretch;
  --mixin-jSmyhWOd4-wX_justify-content: flex-start;
  --mixin-jSmyhWOd4-wX_list-style-position: outside;
  --mixin-jSmyhWOd4-wX_padding-left: 40px;
  --mixin-jSmyhWOd4-wX_position: relative;
  --mixin-jSmyhWOd4-wX_list-style-type: decimal;
  --mixin-jSmyhWOd4-wX_white-space: pre-wrap;
  --mixin-mXzjPKFQXfOi_color: #000000;
  --mixin-mXzjPKFQXfOi_font-size: 16px;
  --mixin-mXzjPKFQXfOi_font-weight: 600;
  --mixin-mXzjPKFQXfOi_line-height: 1.5;
  --mixin-mXzjPKFQXfOi_white-space: pre-wrap;
  --mixin-PP58-SNOszGW_color: #000000;
  --mixin-PP58-SNOszGW_font-size: 14px;
  --mixin-PP58-SNOszGW_font-weight: 600;
  --mixin-PP58-SNOszGW_line-height: 1.5;
  --mixin-PP58-SNOszGW_white-space: pre-wrap;
  --mixin-znCuOmtM5McE_color: #3291ff;
  --mixin-znCuOmtM5McE_white-space: pre-wrap;
  --mixin-0rUyhmr-8T3z_white-space: pre-wrap;
  --mixin-Gi3Icy6Qwu1Z_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-n6feKYd1v6Hx_font-family);
  font-size: var(--mixin-n6feKYd1v6Hx_font-size);
  font-weight: var(--mixin-n6feKYd1v6Hx_font-weight);
  font-style: var(--mixin-n6feKYd1v6Hx_font-style);
  color: var(--mixin-n6feKYd1v6Hx_color);
  text-align: var(--mixin-n6feKYd1v6Hx_text-align);
  text-transform: var(--mixin-n6feKYd1v6Hx_text-transform);
  line-height: var(--mixin-n6feKYd1v6Hx_line-height);
  letter-spacing: var(--mixin-n6feKYd1v6Hx_letter-spacing);
  white-space: var(--mixin-n6feKYd1v6Hx_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-n-Dqc3wEa9M-_color);
  font-weight: var(--mixin-n-Dqc3wEa9M-_font-weight);
  font-size: var(--mixin-n-Dqc3wEa9M-_font-size);
  line-height: var(--mixin-n-Dqc3wEa9M-_line-height);
  letter-spacing: var(--mixin-n-Dqc3wEa9M-_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-zoqc0sOHd_1J_color);
  font-size: var(--mixin-zoqc0sOHd_1J_font-size);
  font-weight: var(--mixin-zoqc0sOHd_1J_font-weight);
  line-height: var(--mixin-zoqc0sOHd_1J_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-CSkn1plK7vhz_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-gq4LludAHt-3_color);
  font-size: var(--mixin-gq4LludAHt-3_font-size);
  font-weight: var(--mixin-gq4LludAHt-3_font-weight);
  line-height: var(--mixin-gq4LludAHt-3_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-GJufkL9mJNxJ_color);
  font-size: var(--mixin-GJufkL9mJNxJ_font-size);
  font-weight: var(--mixin-GJufkL9mJNxJ_font-weight);
  line-height: var(--mixin-GJufkL9mJNxJ_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-oCnqUIu69Ly8_font-family);
  border-radius: var(--mixin-oCnqUIu69Ly8_border-top-left-radius)
    var(--mixin-oCnqUIu69Ly8_border-top-right-radius)
    var(--mixin-oCnqUIu69Ly8_border-bottom-right-radius)
    var(--mixin-oCnqUIu69Ly8_border-bottom-left-radius);
  padding: var(--mixin-oCnqUIu69Ly8_padding-top)
    var(--mixin-oCnqUIu69Ly8_padding-right)
    var(--mixin-oCnqUIu69Ly8_padding-bottom)
    var(--mixin-oCnqUIu69Ly8_padding-left);
  border-top: var(--mixin-oCnqUIu69Ly8_border-top-width)
    var(--mixin-oCnqUIu69Ly8_border-top-style)
    var(--mixin-oCnqUIu69Ly8_border-top-color);
  border-right: var(--mixin-oCnqUIu69Ly8_border-right-width)
    var(--mixin-oCnqUIu69Ly8_border-right-style)
    var(--mixin-oCnqUIu69Ly8_border-right-color);
  border-bottom: var(--mixin-oCnqUIu69Ly8_border-bottom-width)
    var(--mixin-oCnqUIu69Ly8_border-bottom-style)
    var(--mixin-oCnqUIu69Ly8_border-bottom-color);
  border-left: var(--mixin-oCnqUIu69Ly8_border-left-width)
    var(--mixin-oCnqUIu69Ly8_border-left-style)
    var(--mixin-oCnqUIu69Ly8_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-5ss8vv9uEWMH_color);
  padding-left: var(--mixin-5ss8vv9uEWMH_padding-left);
  border-left: var(--mixin-5ss8vv9uEWMH_border-left-width)
    var(--mixin-5ss8vv9uEWMH_border-left-style)
    var(--mixin-5ss8vv9uEWMH_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-QRHTTt480S6Z_font-family);
  border-radius: var(--mixin-QRHTTt480S6Z_border-top-left-radius)
    var(--mixin-QRHTTt480S6Z_border-top-right-radius)
    var(--mixin-QRHTTt480S6Z_border-bottom-right-radius)
    var(--mixin-QRHTTt480S6Z_border-bottom-left-radius);
  padding: var(--mixin-QRHTTt480S6Z_padding-top)
    var(--mixin-QRHTTt480S6Z_padding-right)
    var(--mixin-QRHTTt480S6Z_padding-bottom)
    var(--mixin-QRHTTt480S6Z_padding-left);
  border-top: var(--mixin-QRHTTt480S6Z_border-top-width)
    var(--mixin-QRHTTt480S6Z_border-top-style)
    var(--mixin-QRHTTt480S6Z_border-top-color);
  border-right: var(--mixin-QRHTTt480S6Z_border-right-width)
    var(--mixin-QRHTTt480S6Z_border-right-style)
    var(--mixin-QRHTTt480S6Z_border-right-color);
  border-bottom: var(--mixin-QRHTTt480S6Z_border-bottom-width)
    var(--mixin-QRHTTt480S6Z_border-bottom-style)
    var(--mixin-QRHTTt480S6Z_border-bottom-color);
  border-left: var(--mixin-QRHTTt480S6Z_border-left-width)
    var(--mixin-QRHTTt480S6Z_border-left-style)
    var(--mixin-QRHTTt480S6Z_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-uedPdokFoByO_display);
  flex-direction: var(--mixin-uedPdokFoByO_flex-direction);
  align-items: var(--mixin-uedPdokFoByO_align-items);
  justify-content: var(--mixin-uedPdokFoByO_justify-content);
  list-style-position: var(--mixin-uedPdokFoByO_list-style-position);
  padding-left: var(--mixin-uedPdokFoByO_padding-left);
  position: var(--mixin-uedPdokFoByO_position);
  list-style-type: var(--mixin-uedPdokFoByO_list-style-type);
  flex-column-gap: var(--mixin-uedPdokFoByO_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-jSmyhWOd4-wX_display);
  flex-direction: var(--mixin-jSmyhWOd4-wX_flex-direction);
  align-items: var(--mixin-jSmyhWOd4-wX_align-items);
  justify-content: var(--mixin-jSmyhWOd4-wX_justify-content);
  list-style-position: var(--mixin-jSmyhWOd4-wX_list-style-position);
  padding-left: var(--mixin-jSmyhWOd4-wX_padding-left);
  position: var(--mixin-jSmyhWOd4-wX_position);
  list-style-type: var(--mixin-jSmyhWOd4-wX_list-style-type);
  flex-column-gap: var(--mixin-jSmyhWOd4-wX_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-mXzjPKFQXfOi_color);
  font-size: var(--mixin-mXzjPKFQXfOi_font-size);
  font-weight: var(--mixin-mXzjPKFQXfOi_font-weight);
  line-height: var(--mixin-mXzjPKFQXfOi_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-PP58-SNOszGW_color);
  font-size: var(--mixin-PP58-SNOszGW_font-size);
  font-weight: var(--mixin-PP58-SNOszGW_font-weight);
  line-height: var(--mixin-PP58-SNOszGW_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-znCuOmtM5McE_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
