.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-SJ3G0IqcUE8k);
  min-width: 0;
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox__txzDn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-YJorFWlQWPQi);
  width: 100%;
  font-size: var(--token-843B-Ipj_99r);
  line-height: var(--token-YNpvUfDokFJS);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-ywLQfFEfnecC);
  padding: var(--token-ywLQfFEfnecC) var(--token-q4sKX2uPm3g_)
    var(--token-ywLQfFEfnecC) var(--token-PPqFMoBwqMwA);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-q4sKX2uPm3g_);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-q4sKX2uPm3g_);
  flex-shrink: 0;
  border-radius: var(--token-ywLQfFEfnecC);
  padding: var(--token-ywLQfFEfnecC) var(--token-PPqFMoBwqMwA);
  border: 1px none black;
}
.freeBox__vsnNi {
  display: flex;
  position: relative;
  flex-direction: column;
}
.svg {
  width: var(--token-UsppbaIX6NC8);
  height: var(--token-UsppbaIX6NC8);
  flex-shrink: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__hfMin {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
