.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-l3ItR7R_AHRe);
  position: relative;
  background: #ffffff40;
  min-width: 0;
  border-radius: 100px;
  padding: var(--token-LaEv2Dm1x3K9);
}
.item:global(.__wab_instance) {
  position: relative;
}
.itemsize_small:global(.__wab_instance) {
  width: auto;
}
