.frame {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  background: #2dc57b33;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  padding: 7px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame {
    width: 35px;
    height: 35px;
  }
}
.framefiled {
  background: #d9363e33;
}
.frameunnamedGroupOfVariants_intenet {
  align-items: center;
  justify-content: center;
}
.frameunnamedGroupOfVariants_waite {
  background: #faad1433;
}
.framedialog {
  padding: 20px;
}
.framewite {
  background: #faad1433;
}
.svg__cRwxw {
  object-fit: cover;
  max-width: 100%;
  color: #2dc57b;
  width: 100%;
  height: 100%;
  display: block;
  position: sticky;
  top: 2px;
  left: 2px;
  z-index: 10;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__cRwxw {
    display: block;
  }
}
.svgfiled__cRwxwZvsHy {
  color: #ff4d4f;
}
.svgunnamedGroupOfVariants_intenet__cRwxwmMJ6 {
  color: #2dc57b;
  display: none;
}
.svgunnamedGroupOfVariants_walet__cRwxwwSVt {
  display: none;
}
.svgunnamedGroupOfVariants_waite__cRwxwnm8L7 {
  color: var(--token-47ovROB-Xr2C);
}
.svgwite__cRwxwT15Jx {
  color: var(--token-47ovROB-Xr2C);
}
.svg__bzwy5 {
  object-fit: cover;
  max-width: 100%;
  color: #2dc57b;
  transform: translate(-0.0009999999999998899px, 0px);
  width: 30px;
  height: 30px;
  position: sticky;
  top: 4px;
  left: 2px;
  z-index: 1;
  transform-style: preserve-3d;
  flex-shrink: 0;
  display: none;
}
.svg__bzwy5 * {
  transform-style: preserve-3d;
}
.svgunnamedGroupOfVariants_intenet__bzwy5MMJ6 {
  transform-style: preserve-3d;
  display: block;
}
.svgunnamedGroupOfVariants_intenet__bzwy5MMJ6 * {
  transform-style: preserve-3d;
}
.svgunnamedGroupOfVariants_waite__bzwy5Nm8L7 {
  transform-style: preserve-3d;
}
.svgunnamedGroupOfVariants_waite__bzwy5Nm8L7 * {
  transform-style: preserve-3d;
}
.svgwite__bzwy5T15Jx {
  transform-style: preserve-3d;
}
.svgwite__bzwy5T15Jx * {
  transform-style: preserve-3d;
}
.svgfiled_unnamedGroupOfVariants_intenet__bzwy5ZvsHyMMJ6 {
  color: var(--token-fDNuFs9Skt3p);
  transform-style: preserve-3d;
}
.svgfiled_unnamedGroupOfVariants_intenet__bzwy5ZvsHyMMJ6 * {
  transform-style: preserve-3d;
}
.svgwite_unnamedGroupOfVariants_intenet__bzwy5T15JxMMJ6 {
  transform-style: preserve-3d;
}
.svgwite_unnamedGroupOfVariants_intenet__bzwy5T15JxMMJ6 * {
  transform-style: preserve-3d;
}
.svg__oOal {
  object-fit: cover;
  max-width: 100%;
  color: #2dc57b;
  width: 30px;
  height: 30px;
  position: sticky;
  top: 4px;
  left: 2px;
  z-index: 1;
  flex-shrink: 0;
  display: none;
}
.svgunnamedGroupOfVariants_walet__oOalwSVt {
  display: block;
}
.svgfiled_unnamedGroupOfVariants_walet__oOalZvsHyWSVt {
  color: var(--token-fDNuFs9Skt3p);
}
