.dialog:global(.__wab_instance) {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  max-width: 100%;
  object-fit: cover;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
}
.pcls_a-b4iDehAYyt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0f172a99;
  backdrop-filter: none;
  position: fixed;
  z-index: 999999;
  outline: none;
  -webkit-backdrop-filter: none;
  padding: var(--token-zB6Sy63cwwn1);
}
@media (min-width: 0px) and (max-width: 768px) {
  .pcls_7rR8eOd-MhlK {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    outline: none;
    padding: 0px;
  }
}
.pcls_QuAn2aZmMw0Z {
  outline: none;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .pcls_WO1bE5vSWw6x {
    outline: none;
    padding: 10px 0px 0px;
  }
}
.dialogContent:global(.__wab_instance) {
  box-shadow: 0px 4px 16px 0px #00000033;
  background: #192841;
  max-width: 600px;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  min-width: 600px;
  max-height: 100%;
  overflow: auto;
  border-radius: 16px;
  padding: var(--token-V6iPUxl66F8R);
}
@media (min-width: 0px) and (max-width: 768px) {
  .dialogContent:global(.__wab_instance) {
    width: 100%;
    min-width: 100%;
    max-width: auto;
    border-radius: 15px 15px 0px 0px;
  }
}
.dialogContentnoSpacing:global(.__wab_instance) {
  padding: 0px;
}
.dialogContentfullScreen:global(.__wab_instance) {
  height: 100%;
  width: 100%;
  max-width: none;
  min-width: auto;
  min-height: 0;
}
.freeBox__eaHPu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  padding: 60px 14px 16px;
}
.freeBox__eaHPu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - var(--token-l3ItR7R_AHRe));
  height: calc(100% + var(--token-l3ItR7R_AHRe));
}
.freeBox__eaHPu > :global(.__wab_flex-container) > *,
.freeBox__eaHPu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eaHPu > :global(.__wab_flex-container) > picture > img,
.freeBox__eaHPu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: var(--token-l3ItR7R_AHRe);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eaHPu {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.freeBoxhideHeader__eaHPu99Uby {
  display: none;
}
.freeBox__coQ0Q {
  display: flex;
  flex-direction: column;
  margin-top: calc(0px + var(--token-l3ItR7R_AHRe)) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  background: var(--token-gjo_xZNc-FZk);
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  padding: 16px 16px 40px;
}
.freeBox__coQ0Q > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__coQ0Q > :global(.__wab_flex-container) > *,
.freeBox__coQ0Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__coQ0Q > :global(.__wab_flex-container) > picture > img,
.freeBox__coQ0Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__coQ0Q {
    margin-left: calc(0px + 8px) !important;
    margin-top: calc(0px + var(--token-l3ItR7R_AHRe)) !important;
  }
}
.freeBox___0Asc5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-LaEv2Dm1x3K9);
}
.freeBox___0Asc5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-vAZ8o9ODdwJP));
  height: calc(100% + var(--token-vAZ8o9ODdwJP));
}
.freeBox___0Asc5 > :global(.__wab_flex-container) > *,
.freeBox___0Asc5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Asc5 > :global(.__wab_flex-container) > picture > img,
.freeBox___0Asc5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vAZ8o9ODdwJP);
}
.icons:global(.__wab_instance) {
  max-width: 100%;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.text__hbQXb {
  align-self: auto;
  font-size: var(--token--3UT6C2Na0g9);
  font-weight: 700;
  margin-bottom: 0px;
  color: var(--token-jgohepLVeKvh);
  margin-top: calc(10px + var(--token-vAZ8o9ODdwJP)) !important;
  margin-right: 0px;
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hbQXb {
    margin-top: calc(10px + var(--token-vAZ8o9ODdwJP)) !important;
  }
}
.text___919S8 {
  align-self: auto;
  font-size: var(--token-7Z4I3VkEvKuO);
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--token-jgohepLVeKvh);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  width: 100%;
  border-bottom-color: var(--token-2nGah04_w5MY);
  margin-top: calc(20px + 0px) !important;
  height: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-style: dashed;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___919S8 {
    height: auto;
    margin-top: calc(20px + 0px) !important;
  }
}
.freeBox__nhI8Y {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__nhI8Y > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__nhI8Y > :global(.__wab_flex-container) > *,
.freeBox__nhI8Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nhI8Y > :global(.__wab_flex-container) > picture > img,
.freeBox__nhI8Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__iP1I8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 12px;
}
.freeBox__iP1I8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__iP1I8 > :global(.__wab_flex-container) > *,
.freeBox__iP1I8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iP1I8 > :global(.__wab_flex-container) > picture > img,
.freeBox__iP1I8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.text__jHqun {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-nMbfJzF0Fhmf);
  color: var(--token-YJorFWlQWPQi);
}
.text__zvfBc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-nMbfJzF0Fhmf);
  font-weight: 700;
  color: var(--token-aCLVKlB2IKxe);
}
.freeBox__wfgsm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 16px;
  padding: 10px 16px;
  border: 3px solid var(--token-s7Z9BN_B1gNc);
}
.freeBox__wfgsm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__wfgsm > :global(.__wab_flex-container) > *,
.freeBox__wfgsm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wfgsm > :global(.__wab_flex-container) > picture > img,
.freeBox__wfgsm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.text__qzkoe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-nMbfJzF0Fhmf);
  color: var(--token-YJorFWlQWPQi);
}
.text__lw9Va {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-nMbfJzF0Fhmf);
  font-weight: 700;
  color: var(--token-aCLVKlB2IKxe);
}
.freeBox__tMely {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px 0px 0px;
}
.freeBox__tMely > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__tMely > :global(.__wab_flex-container) > *,
.freeBox__tMely > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tMely > :global(.__wab_flex-container) > picture > img,
.freeBox__tMely
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__lpRkE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__p0CPj {
  font-weight: 700;
  font-size: var(--token--3UT6C2Na0g9);
  padding-right: 0px;
}
.svg___7H6Ke {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___4PTnJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zZxSp {
  font-weight: 700;
  font-size: var(--token--3UT6C2Na0g9);
  padding-right: 0px;
}
.svg__yGghj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dialogClose:global(.__wab_instance) {
  position: absolute;
  top: 16px;
  opacity: 0.7;
  object-fit: cover;
  width: auto;
  left: 16px;
  border-radius: 999px;
}
.dialogClosehideHeader:global(.__wab_instance) {
  display: none;
}
.svg__g0Di {
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
  height: 1em;
}
.freeBox__sanFb {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: var(--token-s7Z9BN_B1gNc);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  right: 0;
  padding: 14px 15px 14px 16px;
}
.freeBox__sanFb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__sanFb > :global(.__wab_flex-container) > *,
.freeBox__sanFb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sanFb > :global(.__wab_flex-container) > picture > img,
.freeBox__sanFb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sanFb {
    left: 0;
    top: 0;
    right: 0;
    width: auto;
  }
}
.freeBox__mugA5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mugA5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__mugA5 > :global(.__wab_flex-container) > *,
.freeBox__mugA5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mugA5 > :global(.__wab_flex-container) > picture > img,
.freeBox__mugA5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__mkphn {
  color: var(--token-aCLVKlB2IKxe);
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-left: calc(0px + 8px) !important;
}
.svg__hv4Hd {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aCLVKlB2IKxe);
  width: 25px;
  height: 25px;
  cursor: pointer;
  flex-shrink: 0;
}
.freeBox__fFcVl {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 220px;
  right: 0;
  padding: 0px;
}
.freeBox__fFcVl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__fFcVl > :global(.__wab_flex-container) > *,
.freeBox__fFcVl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fFcVl > :global(.__wab_flex-container) > picture > img,
.freeBox__fFcVl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fFcVl {
    left: 0;
    top: 220px;
    bottom: auto;
    right: 0;
    width: auto;
  }
}
.freeBox__jTBms {
  display: block;
  width: 55px;
  height: 55px;
  max-width: 100%;
  background: #192841;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 8px;
}
