.root {
  display: block;
  position: relative;
  width: 100%;
  height: 0px;
  justify-self: flex-start;
  background: transparent;
  opacity: 1;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: skew(0deg, 0deg);
  transform-style: preserve-3d;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
}
.root * {
  transform-style: preserve-3d;
}
.rootclick {
  opacity: 1;
  background: #00000033;
  transform: skew(0deg, 0deg);
  height: 100%;
  transform-style: preserve-3d;
  min-height: 0;
}
.rootclick * {
  transform-style: preserve-3d;
}
.freeBox__xMk5 {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 5;
  right: 0;
  bottom: 0;
  background: #ffffff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition-property: all;
  transition-duration: 0.6s;
  transform: translate3d(0px, 1000px, 0px);
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.6s;
  padding: 8px;
}
.freeBox__xMk5 * {
  transform-style: preserve-3d;
}
.freeBoxclick__xMk5NPwMr {
  transform: translate3d(0%, 0px, 0px);
  height: auto;
  transform-style: preserve-3d;
}
.freeBoxclick__xMk5NPwMr * {
  transform-style: preserve-3d;
}
.section___0Ynd3 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  max-height: 500px;
  height: 300px;
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___0Ynd3 > * {
  grid-column: 4;
}
.freeBox__xx1Tz {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: #ffffff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition-property: all;
  transition-duration: 0.6s;
  transform: translate3d(0px, 1000px, 0px);
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.6s;
  padding: 8px;
}
.freeBox__xx1Tz * {
  transform-style: preserve-3d;
}
.freeBoxclick__xx1TzNPwMr {
  transform: translate3d(0%, 0px, 0px);
  height: 100%;
  width: 100%;
  background: none;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.freeBoxclick__xx1TzNPwMr * {
  transform-style: preserve-3d;
}
