.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#1e2c39, #1e2c39), var(--token-Pxe4wDL2kJpb);
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 80px 0px 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-top: 60px;
    background: #1e2c39;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootglobal_experiment_override > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_experiment_override > * {
    grid-column: 4;
  }
}
.rootno > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootno > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #1e2c39;
  box-shadow: 0px 12px 16px 0px #00000047;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 10px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    top: 0;
    right: 0;
    left: 0;
    width: auto;
  }
}
.svg__x6IBd {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 80px;
  position: absolute;
  left: 47%;
  top: -2px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__x6IBd {
    left: 38%;
    width: 100px;
    height: 100px;
    max-width: 100%;
    top: -15px;
    flex-shrink: 0;
  }
}
.svg__xu0XD {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__xu0XD {
    width: 30px;
    height: 40px;
    max-width: 100%;
    cursor: pointer;
    flex-shrink: 0;
  }
}
.svg__tugfH {
  object-fit: cover;
  max-width: 100%;
  color: #5ed5a8;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__tugfH {
    color: #5ed5a8;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: auto;
  background: #19242f;
  left: auto;
  top: auto;
  z-index: 1;
  margin-bottom: 10px;
  box-shadow: 5px -10px 20px -10px #00000087;
  bottom: 0;
  right: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 10px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    height: auto;
    justify-content: center;
    align-items: flex-end;
    max-width: 95%;
  }
}
.snapp2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.snapp2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.snapp2 > :global(.__wab_flex-container) > *,
.snapp2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.snapp2 > :global(.__wab_flex-container) > picture > img,
.snapp2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .snapp2 {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.vuesaxBoldHome {
  filter: none;
  width: 50px;
  height: 50px;
  display: block;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .vuesaxBoldHome {
    width: 25px;
    height: 25px;
    filter: none;
    flex-shrink: 0;
  }
}
.svg__brF2 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-hb610yGAurc2);
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__brF2 {
    width: 25px;
    height: 25px;
    color: var(--token-hb610yGAurc2);
  }
}
.text__mwKyd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-hb610yGAurc2);
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mwKyd {
    font-weight: 700;
    font-size: 12px;
    color: var(--token-hb610yGAurc2);
  }
}
.charge2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.charge2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.charge2 > :global(.__wab_flex-container) > *,
.charge2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.charge2 > :global(.__wab_flex-container) > picture > img,
.charge2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .charge2 {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.vuesaxBoldReceipt2 {
  filter: drop-shadow(0px 5px 8px rgba(93, 212, 167, 0.25));
  width: 50px;
  height: 50px;
  display: block;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .vuesaxBoldReceipt2 {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
}
.svg__nociW {
  object-fit: cover;
  max-width: 100%;
  color: #2dc57b;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__nociW {
    width: 25px;
    height: 25px;
  }
}
.text__x5X3G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__x5X3G {
    font-size: 12px;
  }
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.wallet {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 90vh;
  max-width: 100%;
  background: none;
  margin-top: 0px;
  box-shadow: none;
  margin-bottom: 0px;
  justify-self: flex-start;
  min-width: 0;
  padding: 5px 0px 0px;
}
.wallet > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.wallet > :global(.__wab_flex-container) > *,
.wallet > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wallet > :global(.__wab_flex-container) > picture > img,
.wallet
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet {
    max-width: 100%;
    background: none;
    height: 100%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: space-between;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet > :global(.__wab_flex-container) > *,
  .wallet > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .wallet > :global(.__wab_flex-container) > picture > img,
  .wallet
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__iJtS {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iJtS {
    display: none;
    padding: 0px;
  }
}
.text__ys9Ub {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ys9Ub {
    font-size: 16px;
  }
}
.button__hp9E2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wwYy9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___9QzBb {
  color: #2dc57b;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9QzBb {
    font-size: 12px;
    color: #2dc57b;
  }
}
.svg__gpEts {
  position: relative;
  object-fit: cover;
  width: 30px;
  height: 30px;
  color: #2dc57b;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__gpEts {
    color: #2dc57b;
    width: 20px;
    height: 20px;
    left: -17px;
    top: -12px;
    z-index: 1;
    position: absolute;
  }
}
.tabsContainer:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.freeBox___7P6N7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7P6N7 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__dI8Fs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dI8Fs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__dI8Fs > :global(.__wab_flex-container) > *,
.freeBox__dI8Fs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dI8Fs > :global(.__wab_flex-container) > picture > img,
.freeBox__dI8Fs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.tabButton__grleN:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tabButton__grleN:global(.__wab_instance) {
    z-index: 0;
  }
}
.freeBox__pA9O9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  z-index: 10;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pA9O9 {
    z-index: 50;
  }
}
.text__oarzD {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
.tabButton__x7TGo:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.freeBox__rwt0S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.text__bmP1N {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding-bottom: 0px;
  min-width: 0;
}
.tabButton__u6GNm:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.freeBox__aZjNb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.text__uy6Ev {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding-bottom: 0px;
  min-width: 0;
}
.tabUnderline:global(.__wab_instance) {
  background: var(--token-s7Z9BN_B1gNc);
  height: 2px;
  max-width: 100%;
  object-fit: cover;
  width: 100px;
  flex-shrink: 0;
  border: 2px solid var(--token-s7Z9BN_B1gNc);
}
.freeBox__tvBAn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tvBAn {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.tabContent__og3D5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__mJaif {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__mJaif > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__mJaif > :global(.__wab_flex-container) > *,
.freeBox__mJaif > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mJaif > :global(.__wab_flex-container) > picture > img,
.freeBox__mJaif
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mJaif {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.transactionBoxno__aIvlR7Cleb:global(.__wab_instance) {
  display: none;
}
.freeBox__ryyTd {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__bPjsC {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bPjsC {
    font-size: 12px;
  }
}
.text___257Cd {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___257Cd {
    font-size: 12px;
  }
}
.freeBox___4J1Lh {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__x3Wn7 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #8d9eaf;
  font-size: 16px;
  padding-top: 2px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__x3Wn7 {
    font-size: 9px;
  }
}
.img___9LaBu {
  object-fit: cover;
  max-width: 100%;
  width: 150px;
}
.img___9LaBu > picture > img {
  object-fit: cover;
}
.tabContent__hHaCh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__c5S4T {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__c5S4T > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__c5S4T > :global(.__wab_flex-container) > *,
.freeBox__c5S4T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c5S4T > :global(.__wab_flex-container) > picture > img,
.freeBox__c5S4T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c5S4T {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.transactionBoxno__rYx6I7Cleb:global(.__wab_instance) {
  display: none;
}
.freeBox__tk8Ms {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__wKvnP {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wKvnP {
    font-size: 12px;
  }
}
.text__cwUCz {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cwUCz {
    font-size: 12px;
  }
}
.freeBox__vFdJv {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___55Kcq {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #8d9eaf;
  font-size: 16px;
  padding-top: 2px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___55Kcq {
    font-size: 9px;
  }
}
.img__nd3H {
  object-fit: cover;
  max-width: 100%;
  width: 150px;
}
.img__nd3H > picture > img {
  object-fit: cover;
}
.tabContent__wy0Ga:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__s4B1U {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__s4B1U > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__s4B1U > :global(.__wab_flex-container) > *,
.freeBox__s4B1U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s4B1U > :global(.__wab_flex-container) > picture > img,
.freeBox__s4B1U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s4B1U {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.transactionBoxno__h1JyW7Cleb:global(.__wab_instance) {
  display: none;
}
.freeBox__agD6A {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___649Jp {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___649Jp {
    font-size: 12px;
  }
}
.text__dZxVm {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dZxVm {
    font-size: 12px;
  }
}
.freeBox__spOZh {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___5HyOf {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #8d9eaf;
  font-size: 16px;
  padding-top: 2px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5HyOf {
    font-size: 9px;
  }
}
.img__zjDzg {
  object-fit: cover;
  max-width: 100%;
  width: 150px;
}
.img__zjDzg > picture > img {
  object-fit: cover;
}
.freeBox___5MnOu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__otIeN:global(.__wab_instance) {
  max-width: 100%;
}
.svg___1Ywet {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: var(--token-s7Z9BN_B1gNc);
}
.svg__zOFl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gKy0S {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  color: var(--token-as44I7WwR-rZ);
}
.button___3XA3J:global(.__wab_instance) {
  max-width: 100%;
}
.svg__od3Qo {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: var(--token-s7Z9BN_B1gNc);
}
.svg__lmrGr {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: var(--token-s7Z9BN_B1gNc);
}
.freeBox__z3HRp {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  display: none;
  padding: 250px;
}
.freeBoxno__z3HRp7Cleb {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxno__z3HRp7Cleb {
    padding: 200px 100px 100px;
  }
}
.img__sW4Gv {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__sW4Gv > picture > img {
  object-fit: cover;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
}
.modal__modal :global(.ant-modal-content) {
  background: #1e2c39;
  outline: none;
  border-radius: 0px;
}
.modal__modal :global(.ant-modal-close) {
  color: #ffffff;
  outline: none;
}
.freeBox__v19T {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v19T {
    align-items: center;
    justify-content: center;
  }
}
.text__aGz5Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding-top: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aGz5Z {
    left: 8px;
    top: 8px;
    z-index: 1;
    position: fixed;
  }
}
.freeBox__blzPa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #243444;
  border-radius: 20px;
  padding: 24px;
  margin: 10px;
}
.freeBox__blzPa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__blzPa > :global(.__wab_flex-container) > *,
.freeBox__blzPa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__blzPa > :global(.__wab_flex-container) > picture > img,
.freeBox__blzPa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.transaction2:global(.__wab_instance) {
  position: relative;
  margin-top: calc(0px + 5px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox__uQxTh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__a4FNw {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 16px;
  text-align: right;
}
.text__c8OJz {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
}
.freeBox__eqZl7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__g0F7F {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
}
.text___4ZorO {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 14px;
}
.freeBox__lMMc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 0px;
  max-width: 100%;
  align-self: flex-start;
  margin-bottom: 8px;
  min-width: 0;
  padding: 8px;
  border-bottom: 5px dashed var(--token-2aHIw8xI62Xi);
}
.freeBox__xMdUs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__c1Cp {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
}
.text__rhtLj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
}
.freeBox___2Aole {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__z9F8F {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
}
.text__wcBN {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
}
.freeBox__atx4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__wZOoq {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
  min-width: 0;
}
.text__vhT9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  min-width: 0;
}
.button__sqdp8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: calc(0px + 5px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__sqdp8:global(.__wab_instance) {
    margin-top: calc(0px + 5px) !important;
  }
}
.svg__sxvK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___9Umyp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.img__bB4IY {
  object-fit: cover;
  max-width: 100%;
}
.img__bB4IY > picture > img {
  object-fit: cover;
}
.imgno__bB4IY7Cleb {
  display: none !important;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.modal2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
}
.modal2__modal :global(.ant-modal-content) {
  background: #1e2c39;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .modal2:global(.__wab_instance) {
    left: 0;
    top: auto;
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 493px;
    margin-bottom: 0px;
  }
}
.freeBox__bqfd1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__s6YkF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  min-width: 0;
}
.freeBox__gsX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gAu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 20px;
  color: #ffffff;
  min-width: 0;
}
.freeBox__pzs0K {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__pzs0K > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__pzs0K > :global(.__wab_flex-container) > *,
.freeBox__pzs0K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pzs0K > :global(.__wab_flex-container) > picture > img,
.freeBox__pzs0K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pzs0K {
    display: flex;
    flex-direction: row;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pzs0K > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pzs0K > :global(.__wab_flex-container) > *,
  .freeBox__pzs0K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pzs0K > :global(.__wab_flex-container) > picture > img,
  .freeBox__pzs0K
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.radioGroup2:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  flex-wrap: wrap;
  align-content: stretch;
  opacity: 0.95;
  min-width: 0;
  column-gap: 10px;
  row-gap: 10px;
  padding: 8px;
}
.radioButton__yCeNc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  text-align: center;
  border-radius: 12px;
}
.text__mR4Rs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.radioButton__qJuQa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  text-align: center;
  border-radius: 12px;
}
.text__v3Oj0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.radioButton__daHDy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  text-align: center;
  border-radius: 12px;
}
.text__ecdsN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.radioButton__aiZg8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  text-align: center;
  border-radius: 12px;
}
.text__t2CRc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.radioButton__nhJh1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  text-align: center;
  border-radius: 12px;
}
.text__t8JEi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.radioButton__jn67C:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  text-align: center;
  border-radius: 12px;
}
.text__he5Cm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__xjOHi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__xa1P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 20px;
  color: #ffffff;
  min-width: 0;
}
.radioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  flex-wrap: wrap;
  align-content: stretch;
  opacity: 0.95;
  min-width: 0;
  column-gap: 10px;
  row-gap: 10px;
  padding: 8px;
}
.radioButton__rkmXy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100px;
  text-align: center;
  border-radius: 12px;
}
.text__ajdb3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.radioButton__aRl9T:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100px;
  text-align: center;
  border-radius: 12px;
}
.text__uTf2B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.radioButton__p8Ssk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100px;
  text-align: center;
  border-radius: 12px;
}
.text___8I7Dz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.radioButton__tdAc8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100px;
  text-align: center;
  border-radius: 12px;
}
.text__wiz44 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.freeBox___73HFh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.button___9Sdsp:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__afVxK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jb9Yl {
  font-size: 16px;
}
.svg___6MMp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
