.root {
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #1e2c39;
  overflow: auto;
  position: relative;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    justify-items: center;
    align-content: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootglobal_experiment_override > * {
  grid-column: 4;
}
.rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant > * {
  grid-column: 4;
}
.rootglobal_unnamedGlobalGroupOfVariants2_unnamedVariant_global_unnamedGlobalGroupOfVariants_unnamedVariant
  > * {
  grid-column: 4;
}
.rootunnamedVariant > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootunnamedVariant > * {
    grid-column: 4;
  }
}
.rootunnamedVariant2 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootunnamedVariant2 > * {
    grid-column: 4;
  }
}
.rootpassword > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootpassword > * {
    grid-column: 4;
  }
}
.rootloginByPassword > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootloginByPassword > * {
    grid-column: 4;
  }
}
.rootunnamedVariant_unnamedVariant2 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootunnamedVariant_unnamedVariant2 > * {
    grid-column: 4;
  }
}
.rootunnamedVariant_password > * {
  grid-column: 4;
}
.rootpassword_unnamedVariant2 > * {
  grid-column: 4;
}
.rootunnamedVariant_loginByPassword > * {
  grid-column: 4;
}
.rootloginByPassword_unnamedVariant2 > * {
  grid-column: 4;
}
.rootloginByPassword_password > * {
  grid-column: 4;
}
.rootunnamedVariant_password_unnamedVariant2 > * {
  grid-column: 4;
}
.rootunnamedVariant_loginByPassword_unnamedVariant2 > * {
  grid-column: 4;
}
.rootloginByPassword_password_unnamedVariant2 > * {
  grid-column: 4;
}
.rootunnamedVariant_loginByPassword_password_unnamedVariant2 > * {
  grid-column: 4;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal:global(.__wab_instance) {
    height: 100vh;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    display: flex;
  }
}
.freeBox___6HvRd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 8px;
  margin: 30px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6HvRd {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin-top: 0px;
    justify-content: center;
  }
}
.freeBoxunnamedVariant___6HvRdBNary {
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant___6HvRdBNary {
    margin-top: 0px;
    margin-bottom: 0px;
    left: auto;
    top: auto;
    right: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxpassword___6HvRdVrixq {
    justify-content: center;
    align-items: center;
  }
}
.freeBox___5PujS {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5PujS {
    position: absolute;
    top: 0px;
    left: auto;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant___5PujSbNary {
    position: absolute;
    top: 0px;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant2___5PujStCajl {
    position: absolute;
    left: auto;
    top: 0px;
    right: auto;
  }
}
.freeBoxpassword___5PujSvrixq {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxpassword___5PujSvrixq {
    position: absolute;
    left: auto;
    top: 0;
    right: auto;
  }
}
.freeBoxloginByPassword___5PujSgqb7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  column-gap: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxloginByPassword___5PujSgqb7 {
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.svg__o73GI {
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 100%;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__o73GI {
    width: 120px;
    height: 100%;
    min-height: 0;
  }
}
.svgpassword__o73GIvrixq {
  color: #2dc57b;
  width: 150px;
  height: 100%;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svgpassword__o73GIvrixq {
    position: relative;
    left: auto;
    top: auto;
    width: 120px;
    height: 100%;
    min-height: 0;
  }
}
.text__iAtsS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-rrSDs4ZUYTcU);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  min-width: 0;
}
.username {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 90%;
  left: auto;
  top: auto;
  z-index: 1;
  row-gap: 20px;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .username {
    left: auto;
    top: auto;
  }
}
.usernameunnamedVariant {
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .usernameunnamedVariant {
    left: auto;
    top: auto;
  }
}
.usernameunnamedVariant2 {
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .usernameunnamedVariant2 {
    left: auto;
    top: auto;
  }
}
.usernamepassword {
  justify-content: space-evenly;
  left: auto;
  top: auto;
  row-gap: 10px;
  column-gap: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .usernamepassword {
    left: auto;
    top: auto;
    row-gap: 0px;
    column-gap: 0px;
  }
}
.usernameloginByPassword {
  justify-content: space-evenly;
  left: auto;
  top: auto;
  row-gap: 10px;
  column-gap: 0px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .usernameloginByPassword {
    left: auto;
    top: auto;
  }
}
.usernameunnamedVariant_unnamedVariant2 {
  left: auto;
  top: auto;
}
.usernamepassword_unnamedVariant2 {
  left: auto;
  top: auto;
}
.usernameloginByPassword_password {
  left: auto;
  top: auto;
}
.freeBox__ijwgb {
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.freeBoxunnamedVariant__ijwgbBNary {
  justify-content: space-between;
  display: flex;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant__ijwgbBNary {
    position: sticky;
    top: 0px;
    left: 0px;
  }
}
.freeBoxloginByPassword__ijwgbGqb7 {
  align-self: auto;
  display: none;
}
.text__kxa2A {
  display: block;
  font-size: 24px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kxa2A {
    font-size: 20px;
  }
}
.textunnamedVariant__kxa2ABNary {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__kxa2ABNary {
    letter-spacing: normal;
    height: 30px;
    line-height: 1.5;
  }
}
.textpassword__kxa2AVrixq {
  text-align: right;
  font-size: 18px;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textpassword__kxa2AVrixq {
    font-size: 16px;
    display: none;
  }
}
.textloginByPassword__kxa2AGqb7 {
  font-size: 18px;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.button4unnamedVariant:global(.__wab_instance) {
  display: flex;
}
.svg__fmn5U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___3F4Gd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zi0Wx {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: sticky;
  top: 68px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zi0Wx {
    letter-spacing: normal;
    text-align: justify;
    line-height: 150%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__zi0WxBNary {
    line-height: 1.5;
    height: 30px;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.textpassword__zi0WxVrixq {
  display: none;
}
.textloginByPassword__zi0WxGqb7 {
  display: none;
}
.freeBox__xCgro {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: auto;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxloginByPassword__xCgroGqb7 {
  display: none;
}
.fragmentInput4:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-DbGdjBpQ6R_X);
  background: #161e26;
  height: 50px;
  font-size: 16px;
  text-align: left;
  padding-left: 100px;
  min-width: 0;
  border: 1px solid #161e26;
}
.fragmentInput4unnamedVariant:global(.__wab_instance) {
  display: none;
}
.fragmentInput4unnamedVariant2:global(.__wab_instance) {
  display: none;
}
.fragmentInput4password:global(.__wab_instance) {
  display: none;
}
.freeBox__p4PD {
  display: flex;
  position: absolute;
  width: 95px;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0px;
}
.select3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  text-align: left;
  color: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  font-size: 13px;
}
.select3unnamedVariant:global(.__wab_instance) {
  display: none;
}
.select3unnamedVariant2:global(.__wab_instance) {
  display: none;
}
.select3password:global(.__wab_instance) {
  display: none;
}
.text___1IDqV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-s7Z9BN_B1gNc);
  text-decoration-line: underline;
  font-size: 16px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1IDqV {
    font-size: 14px;
  }
}
.textunnamedVariant___1IDqVbNary {
  display: none;
}
.textunnamedVariant2___1IDqVtCajl {
  display: none;
}
.textpassword___1IDqVvrixq {
  display: none;
}
.textloginByPassword___1IDqVgqb7 {
  display: none;
}
.text__icaL {
  font-size: 24px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  align-self: auto;
  min-width: 0;
  min-height: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__icaLBNary {
    position: sticky;
    left: 0px;
    top: 0px;
    letter-spacing: normal;
    height: 30px;
    line-height: 1.5;
    flex-shrink: 0;
  }
}
.textpassword__icaLVrixq {
  text-align: right;
  font-size: 18px;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textpassword__icaLVrixq {
    font-size: 16px;
    display: block;
  }
}
.textloginByPassword__icaLGqb7 {
  font-size: 18px;
  align-self: auto;
  display: block;
}
.text__mA6Rs {
  font-size: 18px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: var(--token-s7Z9BN_B1gNc);
  position: sticky;
  top: 68px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-bottom: 0px;
  text-decoration-line: underline;
  min-width: 0;
  min-height: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mA6Rs {
    letter-spacing: normal;
    text-align: center;
    line-height: 150%;
    font-size: 16px;
  }
}
.textunnamedVariant__mA6RsBNary {
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__mA6RsBNary {
    line-height: 1.5;
    height: 30px;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.textpassword__mA6RsVrixq {
  display: none;
}
.textloginByPassword__mA6RsGqb7 {
  display: none;
}
.freeBox__n4EL {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: auto;
  min-width: 0;
  display: none;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n4EL {
    top: auto;
    left: auto;
  }
}
.freeBoxunnamedVariant__n4ELbNary {
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant__n4ELbNary {
    top: auto;
    left: auto;
  }
}
.freeBoxunnamedVariant2__n4ELtCajl {
  top: auto;
  left: auto;
}
.freeBoxpassword__n4ELvrixq {
  top: auto;
  left: auto;
  display: flex;
}
.freeBoxloginByPassword__n4ELgqb7 {
  top: auto;
  left: auto;
  display: flex;
}
.fragmentInput5:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-DbGdjBpQ6R_X);
  background: #161e26;
  height: 50px;
  font-size: 16px;
  text-align: right;
  min-width: 0;
  border: 1px solid #161e26;
}
.fragmentInput5unnamedVariant:global(.__wab_instance) {
  display: none;
}
.fragmentInput5unnamedVariant2:global(.__wab_instance) {
  display: none;
}
.fragmentInput5password:global(.__wab_instance) {
  display: flex;
}
.freeBox__ldlJj {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 25px;
  min-width: 0;
  display: none;
  padding: 0px 15px;
}
.freeBoxunnamedVariant__ldlJjBNary {
  height: 50px;
  flex-shrink: 0;
  display: flex;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant__ldlJjBNary {
    padding: 0px;
  }
}
.fragmentInput6:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-DbGdjBpQ6R_X);
  background: #161e26;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  align-self: auto;
  height: 50px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 50px;
  min-width: 0;
  margin: 0px;
  border: 1px solid #161e26;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fragmentInput6:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.fragmentInput6unnamedVariant:global(.__wab_instance) {
  left: auto;
  top: auto;
  font-size: 32px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fragmentInput6unnamedVariant:global(.__wab_instance) {
    left: auto;
    top: auto;
    font-size: 30px;
    text-align: center;
  }
}
.text__xcDsY {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 160px;
  height: 17px;
  flex-shrink: 0;
  display: none;
}
.textunnamedVariant__xcDsYbNary {
  position: relative;
  left: auto;
  top: auto;
  text-align: center;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__xcDsYbNary {
    text-align: center;
    width: 100%;
    height: auto;
    line-height: 1.5;
    letter-spacing: normal;
    min-width: 0;
    display: block;
  }
}
.timer__ga7VV:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__b8VzG {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 160px;
  height: 17px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__b8VzG {
    left: auto;
    top: auto;
  }
}
.textunnamedVariant__b8VzGbNary {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #2dc57b;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__b8VzGbNary {
    text-align: center;
    width: 100%;
    height: auto;
    left: auto;
    top: auto;
    line-height: 1.5;
    letter-spacing: normal;
    min-width: 0;
    display: block;
  }
}
.select4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #161e26;
  width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
  display: none;
  border-radius: 12px;
}
.select4unnamedVariant2:global(.__wab_instance) {
  height: 50px;
  font-size: 16px;
  text-align: right;
  padding-top: 5px;
  flex-shrink: 0;
  display: flex;
}
.svg__uXxua {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 20px;
  height: 20px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
}
@media (min-width: 0px) and (max-width: 768px) {
  .svgunnamedVariant2__uXxuAtCajl {
    transform: none;
  }
}
.freeBox__jcgz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 90%;
  left: auto;
  top: auto;
  z-index: 1;
  row-gap: 20px;
  min-width: 0;
  padding: 0px;
}
.freeBoxpassword__jcgzVrixq {
  justify-content: space-evenly;
  row-gap: 10px;
  column-gap: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxpassword__jcgzVrixq {
    row-gap: 0px;
    column-gap: 0px;
  }
}
.freeBoxloginByPassword__jcgzGqb7 {
  justify-content: space-evenly;
  row-gap: 10px;
  column-gap: 0px;
}
.freeBox__dyRl {
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.freeBoxunnamedVariant__dyRlBNary {
  justify-content: space-between;
  display: flex;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant__dyRlBNary {
    position: sticky;
    top: 0px;
    left: 0px;
  }
}
.freeBoxloginByPassword__dyRlGqb7 {
  align-self: auto;
  display: none;
}
.text__leJ8V {
  display: block;
  font-size: 24px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__leJ8V {
    font-size: 20px;
  }
}
.textunnamedVariant__leJ8VbNary {
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__leJ8VbNary {
    letter-spacing: normal;
    height: 30px;
    line-height: 1.5;
  }
}
.textpassword__leJ8Vvrixq {
  text-align: right;
  font-size: 18px;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textpassword__leJ8Vvrixq {
    font-size: 16px;
    display: none;
  }
}
.textloginByPassword__leJ8Vgqb7 {
  font-size: 18px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.buttonunnamedVariant:global(.__wab_instance) {
  display: flex;
}
.svg__v8MPu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uzGeP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__uvJgc {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: sticky;
  top: 68px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uvJgc {
    letter-spacing: normal;
    text-align: justify;
    line-height: 150%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__uvJgcBNary {
    line-height: 1.5;
    height: 30px;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.textpassword__uvJgcVrixq {
  display: none;
}
.textloginByPassword__uvJgcGqb7 {
  display: none;
}
.freeBox__yNwp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: auto;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxloginByPassword__yNwpGqb7 {
  display: none;
}
.fragmentInput:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-DbGdjBpQ6R_X);
  background: #161e26;
  height: 50px;
  font-size: 16px;
  text-align: left;
  padding-left: 100px;
  min-width: 0;
  border: 1px solid #161e26;
}
.fragmentInputunnamedVariant:global(.__wab_instance) {
  display: none;
}
.fragmentInputunnamedVariant2:global(.__wab_instance) {
  display: none;
}
.fragmentInputpassword:global(.__wab_instance) {
  display: none;
}
.freeBox__pqRl9 {
  display: flex;
  position: absolute;
  width: 95px;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0px;
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  text-align: left;
  color: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  font-size: 13px;
}
.select2unnamedVariant:global(.__wab_instance) {
  display: none;
}
.select2unnamedVariant2:global(.__wab_instance) {
  display: none;
}
.select2password:global(.__wab_instance) {
  display: none;
}
.text___0Fcc8 {
  font-size: 24px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  align-self: auto;
  min-width: 0;
  min-height: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant___0Fcc8BNary {
    position: sticky;
    left: 0px;
    top: 0px;
    letter-spacing: normal;
    height: 30px;
    line-height: 1.5;
    flex-shrink: 0;
  }
}
.textpassword___0Fcc8Vrixq {
  text-align: right;
  font-size: 18px;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textpassword___0Fcc8Vrixq {
    font-size: 16px;
    display: block;
  }
}
.textloginByPassword___0Fcc8Gqb7 {
  font-size: 18px;
  align-self: auto;
  display: block;
}
.text__z02RT {
  font-size: 18px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: var(--token-s7Z9BN_B1gNc);
  position: sticky;
  top: 68px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-bottom: 0px;
  text-decoration-line: underline;
  min-width: 0;
  min-height: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__z02RT {
    letter-spacing: normal;
    text-align: center;
    line-height: 150%;
    font-size: 16px;
  }
}
.textunnamedVariant__z02RTbNary {
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__z02RTbNary {
    line-height: 1.5;
    height: 30px;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.textpassword__z02RTvrixq {
  display: none;
}
.textloginByPassword__z02RTgqb7 {
  display: none;
}
.freeBox__mboYc {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: auto;
  min-width: 0;
  display: none;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mboYc {
    top: auto;
    left: auto;
  }
}
.freeBoxunnamedVariant__mboYcBNary {
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant__mboYcBNary {
    top: auto;
    left: auto;
  }
}
.freeBoxunnamedVariant2__mboYctCajl {
  top: auto;
  left: auto;
}
.freeBoxpassword__mboYcVrixq {
  top: auto;
  left: auto;
  display: flex;
}
.freeBoxloginByPassword__mboYcGqb7 {
  top: auto;
  left: auto;
  display: flex;
}
.fragmentInput3:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-DbGdjBpQ6R_X);
  background: #161e26;
  height: 50px;
  font-size: 16px;
  text-align: right;
  min-width: 0;
  border: 1px solid #161e26;
}
.fragmentInput3unnamedVariant:global(.__wab_instance) {
  display: none;
}
.fragmentInput3unnamedVariant2:global(.__wab_instance) {
  display: none;
}
.fragmentInput3password:global(.__wab_instance) {
  display: flex;
}
.svg__iyHlq {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 20px;
  top: 15px;
  bottom: 0;
  height: 20px;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  flex-shrink: 0;
}
.freeBox__pVpJw {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 25px;
  min-width: 0;
  display: none;
  padding: 0px 15px;
}
.freeBoxunnamedVariant__pVpJwBNary {
  height: 50px;
  flex-shrink: 0;
  display: flex;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant__pVpJwBNary {
    padding: 0px;
  }
}
.fragmentInput2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-DbGdjBpQ6R_X);
  background: #161e26;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  align-self: auto;
  height: 50px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 50px;
  min-width: 0;
  margin: 0px;
  border: 1px solid #161e26;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fragmentInput2:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.fragmentInput2unnamedVariant:global(.__wab_instance) {
  left: auto;
  top: auto;
  font-size: 32px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fragmentInput2unnamedVariant:global(.__wab_instance) {
    left: auto;
    top: auto;
    font-size: 30px;
    text-align: center;
  }
}
.text__ihsp9 {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 160px;
  height: 17px;
  flex-shrink: 0;
  display: none;
}
.textunnamedVariant__ihsp9BNary {
  position: relative;
  left: auto;
  top: auto;
  text-align: center;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__ihsp9BNary {
    text-align: center;
    width: 100%;
    height: auto;
    line-height: 1.5;
    letter-spacing: normal;
    min-width: 0;
    display: block;
  }
}
.timer__zLj9B:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__i05Zj {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 160px;
  height: 17px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__i05Zj {
    left: auto;
    top: auto;
  }
}
.textunnamedVariant__i05ZjBNary {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #2dc57b;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__i05ZjBNary {
    text-align: center;
    width: 100%;
    height: auto;
    left: auto;
    top: auto;
    line-height: 1.5;
    letter-spacing: normal;
    min-width: 0;
    display: block;
  }
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #161e26;
  width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
  display: none;
  border-radius: 12px;
}
.selectunnamedVariant2:global(.__wab_instance) {
  height: 50px;
  font-size: 16px;
  text-align: right;
  padding-top: 5px;
  flex-shrink: 0;
  display: flex;
}
.svg__dA4Jb {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 20px;
  height: 20px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
}
@media (min-width: 0px) and (max-width: 768px) {
  .svgunnamedVariant2__dA4JBtCajl {
    transform: none;
  }
}
.text__i4UMq {
  font-size: 24px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__i4UMq {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__i4UMqBNary {
    position: sticky;
    left: 0px;
    top: 0px;
    letter-spacing: normal;
    height: 30px;
    line-height: 1.5;
    flex-shrink: 0;
  }
}
.textpassword__i4UMqVrixq {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-decoration-line: underline;
  color: var(--token-s7Z9BN_B1gNc);
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textpassword__i4UMqVrixq {
    font-size: 16px;
    height: auto;
    display: block;
  }
}
.textloginByPassword__i4UMqGqb7 {
  font-size: 14px;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--token-s7Z9BN_B1gNc);
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.0264em;
  text-decoration-line: underline;
  min-width: 0;
  min-height: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textloginByPassword__i4UMqGqb7 {
    height: auto;
    display: none;
  }
}
.freeBox__kpVY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 40px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kpVY {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant__kpVYbNary {
    padding-top: 0px;
  }
}
.btnNumber:global(.__wab_instance) {
  max-width: 90%;
  width: 100%;
  height: auto;
  min-width: 0;
}
.btnNumberunnamedVariant:global(.__wab_instance) {
  display: none;
}
.btnNumberunnamedVariant2:global(.__wab_instance) {
  display: none;
}
.btnNumberpassword:global(.__wab_instance) {
  display: none;
}
.btnNumberloginByPassword:global(.__wab_instance) {
  display: none;
}
.svg__fnaKe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__iNwcz {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iNwcz {
    font-size: 16px;
  }
}
.svg__cwi9J {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.button2:global(.__wab_instance) {
  max-width: 90%;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
}
.button2unnamedVariant:global(.__wab_instance) {
  display: none;
}
.button2unnamedVariant2:global(.__wab_instance) {
  display: none;
}
.button2password:global(.__wab_instance) {
  display: flex;
}
.button2loginByPassword:global(.__wab_instance) {
  display: none;
}
.svg__sIg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tdSlS {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textpassword__tdSlSvrixq {
    font-size: 16px;
  }
}
.svg__tCskn {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.button3:global(.__wab_instance) {
  max-width: 90%;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
}
.button3unnamedVariant:global(.__wab_instance) {
  display: none;
}
.button3unnamedVariant2:global(.__wab_instance) {
  display: none;
}
.button3password:global(.__wab_instance) {
  display: none;
}
.button3loginByPassword:global(.__wab_instance) {
  display: flex;
}
.svg__rhOrk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___2BN7U {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textloginByPassword___2BN7Ugqb7 {
    font-size: 16px;
  }
}
.svg__vqn0M {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.btnSaraf:global(.__wab_instance) {
  max-width: 90%;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
}
.btnSarafunnamedVariant:global(.__wab_instance) {
  display: none;
}
.btnSarafunnamedVariant2:global(.__wab_instance) {
  display: flex;
}
.svg__bHnm1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mbtaR {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 18px;
}
.svg__tYw3F {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.sendcode:global(.__wab_instance) {
  max-width: 90%;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sendcodeunnamedVariant:global(.__wab_instance) {
    margin-top: 20px;
  }
}
.svg__yn2SO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jdnEx {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textunnamedVariant__jdnExBNary {
    font-size: 16px;
  }
}
.svg___8Tpx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgunnamedVariant___8TpxBNary {
  color: #ededec;
}
.freeBox__yJ1Ps {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.4;
  min-width: 0;
  padding: 16px 8px;
}
.freeBoxunnamedVariant__yJ1PsBNary {
  display: none;
}
.freeBoxunnamedVariant2__yJ1PstCajl {
  display: none;
}
.freeBoxpassword__yJ1PsVrixq {
  display: none;
}
.freeBoxloginByPassword__yJ1PsGqb7 {
  display: none;
}
.embedHtml__y7OGn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  align-self: center;
  min-width: 0;
}
.text__xHt3Y {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  color: var(--token-aCLVKlB2IKxe);
  white-space: pre;
  font-weight: 700;
}
.embedHtml___2402E:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  align-self: center;
  min-width: 0;
}
.button5:global(.__wab_instance) {
  max-width: 100%;
  width: 90%;
}
.button5unnamedVariant:global(.__wab_instance) {
  display: none;
}
.button5unnamedVariant2:global(.__wab_instance) {
  display: none;
}
.button5password:global(.__wab_instance) {
  display: none;
}
.button5loginByPassword:global(.__wab_instance) {
  display: none;
}
.svg___7TFnQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___5MFkv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-s7Z9BN_B1gNc);
  text-decoration-line: none !important;
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5MFkv {
    font-size: 14px;
  }
}
.textunnamedVariant___5MFkvBNary {
  display: none;
}
.textunnamedVariant2___5MFkvtCajl {
  display: none;
}
.textpassword___5MFkvVrixq {
  display: none;
}
.textloginByPassword___5MFkvGqb7 {
  display: none;
}
.svg__qhxFs {
  position: relative;
  object-fit: cover;
  width: 25px;
  height: 25px;
  color: #bbffde;
}
.figmaPaste {
  position: relative;
  width: 352px;
  height: 530px;
  flex-shrink: 0;
}
.figmaPasteunnamedVariant {
  display: none;
}
.group {
  width: 352px;
  height: 349px;
  display: block;
  position: absolute;
  left: 0px;
  top: 181px;
}
.group2 {
  transform: translate(0px, 0.36000000000001364px);
  width: 350px;
  height: 52px;
  display: block;
  position: absolute;
  top: 297px;
  left: 0px;
}
.rectangle35 {
  background: rgba(93, 212, 167, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 16px;
}
.text__niF6H {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(22, 28, 33, 1);
  position: absolute;
  top: 29.04%;
  left: 44%;
  transform: translate(-0.34499999999999886px, 0.3009999999999309px);
}
.group3 {
  transform: translate(0.38700000000000045px, -0.33899999999999864px);
  width: 326px;
  height: 52px;
  display: block;
  position: absolute;
  top: 151px;
  left: 13px;
}
.group3unnamedVariant {
  display: none;
}
.group4 {
  width: 58px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle23 {
  background: rgba(21, 27, 33, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 12px;
}
.text__kiSee {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.74%;
  left: 38.34%;
  width: 21.66%;
  height: 85.2%;
  transform: translate(-0.005000000000002558px, -0.17500000000001137px);
}
.group5 {
  transform: translate(-0.021000000000000796px, 0px);
  width: 58px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 88px;
}
.rectangle24 {
  background: rgba(21, 27, 33, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 12px;
}
.text__fnbEi {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.74%;
  left: 33.11%;
  width: 31.66%;
  height: 85.2%;
  transform: translate(0.1250000000000142px, -0.17500000000001137px);
}
.group6 {
  transform: translate(-0.13100000000000023px, 0px);
  width: 58px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 178px;
}
.rectangle25 {
  background: rgba(21, 27, 33, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 12px;
}
.text__ynDPb {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.74%;
  left: 33.11%;
  width: 33.33%;
  height: 85.2%;
  transform: translate(0.12600000000000477px, -0.17500000000001137px);
}
.group7 {
  transform: translate(-0.2400000000000091px, 0px);
  width: 58px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 268px;
}
.rectangle {
  background: rgba(21, 27, 33, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 12px;
}
.rectangleunnamedVariant {
  display: none;
}
.text__gN10O {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.74%;
  left: 33.11%;
  width: 33.33%;
  height: 85.2%;
  transform: translate(0.1260000000000332px, -0.17500000000001137px);
}
.text___3UHa {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: absolute;
  top: 63px;
  left: 0px;
  width: 350px;
  height: 16px;
}
.textunnamedVariant___3UHaBNary {
  display: none;
}
.text__eUoBl {
  display: block;
  font-size: 32px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 42px;
}
.textunnamedVariant__eUoBlBNary {
  display: none;
}
.group8 {
  width: 188px;
  height: 22px;
  display: block;
  position: absolute;
  left: 4px;
  top: 0px;
}
.group9 {
  width: 188px;
  height: 22px;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-shrink: 0;
  display: none;
}
.group9unnamedVariant {
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  display: block;
  margin: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .group9unnamedVariant {
    display: none;
  }
}
.group9unnamedVariant2 {
  top: 16px;
  left: 16px;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .group9unnamedVariant2 {
    left: 15px;
    top: 15px;
  }
}
.group9password {
  top: 10px;
  left: 10px;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .group9password {
    top: 20px;
    left: 15px;
    z-index: 50;
  }
}
.group9loginByPassword {
  top: 10px;
  left: 10px;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .group9loginByPassword {
    top: 16px;
    left: 16px;
    z-index: 50;
  }
}
.text___3ZvMi {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: absolute;
  top: 0px;
  left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textpassword___3ZvMiVrixq {
    font-size: 14px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textloginByPassword___3ZvMiGqb7 {
    font-size: 18px;
  }
}
.svg___61TN0 {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  color: #a6aeb6;
  height: 1em;
}
.group10 {
  width: 188px;
  height: 22px;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-shrink: 0;
  display: none;
}
.group10unnamedVariant {
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  display: block;
  margin: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .group10unnamedVariant {
    margin: 16px;
  }
}
.group10unnamedVariant2 {
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .group10unnamedVariant2 {
    left: 0px;
    top: 0px;
    display: none;
  }
}
.group10password {
  top: 0px;
  left: 0px;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .group10password {
    top: 16px;
    left: 16px;
    z-index: 50;
  }
}
.group10loginByPassword {
  top: 0px;
  left: 0px;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .group10loginByPassword {
    top: 0px;
    left: 0px;
    z-index: 50;
  }
}
.group10loginByPassword_unnamedVariant2 {
  left: 0px;
  top: 0px;
}
.text___8IvKi {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: absolute;
  top: 0px;
  left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textpassword___8IvKiVrixq {
    font-size: 18px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textloginByPassword___8IvKiGqb7 {
    font-size: 14px;
  }
}
.svg__c4I0W {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  color: #a6aeb6;
  height: 1em;
}
.freeBox___1W0Nw {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  row-gap: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1W0Nw {
    width: 100%;
    justify-self: flex-start;
    height: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxunnamedVariant___1W0NwBNary {
    height: 100vh;
  }
}
.freeBox__uNtC {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.img__o5C0T {
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  display: none;
}
.img__o5C0T > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__o5C0T {
    width: 80px;
  }
}
.img__t0NYh {
  object-fit: cover;
  max-width: 100%;
}
.img__t0NYh > picture > img {
  object-fit: cover;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.embedHtml__e0PYz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: block;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
  padding: var(--token-V6iPUxl66F8R);
}
.modal__modal :global(.ant-modal-content) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0a173ccc;
  outline: none;
}
.modal__modal :global(.ant-modal-close) {
  width: 0px;
  height: 0px;
  outline: none;
}
.freeBox__vQv7Q {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80vw;
  height: 90vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-V6iPUxl66F8R);
  padding: 0px;
}
.svg__t630C {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.text__wKEu {
  width: 100%;
  background: none;
  color: var(--token-aCLVKlB2IKxe);
  font-size: var(--token-7Z4I3VkEvKuO);
  font-weight: 700;
  text-align: center;
  min-width: 0;
}
.text__hWvGc {
  color: var(--token-s7Z9BN_B1gNc);
  font-weight: 700;
}
.svg___2LKii {
  object-fit: cover;
  max-width: 100%;
  width: 0px;
  height: 0px;
}
