.chargeStep1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .chargeStep1 {
    grid-row-gap: 8px;
  }
}
.section___1Mdb {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___1Mdb > * {
  grid-column: 4;
}
.freeBox__mpDk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mpDk {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #1e2c39;
  box-shadow: 0px 12px 16px 0px #00000047;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
  right: 0;
  padding: 10px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    width: 100%;
    min-width: 0;
  }
}
.headerstepscharg_step2 {
  top: 0;
  right: 0;
  left: 0;
  width: auto;
}
.headerstepscharg_step3 {
  top: 0;
  right: 0;
  left: 0;
  width: auto;
}
.svg__qGyiK {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: #2dc57b;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__qGyiK {
    width: 25px;
    height: 25px;
    color: #2dc57b;
    flex-shrink: 0;
  }
}
.text___9DAgr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: #2dc57b;
  font-size: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9DAgr {
    color: #2dc57b;
  }
}
.svg__pqJFh {
  object-fit: cover;
  max-width: 100%;
  color: #2dc57b;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__pqJFh {
    color: #2dc57b;
    align-self: auto;
    cursor: pointer;
  }
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.wallet {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #2dc57b;
  margin-top: 50px;
  box-shadow: none;
  margin-bottom: 10px;
  justify-self: flex-start;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  min-width: 0;
  display: none;
  padding: 24px;
}
.wallet > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.wallet > :global(.__wab_flex-container) > *,
.wallet > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wallet > :global(.__wab_flex-container) > picture > img,
.wallet
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet {
    max-width: 100%;
    background: #2dc57b;
    height: auto;
    margin-bottom: 24px;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet > :global(.__wab_flex-container) > *,
  .wallet > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .wallet > :global(.__wab_flex-container) > picture > img,
  .wallet
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.walletstepscharg_step2 {
  margin-bottom: 0px;
}
.walletstepscharg_step3 {
  background: #2dc57b;
  margin-top: 50px;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .walletstepscharg_step3 {
    margin-top: 30px;
  }
}
.walletstepscharg_step1 {
  display: flex;
}
.svg__yjxOe {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0.15;
  width: 100%;
  height: 100%;
  filter: contrast(200%);
  min-width: 0;
  min-height: 0;
}
.svgstepscharg_step2__yjxOeAvykh {
  z-index: 0;
}
.steps {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.مشخصات {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.selected {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  color: #ffffff;
  flex-shrink: 0;
}
.selectedstepscharg_step2 {
  color: #00ffcc;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.selectedstepscharg_step3 {
  transform: none;
  color: #00ffcc;
}
.text__dr5Sp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: "Vazirmatn", sans-serif;
  min-width: 0;
}
.textstepscharg_step2__dr5SpAvykh {
  color: #00ffba;
}
.textstepscharg_step3__dr5SpTqZTv {
  color: #00ffcc;
}
.svg__wWiHf {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  width: 20px;
  height: 20px;
  align-self: auto;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  margin-bottom: 15px;
  flex-shrink: 0;
}
.مبلغشارژ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.unselected {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-2aHIw8xI62Xi);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.unselectedstepscharg_step2 {
  color: var(--token-jgohepLVeKvh);
}
.unselectedstepscharg_step3 {
  color: #00ffcc;
}
.text___7Mhfp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  text-align: center;
  color: var(--token-2aHIw8xI62Xi);
  min-width: 0;
}
.textstepscharg_step2___7MhfpAvykh {
  color: var(--token-jgohepLVeKvh);
}
.textstepscharg_step3___7MhfpTqZTv {
  color: #00ffcc;
}
.svg__sNzY {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 20px;
  height: 20px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  margin-bottom: 15px;
  flex-shrink: 0;
}
.تاییدخرید {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.unselected2 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-2aHIw8xI62Xi);
  flex-shrink: 0;
}
.unselected2stepscharg_step3 {
  color: var(--token-jgohepLVeKvh);
}
.text__dPYdD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-2aHIw8xI62Xi);
  min-width: 0;
}
.textstepscharg_step3__dPYdDTqZTv {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__c6PsJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__c6PsJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
.freeBoxstepscharg_step2__c6PsJAvykh {
  display: flex;
  flex-direction: column;
}
.freeBoxstepscharg_step2__c6PsJAvykh > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBoxstepscharg_step2__c6PsJAvykh > :global(.__wab_flex-container) > *,
.freeBoxstepscharg_step2__c6PsJAvykh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxstepscharg_step2__c6PsJAvykh
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxstepscharg_step2__c6PsJAvykh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.freeBoxstepscharg_step3__c6PsJTqZTv {
  display: flex;
  flex-direction: column;
}
.freeBoxstepscharg_step3__c6PsJTqZTv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBoxstepscharg_step3__c6PsJTqZTv > :global(.__wab_flex-container) > *,
.freeBoxstepscharg_step3__c6PsJTqZTv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxstepscharg_step3__c6PsJTqZTv
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxstepscharg_step3__c6PsJTqZTv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 5px;
}
.text__ovHho {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  padding-bottom: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ovHho {
    font-weight: 700;
  }
}
.textstepscharg_step2__ovHhoAvykh {
  z-index: 1;
}
.textstepscharg_step3__ovHhoTqZTv {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid #00ffcc;
}
.textstepscharg_step1__ovHhoqKzi3 {
  display: none;
}
.freeBox__z1Dcz {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxstepscharg_step2__z1DczAvykh {
  display: none;
}
.freeBoxstepscharg_step3__z1DczTqZTv {
  display: flex;
}
.text__a161 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__a161 {
    font-weight: 700;
  }
}
.textstepscharg_step3__a161TqZTv {
  font-weight: 400;
  font-size: 14px;
}
.text__gTc8C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gTc8C {
    font-weight: 700;
  }
}
.textstepscharg_step3__gTc8CTqZTv {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}
.freeBox__okEke {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxstepscharg_step2__okEkeAvykh {
  display: none;
}
.freeBoxstepscharg_step3__okEkeTqZTv {
  display: flex;
}
.text__my9Y4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__my9Y4 {
    font-weight: 700;
  }
}
.textstepscharg_step3__my9Y4TqZTv {
  font-weight: 400;
  font-size: 14px;
}
.text___0JTo9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0JTo9 {
    font-weight: 700;
  }
}
.textstepscharg_step3___0JTo9TqZTv {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}
.freeBox__eJoqq {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxstepscharg_step2__eJoqqAvykh {
  display: none;
}
.freeBoxstepscharg_step3__eJoqqTqZTv {
  display: flex;
}
.text__r4Xam {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__r4Xam {
    font-weight: 700;
  }
}
.textstepscharg_step3__r4XamTqZTv {
  font-weight: 700;
  font-size: 14px;
}
.text___5AQQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5AQQ {
    font-weight: 700;
  }
}
.textstepscharg_step3___5AQQTqZTv {
  font-weight: 700;
  font-size: 14px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textstepscharg_step3___5AQQTqZTv {
    font-weight: 700;
  }
}
.freeBox__lP6JV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 0px;
}
.freeBox__lP6JV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lP6JV > :global(.__wab_flex-container) > *,
.freeBox__lP6JV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lP6JV > :global(.__wab_flex-container) > picture > img,
.freeBox__lP6JV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lP6JV {
    z-index: 5;
  }
}
.freeBox__aci6W {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__tz4Bs {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  padding-bottom: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tz4Bs {
    font-weight: 700;
  }
}
.textstepscharg_step2__tz4BsAvykh {
  z-index: 1;
}
.textstepscharg_step3__tz4BsTqZTv {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid #00ffcc;
}
.fragmentInput3:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #ffffff;
  text-align: right;
  color: var(--token-WxvvgatuPYoJ);
  font-family: "Vazirmatn", sans-serif;
  padding-right: 16px;
  padding-left: 0px;
  font-size: 16px;
  height: 50px;
  padding-bottom: 8px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 7px;
  border: 1px solid var(--token-jgohepLVeKvh);
}
.fragmentInput3stepscharg_step2:global(.__wab_instance) {
  display: none;
}
.fragmentInput3stepscharg_step3:global(.__wab_instance) {
  display: none;
}
.freeBox__kAcN3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__o8Bft {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  padding-bottom: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__o8Bft {
    font-weight: 700;
  }
}
.textstepscharg_step2__o8BftAvykh {
  z-index: 1;
}
.textstepscharg_step3__o8BftTqZTv {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid #00ffcc;
}
.fragmentInput4:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #ffffff;
  text-align: right;
  color: var(--token-WxvvgatuPYoJ);
  font-family: "Vazirmatn", sans-serif;
  padding-right: 16px;
  padding-left: 0px;
  font-size: 16px;
  height: 50px;
  padding-bottom: 8px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 7px;
  border: 1px solid var(--token-jgohepLVeKvh);
}
.fragmentInput4stepscharg_step2:global(.__wab_instance) {
  display: none;
}
.fragmentInput4stepscharg_step3:global(.__wab_instance) {
  display: none;
}
.freeBox__sZy8D {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__wuKnw {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  padding-bottom: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wuKnw {
    font-weight: 700;
  }
}
.textstepscharg_step2__wuKnwAvykh {
  z-index: 1;
}
.textstepscharg_step3__wuKnwTqZTv {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid #00ffcc;
}
.idinput:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #ffffff;
  text-align: right;
  color: var(--token-WxvvgatuPYoJ);
  font-family: "Vazirmatn", sans-serif;
  padding-right: 16px;
  padding-left: 0px;
  font-size: 16px;
  height: 50px;
  padding-bottom: 8px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 7px;
  border: 1px solid var(--token-jgohepLVeKvh);
}
.idinputstepscharg_step2:global(.__wab_instance) {
  display: none;
}
.idinputstepscharg_step3:global(.__wab_instance) {
  display: none;
}
.fragmentInput2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #ffffff;
  text-align: right;
  color: var(--token-WxvvgatuPYoJ);
  font-family: "Vazirmatn", sans-serif;
  padding-right: 10px;
  padding-left: 50px;
  margin-top: 10px;
  font-size: 16px;
  height: 50px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 7px;
  border: 1px solid var(--token-jgohepLVeKvh);
}
@media (min-width: 0px) and (max-width: 768px) {
  .fragmentInput2:global(.__wab_instance) {
    z-index: 5;
  }
}
.fragmentInput2stepscharg_step2:global(.__wab_instance) {
  z-index: 1;
}
.freeBox__i7Zny {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxstepscharg_step2__i7ZnyAvykh {
  display: none;
}
.freeBoxstepscharg_step3__i7ZnyTqZTv {
  display: none;
}
.text__rrNu {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-jgohepLVeKvh);
  font-family: "Vazirmatn", sans-serif;
  min-width: 0;
}
.operators {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 8px 0px;
}
.operators > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.operators > :global(.__wab_flex-container) > *,
.operators > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.operators > :global(.__wab_flex-container) > picture > img,
.operators
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .operators > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
  }
}
.boxselect:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .boxselect:global(.__wab_instance) {
    width: auto;
  }
}
.img__d8XkB {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 60px;
  margin: 10px;
}
.img__d8XkB > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__d8XkB {
    height: 50px;
  }
}
.freeBox__e9MOi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
.freeBoxstepscharg_step2__e9MOiAvykh {
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxstepscharg_step2__e9MOiAvykh {
    padding-right: 24px;
    padding-top: 24px;
  }
}
.text__riyhU {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  padding-bottom: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__riyhU {
    font-weight: 700;
  }
}
.textstepscharg_step3__riyhUTqZTv {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid #00ffcc;
}
.operators3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 8px 0px;
}
.operators3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.operators3 > :global(.__wab_flex-container) > *,
.operators3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.operators3 > :global(.__wab_flex-container) > picture > img,
.operators3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .operators3 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .operators3stepscharg_step2 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .operators3stepscharg_step2 > :global(.__wab_flex-container) > *,
  .operators3stepscharg_step2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .operators3stepscharg_step2 > :global(.__wab_flex-container) > picture > img,
  .operators3stepscharg_step2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 10px;
  }
}
.boxselect3:global(.__wab_instance) {
  max-width: 100%;
  height: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .boxselect3:global(.__wab_instance) {
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .boxselect3stepscharg_step2:global(.__wab_instance) {
    width: 30%;
    height: 50px;
  }
}
.freeBox__pw8Om {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text___05Xh4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textstepscharg_step2___05Xh4Avykh {
    color: #535353;
    font-size: 14px;
  }
}
.freeBox__nXbG {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 24px;
}
.freeBoxstepscharg_step2__nXbGAvykh {
  display: none;
}
.freeBoxstepscharg_step3__nXbGTqZTv {
  display: none;
}
.text__fuH9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-jgohepLVeKvh);
  font-family: "Vazirmatn", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fuH9 {
    font-size: 16px;
    font-weight: 700;
  }
}
.chargeType {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.chargeType > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.chargeType > :global(.__wab_flex-container) > *,
.chargeType > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.chargeType > :global(.__wab_flex-container) > picture > img,
.chargeType
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .chargeType {
    margin-top: 10px;
  }
}
.boxselect2:global(.__wab_instance) {
  max-width: 100%;
  height: 60px;
  width: 200px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .boxselect2:global(.__wab_instance) {
    opacity: 1;
    width: 100px;
    flex-shrink: 0;
  }
}
.freeBox__mYlgP {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mYlgP {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}
.text__xcP2K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: center;
  left: auto;
  top: auto;
  z-index: 1;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xcP2K {
    font-size: 14px;
    left: auto;
    top: auto;
    width: auto;
  }
}
.freeBox__jipZs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  margin-top: 0px;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__jipZs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__jipZs > :global(.__wab_flex-container) > *,
.freeBox__jipZs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jipZs > :global(.__wab_flex-container) > picture > img,
.freeBox__jipZs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jipZs {
    margin-top: 0px;
  }
}
.freeBoxstepscharg_step2__jipZsAvykh {
  display: none;
}
.freeBoxstepscharg_step3__jipZsTqZTv {
  margin-top: 50px;
  display: flex;
  padding: 0px 24px;
}
.freeBox__nwPxR {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxstepscharg_step3__nwPxRTqZTv {
  background: linear-gradient(90deg, #48665799 15%, #2dc57b80 100%);
  justify-content: center;
  align-items: center;
  opacity: 1;
  display: flex;
  border-radius: 12px;
}
.svg__ah7QR {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svgstepscharg_step3__ah7QRTqZTv {
  height: 60px;
  width: 60px;
  flex-shrink: 0;
}
.img__g2MR {
  object-fit: cover;
  max-width: 100%;
}
.img__g2MR > picture > img {
  object-fit: cover;
}
.imgstepscharg_step3__g2MRTqZTv {
  display: none !important;
}
.freeBox__nrhnT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxstepscharg_step3__nrhnTTqZTv {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.text__sVxBl {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textstepscharg_step3__sVxBlTqZTv {
  font-size: 16px;
  font-weight: 700;
  color: var(--token-jgohepLVeKvh);
  text-align: right;
  width: 100%;
  padding-right: 15px;
  min-width: 0;
}
.text__j5Hde {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textstepscharg_step3__j5HdeTqZTv {
  font-size: 12px;
  font-weight: 400;
  color: var(--token-jgohepLVeKvh);
  text-align: right;
  width: 100%;
  padding-right: 15px;
  min-width: 0;
}
.svg__owa0Y {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svgstepscharg_step3__owa0YTqZTv {
  width: 40px;
  height: 40px;
  opacity: 0.8;
  flex-shrink: 0;
}
.freeBox__bWutK {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxstepscharg_step3__bWutKTqZTv {
  background: linear-gradient(90deg, #48665799 15%, #2dc57b80 100%);
  justify-content: center;
  align-items: center;
  opacity: 1;
  display: flex;
  border-radius: 12px;
}
.svg__sKdZf {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svgstepscharg_step3__sKdZfTqZTv {
  height: 60px;
  width: 60px;
  flex-shrink: 0;
}
.img__v1Auz {
  object-fit: cover;
  max-width: 100%;
}
.img__v1Auz > picture > img {
  object-fit: cover;
}
.imgstepscharg_step3__v1AuzTqZTv {
  display: none !important;
}
.freeBox__wtxJh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxstepscharg_step3__wtxJhTqZTv {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.text___8DpNg {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textstepscharg_step3___8DpNgTqZTv {
  font-size: 16px;
  font-weight: 700;
  color: var(--token-jgohepLVeKvh);
  text-align: right;
  width: 100%;
  padding-right: 15px;
  min-width: 0;
}
.text__jib07 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textstepscharg_step3__jib07TqZTv {
  font-size: 12px;
  font-weight: 400;
  color: var(--token-jgohepLVeKvh);
  text-align: right;
  width: 100%;
  padding-right: 15px;
  min-width: 0;
}
.svg__mh5Dm {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svgstepscharg_step3__mh5DmTqZTv {
  width: 40px;
  height: 40px;
  opacity: 0.8;
  align-self: flex-start;
  flex-shrink: 0;
}
.freeBox__e4WiS {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxstepscharg_step3__e4WiSTqZTv {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #0000004d;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
}
.svg__fSVaq {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 1em;
}
.svgstepscharg_step3__fSVaqTqZTv {
  color: #2dc57b;
  position: relative;
  left: auto;
  top: auto;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__yvidq {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  max-width: 100%;
  justify-self: flex-start;
  margin-top: 0px;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__yvidq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__yvidq > :global(.__wab_flex-container) > *,
.freeBox__yvidq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yvidq > :global(.__wab_flex-container) > picture > img,
.freeBox__yvidq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yvidq {
    margin-top: 0px;
  }
}
.freeBoxstepscharg_step2__yvidqAvykh {
  display: none;
}
.freeBoxstepscharg_step3__yvidqTqZTv {
  margin-top: 50px;
  display: flex;
  padding: 0px 24px;
}
.freeBoxstepscharg_step1__yvidqQKzi3 {
  display: none;
}
.img___6RNoo {
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  margin-bottom: 10px;
}
.img___6RNoo > picture > img {
  object-fit: cover;
}
.text__eDrsD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  color: var(--token-aCLVKlB2IKxe);
  font-weight: 800;
  min-width: 0;
}
.text__rkOf7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: var(--token-pyhDq7s0RTkz);
  font-weight: 300;
  min-width: 0;
}
.section__bZv3S {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__bZv3S > * {
  grid-column: 4;
}
.freeBox___0UoW {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 24px;
}
.freeBox___0UoW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0UoW {
    background: #1e2c39;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 20px;
    margin: 0px;
  }
}
.freeBoxstepscharg_step2___0UoWAvykh {
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 0;
}
.freeBoxstepscharg_step2___0UoWAvykh > :global(.__wab_flex-container) {
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxstepscharg_step2___0UoWAvykh > :global(.__wab_flex-container) > *,
.freeBoxstepscharg_step2___0UoWAvykh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxstepscharg_step2___0UoWAvykh
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxstepscharg_step2___0UoWAvykh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 0px;
}
.freeBoxstepscharg_step3___0UoWTqZTv {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 0;
}
.freeBoxstepscharg_step3___0UoWTqZTv > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxstepscharg_step3___0UoWTqZTv > :global(.__wab_flex-container) > *,
.freeBoxstepscharg_step3___0UoWTqZTv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxstepscharg_step3___0UoWTqZTv
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxstepscharg_step3___0UoWTqZTv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 0px;
}
.backstep2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 50px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .backstep2:global(.__wab_instance) {
    display: none;
  }
}
.backstep2stepscharg_step2:global(.__wab_instance) {
  align-self: flex-start;
  display: flex;
}
.svg__t5HVw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bcqup {
  font-size: 18px;
}
.textstepscharg_step2__bcqupAvykh {
  padding-right: 0px;
}
.svg__hs2Xe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.backstep3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 50px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .backstep3:global(.__wab_instance) {
    display: none;
  }
}
.backstep3stepscharg_step2:global(.__wab_instance) {
  align-self: flex-start;
  display: none;
}
.backstep3stepscharg_step3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .backstep3stepscharg_step3:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__zJAq6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ujQjf {
  font-size: 18px;
}
.textstepscharg_step2__ujQjfAvykh {
  padding-right: 0px;
}
.svg___2HGyr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__hztXs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.freeBoxstepscharg_step1__hztXsQKzi3 {
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.step1Next:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 50px;
  min-width: 0;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .step1Next:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
    display: none;
  }
}
.step1Nextstepscharg_step2:global(.__wab_instance) {
  display: none;
}
.step1Nextstepscharg_step3:global(.__wab_instance) {
  display: none;
}
.step1Nextstepscharg_step1:global(.__wab_instance) {
  display: flex;
}
.svg__exKDl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___34Uvn {
  font-size: 18px;
}
.svg__riPMp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.step1Next2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 50px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .step1Next2:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
    display: none;
  }
}
.step1Next2stepscharg_step2:global(.__wab_instance) {
  display: none;
}
.step1Next2stepscharg_step3:global(.__wab_instance) {
  display: none;
}
.step1Next2stepscharg_step1:global(.__wab_instance) {
  display: flex;
}
.svg__zOhx {
  position: relative;
  object-fit: cover;
  width: 25px;
  height: 25px;
  color: var(--token-s7Z9BN_B1gNc);
}
.text___5OyPr {
  font-size: 18px;
}
.svg__mCHo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jBkqJ {
  position: relative;
  width: 0px;
  height: 0px;
  max-width: 100%;
  flex-shrink: 0;
  display: none;
}
.textstepscharg_step1__jBkqJqKzi3 {
  display: block;
}
.text__bE0T7 {
  position: relative;
  width: 0px;
  height: 0px;
  max-width: 100%;
  flex-shrink: 0;
}
.textstepscharg_step1__bE0T7QKzi3 {
  display: block;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  z-index: 100;
  display: none;
}
.embedHtmlstepscharg_step1:global(.__wab_instance) {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  display: flex;
}
.addBill:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .addBill:global(.__wab_instance) {
    width: 50%;
    display: flex;
  }
}
.addBillstepscharg_step2:global(.__wab_instance) {
  display: none;
}
.addBillstepscharg_step3:global(.__wab_instance) {
  display: none;
}
.addBillstepscharg_step1:global(.__wab_instance) {
  display: none;
}
.svg__yqHmc {
  position: relative;
  object-fit: cover;
  width: 25px;
  height: 25px;
}
.text__m4QM {
  font-size: 18px;
  padding-left: 20px;
}
.svg___7Ya0M {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.step2Next:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 50px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .step2Next:global(.__wab_instance) {
    display: none;
  }
}
.step2Nextstepscharg_step2:global(.__wab_instance) {
  display: flex;
}
.svg__dTlyc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__kiHcI {
  font-size: 18px;
}
.svg__zpMTo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__w1QNb {
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 100%;
  color: #26c676;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  padding-top: 7px;
  cursor: pointer;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid #26c676;
}
.textstepscharg_step2__w1QNbAvykh {
  display: none;
}
.textstepscharg_step3__w1QNbTqZTv {
  display: none;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  padding-right: 24px;
  padding-left: 24px;
}
.modal__modal :global(.ant-modal-content) {
  background: #1b272a;
  outline: none;
}
.freeBox___4JLbG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.text__vj7Hx {
  align-self: auto;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--token-jgohepLVeKvh);
}
.text__lxAiN {
  width: auto;
  font-size: 16px;
  padding-bottom: 10px;
  color: var(--token-jgohepLVeKvh);
}
.ul {
  display: flex;
  padding-right: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
  color: var(--token-jgohepLVeKvh);
  flex-direction: column;
}
.ul > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.ul > :global(.__wab_flex-container) > *,
.ul > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul > :global(.__wab_flex-container) > picture > img,
.ul > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 5px;
}
.li___1IMaD {
  display: list-item;
}
.freeBox__zBbMa {
  display: flex;
}
.li__xmp5S {
  display: list-item;
}
.freeBox__ckCby {
  display: flex;
}
.li__tcg2R {
  display: list-item;
}
.freeBox__k2MpI {
  display: flex;
}
.li__lVZc {
  display: list-item;
}
.freeBox__rXXgZ {
  display: flex;
}
.button__sGoWw:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__pQ4H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__a3O0D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.modal2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 375px;
  flex-shrink: 0;
  padding: 0px;
}
.modal2__modal :global(.ant-modal-content) {
  background: #1b272a;
  outline: none;
  border-radius: 30px 30px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .modal2:global(.__wab_instance) {
    height: 377px;
    bottom: 0;
    right: 0;
    left: 0;
    flex-shrink: 0;
    padding: 0px;
    margin: 0px;
  }
}
.modal2stepscharg_step3:global(.__wab_instance) {
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .modal2stepscharg_step3:global(.__wab_instance) {
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .pcls_0k-yhts48o-i {
    background: #00000066;
    outline: none;
  }
}
.freeBox__mSuI {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxstepscharg_step3__mSuITqZTv {
    width: 100vw;
  }
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lottiestepscharg_step3:global(.__wab_instance) {
    filter: hue-rotate(20deg);
  }
}
.text__rdyig {
  align-self: auto;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--token-jgohepLVeKvh);
}
.freeBox__b3PlE {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__jy5E {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
}
.text__lwChV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
}
.textstepscharg_step3__lwChVTqZTv {
  height: auto;
}
.freeBox__bdsVf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__t7EKw {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
  min-width: 0;
}
.text__re4RM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  min-width: 0;
}
.button__aLsbM:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__x18Ff {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__oybpF {
  padding-top: 0px;
  font-size: 16px;
}
.svg__cHixC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.commissionBabarkat:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cdzoN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__lziw4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.type2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0px;
}
.type2__modal :global(.ant-modal-content) {
  background: #192841;
  outline: none;
  border-radius: 24px 24px 0px 0px;
}
.type2__modal :global(.ant-modal-close) {
  width: 0px;
  height: 0px;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .type2:global(.__wab_instance) {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px;
    margin: 0px;
  }
}
.freeBox__t1LUa {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  background: var(--token-s7Z9BN_B1gNc);
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  padding: 16px 32px;
}
.freeBox__t1LUa > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__t1LUa > :global(.__wab_flex-container) > *,
.freeBox__t1LUa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t1LUa > :global(.__wab_flex-container) > picture > img,
.freeBox__t1LUa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__ed21 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ed21 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ed21 > :global(.__wab_flex-container) > *,
.freeBox__ed21 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ed21 > :global(.__wab_flex-container) > picture > img,
.freeBox__ed21
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__sa9Dm {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-aCLVKlB2IKxe);
  opacity: 0.6;
  flex-shrink: 0;
}
.text__negJw {
  color: var(--token-aCLVKlB2IKxe);
  font-size: 16px;
  font-weight: 700;
}
.svg__ga3J {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aCLVKlB2IKxe);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox___5Y91O {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  min-width: 0;
  min-height: 0;
  padding: 68px 8px 8px;
}
.comingSoon12 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #2e3f50cc 25%, #5ed58a26 100%);
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  min-width: 0;
  border-radius: 10px;
  padding: 10px;
}
.comingSoon12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.comingSoon12 > :global(.__wab_flex-container) > *,
.comingSoon12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.comingSoon12 > :global(.__wab_flex-container) > picture > img,
.comingSoon12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .comingSoon12 {
    width: 100%;
    height: 100%;
    max-width: 100%;
    background: linear-gradient(0deg, #2e3f50cc 25%, #5ed58a26 100%);
    cursor: pointer;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    border-radius: 10px;
    padding: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .comingSoon12 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .comingSoon12 > :global(.__wab_flex-container) > *,
  .comingSoon12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .comingSoon12 > :global(.__wab_flex-container) > picture > img,
  .comingSoon12
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.svg__aaPl7 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-s7Z9BN_B1gNc);
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.text__an7Br {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-41VRhDKfihhY);
  font-family: "Vazirmatn", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-top: 5px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__an7Br {
    font-size: 14px;
  }
}
.comingSoon13 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #2e3f50cc 25%, #5ed58a26 100%);
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  min-width: 0;
  border-radius: 10px;
  padding: 10px;
}
.comingSoon13 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.comingSoon13 > :global(.__wab_flex-container) > *,
.comingSoon13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.comingSoon13 > :global(.__wab_flex-container) > picture > img,
.comingSoon13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .comingSoon13 {
    width: 100%;
    height: 100%;
    max-width: 100%;
    background: linear-gradient(0deg, #2e3f50cc 25%, #5ed58a26 100%);
    cursor: pointer;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    border-radius: 10px;
    padding: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .comingSoon13 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .comingSoon13 > :global(.__wab_flex-container) > *,
  .comingSoon13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .comingSoon13 > :global(.__wab_flex-container) > picture > img,
  .comingSoon13
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.svg__nnekT {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-s7Z9BN_B1gNc);
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.text__t5AvW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-41VRhDKfihhY);
  font-family: "Vazirmatn", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-top: 5px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__t5AvW {
    font-size: 14px;
  }
}
.text___3Rci {
  width: 0px;
  height: 0px;
  max-width: 100%;
}
.loading:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.loadingstepscharg_step1:global(.__wab_instance) {
  z-index: 20;
  flex-shrink: 0;
}
