.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(90deg, #203b35 0%, #2dc57b4d 100%);
  column-gap: var(--token-vAZ8o9ODdwJP);
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: var(--token-l3ItR7R_AHRe);
}
.rootsteps2_step2 {
  padding: var(--token-l3ItR7R_AHRe);
}
.freeBox__z1KFd {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-9OGnRq7trnJD);
  border-radius: 50%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z1KFd {
    height: auto;
  }
}
.svg___1Ujcb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aCLVKlB2IKxe);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.freeBox__pA0A3 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__btNb3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.textCollapse:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-aCLVKlB2IKxe);
  font-size: var(--token--3UT6C2Na0g9);
  font-weight: 700;
  height: auto;
  align-self: center;
  text-align: right;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textCollapse:global(.__wab_instance) {
    text-align: right;
    height: 100%;
    min-height: 0;
  }
}
.freeBox__ldmn7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: #2dc57b80;
  border-radius: 20px;
  padding: 8px;
}
.freeBoxsteps2_step2__ldmn7SDf8 {
  background: none;
  outline-width: 2px;
  outline-offset: -2px;
  outline-color: var(--token-s7Z9BN_B1gNc);
  outline-style: solid;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: var(--token-aCLVKlB2IKxe);
  text-align: left;
  white-space: pre;
  min-width: 0;
  padding: 0px;
}
.textsteps2_step2 {
  color: var(--token-rrSDs4ZUYTcU);
}
.svg__oyTtb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aCLVKlB2IKxe);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svgsteps2_step2__oyTtbsDf8 {
  color: var(--token-rrSDs4ZUYTcU);
}
