.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.fragmentInput:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-DbGdjBpQ6R_X);
  background: #182b36;
  height: 50px;
  font-size: 16px;
  text-align: left;
  padding-left: 100px;
  min-width: 0;
  border: 1px solid #182b36;
}
.freeBox {
  display: flex;
  position: absolute;
  width: 95px;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0px;
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  text-align: left;
  color: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  font-size: 13px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aCLVKlB2IKxe);
  height: 1em;
}
