.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #1e2c39;
  box-shadow: 0px 12px 16px 0px #00000047;
  position: relative;
  min-width: 0;
  padding: 10px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
  }
}
.freeBox__xy8N9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xy8N9 {
    column-gap: 0px;
    row-gap: 0px;
    margin: 0px;
  }
}
.freeBox___60TsA {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__pGw3X {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 40px;
  color: var(--token-s7Z9BN_B1gNc);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__pGw3X {
    width: 30px;
    cursor: pointer;
    z-index: 2;
    flex-shrink: 0;
  }
}
.svg__c7LT7 {
  object-fit: cover;
  max-width: 100%;
  width: 45px;
  height: 45px;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__c7LT7 {
    left: auto;
    position: relative;
    top: auto;
    z-index: 1;
  }
}
.svg__gCajo {
  object-fit: cover;
  max-width: 100%;
  color: #5ed5a8;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__gCajo {
    color: #5ed5a8;
  }
}
.editProfile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
}
.editProfile__modal :global(.ant-modal-content) {
  background: #1e2c39;
  outline: none;
  border-radius: 0px;
}
.editProfile__modal :global(.ant-modal-close) {
  color: #ffffff;
  outline: none;
}
.freeBox__vr4Qq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vr4Qq {
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
}
.wallet4 {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #2dc57b;
  box-shadow: none;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: auto;
  column-gap: 0px;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet4 {
    max-width: 100%;
    background: #2dc57b;
    height: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0px;
    width: 100%;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__eVegk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 5px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eVegk {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    height: 60px;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    column-gap: 0px;
    flex-shrink: 0;
  }
}
.text__gecQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gecQ {
    font-size: 22px;
  }
}
.freeBox__w5Zen {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  background: #26394b;
  overflow: auto;
  row-gap: 40px;
  border-radius: 12px;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w5Zen {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin-top: 50px;
    row-gap: 28px;
    column-gap: 0px;
    min-width: 0;
    padding: 15px;
  }
}
.text__ci6X2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  font-size: 20px;
  background: none;
  font-weight: 700;
  min-width: 0;
  padding: 8px;
}
.freeBox__uuWa6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__dqkGu {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.name:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .name:global(.__wab_instance) {
    border-width: 0px;
  }
}
.freeBox__xvDpT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__eHswp {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.lastname:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lastname:global(.__wab_instance) {
    border-width: 0px;
  }
}
.freeBox__t2RUl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__pk3Wf {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.fathername:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fathername:global(.__wab_instance) {
    border-width: 0px;
  }
}
.freeBox__bN4T2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__tq18G {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.city:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
.freeBox__fEcM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__pDvT6 {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.location:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  opacity: 1;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button3:global(.__wab_instance) {
    opacity: 1;
    width: 100%;
    min-width: 0;
  }
}
.svg___3BRyl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zy8Es {
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zy8Es {
    font-weight: 700;
    font-size: 14px;
  }
}
.svg__eHBs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__kVMs1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.editSaraf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
}
.editSaraf__modal :global(.ant-modal-content) {
  background: #1e2c39;
  outline: none;
  border-radius: 0px;
}
.editSaraf__modal :global(.ant-modal-close) {
  color: #ffffff;
  outline: none;
}
.freeBox___9Fe8B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Fe8B {
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
}
.wallet6 {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #2dc57b;
  box-shadow: none;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: auto;
  column-gap: 0px;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet6 {
    max-width: 100%;
    background: #2dc57b;
    height: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0px;
    width: 100%;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__cY6CJ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 5px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cY6CJ {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    height: 60px;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    column-gap: 0px;
    flex-shrink: 0;
  }
}
.text__faggn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__faggn {
    font-size: 22px;
  }
}
.freeBox__fAGnG {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  background: #26394b;
  overflow: auto;
  row-gap: 40px;
  border-radius: 12px;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fAGnG {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin-top: 50px;
    row-gap: 28px;
    column-gap: 0px;
    min-width: 0;
    padding: 15px;
  }
}
.freeBox___1A2Lt {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 8px;
  margin: 30px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1A2Lt {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin-top: 0px;
    justify-content: center;
  }
}
.freeBox__nk2Ju {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nk2Ju {
    position: absolute;
    top: 0px;
    left: auto;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: auto;
    right: auto;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox___81GXu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 90%;
  left: auto;
  top: auto;
  z-index: 1;
  row-gap: 20px;
  min-width: 0;
  padding: 0px;
}
.text__p7Poi {
  display: block;
  font-size: 24px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  align-self: auto;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__p7Poi {
    font-size: 18px;
  }
}
.text__rwQy {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: sticky;
  top: 68px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-bottom: 0px;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rwQy {
    letter-spacing: normal;
    text-align: justify;
    line-height: 150%;
    font-size: 12px;
  }
}
.fragmentInput:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-DbGdjBpQ6R_X);
  background: #161e26;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  align-self: auto;
  height: 50px;
  font-size: 16px;
  text-align: right;
  min-width: 0;
  flex-shrink: 0;
  display: none;
  margin: 0px;
  border: 1px solid #161e26;
}
.text__g5CGq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-s7Z9BN_B1gNc);
  text-decoration-line: underline;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  min-width: 0;
  display: none;
}
.text__eyE76 {
  font-size: 24px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  align-self: auto;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  min-height: 0;
  display: none;
}
.text__emgez {
  font-size: 18px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: var(--token-s7Z9BN_B1gNc);
  position: sticky;
  top: 68px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-bottom: 0px;
  text-decoration-line: underline;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  min-width: 0;
  min-height: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__emgez {
    letter-spacing: normal;
    text-align: center;
    line-height: 150%;
    font-size: 16px;
  }
}
.freeBox__uiOjw {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: auto;
  min-width: 0;
  display: none;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uiOjw {
    top: auto;
    left: auto;
  }
}
.fragmentInput3:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-DbGdjBpQ6R_X);
  background: #161e26;
  height: 50px;
  font-size: 16px;
  text-align: right;
  min-width: 0;
  display: none;
  border: 1px solid #161e26;
}
.svg__nfYrv {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 20px;
  top: 15px;
  bottom: 0;
  height: 20px;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  flex-shrink: 0;
}
.freeBox__q5Ck {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 25px;
  min-width: 0;
  display: none;
  padding: 0px 15px;
}
.fragmentInput2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-DbGdjBpQ6R_X);
  background: #161e26;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  align-self: auto;
  height: 50px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 50px;
  min-width: 0;
  margin: 0px;
  border: 1px solid #161e26;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fragmentInput2:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__kvMlE {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 160px;
  height: 17px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  flex-shrink: 0;
  display: none;
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___8UsKw {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 160px;
  height: 17px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8UsKw {
    left: auto;
    top: auto;
  }
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #161e26;
  width: 100%;
  text-align: right;
  color: #ffffff;
  height: 50px;
  font-size: 16px;
  padding-top: 5px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .select:global(.__wab_instance) {
    font-size: 14px;
  }
}
.svg__xb9RY {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 20px;
  height: 20px;
  transform: rotate3d(0, 0, 1, 90deg);
  transform-style: preserve-3d;
}
.svg__xb9RY * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__xb9RY {
    transform: none;
    transform-style: preserve-3d;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__xb9RY * {
    transform-style: preserve-3d;
  }
}
.text___40An0 {
  font-size: 24px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  min-height: 0;
  display: none;
}
.freeBox___6SlKg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 40px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6SlKg {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.btnNumber:global(.__wab_instance) {
  max-width: 90%;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
}
.svg__oaKyQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__azxdb {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__pukAl {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.button:global(.__wab_instance) {
  max-width: 90%;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
}
.svg___8GQfy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zLb5J {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___53Ssm {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.button2:global(.__wab_instance) {
  max-width: 90%;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
}
.svg__pJZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__eVwUq {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__lGWii {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.btnSaraf:global(.__wab_instance) {
  max-width: 90%;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__iLyE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__k4Hzb {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__k4Hzb {
    font-size: 14px;
  }
}
.svg___0B8BG {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.sendcode:global(.__wab_instance) {
  max-width: 90%;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__wkXHo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___22F8P {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___0Pphs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.figmaPaste {
  position: relative;
  width: 352px;
  height: 530px;
  flex-shrink: 0;
}
.group {
  width: 352px;
  height: 349px;
  display: block;
  position: absolute;
  left: 0px;
  top: 181px;
}
.group2 {
  transform: translate(0px, 0.36000000000001364px);
  width: 350px;
  height: 52px;
  display: block;
  position: absolute;
  top: 297px;
  left: 0px;
  transform-style: preserve-3d;
}
.group2 * {
  transform-style: preserve-3d;
}
.rectangle35 {
  background: rgba(93, 212, 167, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 16px;
}
.text__ttc9J {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(22, 28, 33, 1);
  position: absolute;
  top: 29.04%;
  left: 44%;
  transform: translate(-0.34499999999999886px, 0.3009999999999309px);
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  transform-style: preserve-3d;
}
.text__ttc9J * {
  transform-style: preserve-3d;
}
.group3 {
  transform: translate(0.38700000000000045px, -0.33899999999999864px);
  width: 326px;
  height: 52px;
  display: block;
  position: absolute;
  top: 151px;
  left: 13px;
  transform-style: preserve-3d;
}
.group3 * {
  transform-style: preserve-3d;
}
.group4 {
  width: 58px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle23 {
  background: rgba(21, 27, 33, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 12px;
}
.text__wZpg6 {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.74%;
  left: 38.34%;
  width: 21.66%;
  height: 85.2%;
  transform: translate(-0.005000000000002558px, -0.17500000000001137px);
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  transform-style: preserve-3d;
}
.text__wZpg6 * {
  transform-style: preserve-3d;
}
.group5 {
  transform: translate(-0.021000000000000796px, 0px);
  width: 58px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 88px;
  transform-style: preserve-3d;
}
.group5 * {
  transform-style: preserve-3d;
}
.rectangle24 {
  background: rgba(21, 27, 33, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 12px;
}
.text__hhn1A {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.74%;
  left: 33.11%;
  width: 31.66%;
  height: 85.2%;
  transform: translate(0.1250000000000142px, -0.17500000000001137px);
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  transform-style: preserve-3d;
}
.text__hhn1A * {
  transform-style: preserve-3d;
}
.group6 {
  transform: translate(-0.13100000000000023px, 0px);
  width: 58px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 178px;
  transform-style: preserve-3d;
}
.group6 * {
  transform-style: preserve-3d;
}
.rectangle25 {
  background: rgba(21, 27, 33, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 12px;
}
.text__iz3Hn {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.74%;
  left: 33.11%;
  width: 33.33%;
  height: 85.2%;
  transform: translate(0.12600000000000477px, -0.17500000000001137px);
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  transform-style: preserve-3d;
}
.text__iz3Hn * {
  transform-style: preserve-3d;
}
.group7 {
  transform: translate(-0.2400000000000091px, 0px);
  width: 58px;
  height: 52px;
  display: block;
  position: absolute;
  top: 0px;
  left: 268px;
  transform-style: preserve-3d;
}
.group7 * {
  transform-style: preserve-3d;
}
.rectangle {
  background: rgba(21, 27, 33, 1);
  width: 100%;
  height: 100.69%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 12px;
}
.text__bTMaY {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.74%;
  left: 33.11%;
  width: 33.33%;
  height: 85.2%;
  transform: translate(0.1260000000000332px, -0.17500000000001137px);
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  transform-style: preserve-3d;
}
.text__bTMaY * {
  transform-style: preserve-3d;
}
.text__bQoTl {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  line-height: 100%;
  color: rgba(166, 174, 182, 1);
  position: absolute;
  top: 63px;
  left: 0px;
  width: 350px;
  height: 16px;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__x2WQt {
  display: block;
  font-size: 32px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0264em;
  line-height: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 42px;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.group8 {
  width: 188px;
  height: 22px;
  display: block;
  position: absolute;
  left: 4px;
  top: 0px;
}
.freeBox__eDzNg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.svg___4UiwI {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  height: 20px;
}
.support:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
}
.support__modal :global(.ant-modal-content) {
  background: #1e2c39;
  outline: none;
  border-radius: 0px;
}
.support__modal :global(.ant-modal-close) {
  color: #ffffff;
  outline: none;
}
.freeBox__zuaB3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zuaB3 {
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
}
.wallet7 {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #2dc57b;
  box-shadow: none;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: auto;
  column-gap: 0px;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet7 {
    max-width: 100%;
    background: #2dc57b;
    height: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0px;
    width: 100%;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__zhVjX {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 5px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zhVjX {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    height: 60px;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    column-gap: 0px;
    flex-shrink: 0;
  }
}
.text__wJd0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wJd0 {
    font-size: 22px;
  }
}
.freeBox___7MB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.svg___7NQTa {
  object-fit: cover;
  max-width: 100%;
  color: #2dc57b;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.text___7OYb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  color: var(--token-aCLVKlB2IKxe);
  font-size: 16px;
  min-width: 0;
}
.freeBox___62QI {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___62QI {
    margin-top: 50px;
  }
}
.freeBox___0ZPkZ {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  height: auto;
  max-width: 100%;
  background: #26394b;
  overflow: auto;
  column-gap: 0px;
  border-radius: 12px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0ZPkZ {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    row-gap: 28px;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.freeBox__xKhvp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xKhvp {
    height: 40px;
    width: auto;
  }
}
.svg___0Iezh {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: auto;
  color: var(--token-s7Z9BN_B1gNc);
  min-height: 0;
}
.freeBox___3CHdN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3CHdN {
    width: auto;
  }
}
.text__kqUig {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  color: var(--token-aCLVKlB2IKxe);
  font-weight: 600;
  min-width: 0;
}
.text__a8PJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-s7Z9BN_B1gNc);
  min-width: 0;
}
.freeBox__mfhe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  height: auto;
  max-width: 100%;
  background: #26394b;
  overflow: auto;
  column-gap: 0px;
  border-radius: 12px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mfhe {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    row-gap: 28px;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.freeBox__wlkSo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wlkSo {
    height: 40px;
  }
}
.svg___8DDkc {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: auto;
  color: var(--token-s7Z9BN_B1gNc);
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___8DDkc {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__ns1Vg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ns1Vg {
    width: auto;
  }
}
.text___3KznB {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  color: var(--token-aCLVKlB2IKxe);
  font-weight: 600;
  min-width: 0;
}
.text__seb8Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-s7Z9BN_B1gNc);
  min-width: 0;
}
.freeBox__zsZ27 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.svg__mdXz {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  height: 20px;
}
.editPassword:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
}
.editPassword__modal :global(.ant-modal-content) {
  background: #1e2c39;
  outline: none;
  border-radius: 0px;
}
.editPassword__modal :global(.ant-modal-close) {
  color: #ffffff;
  outline: none;
}
.freeBox___1Z9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Z9 {
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
}
.wallet5 {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #2dc57b;
  box-shadow: none;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: auto;
  column-gap: 0px;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet5 {
    max-width: 100%;
    background: #2dc57b;
    height: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0px;
    width: 100%;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__d9Mx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 5px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d9Mx {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    height: 60px;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    column-gap: 0px;
    flex-shrink: 0;
  }
}
.text__cjOba {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cjOba {
    font-size: 20px;
  }
}
.freeBox__acycF {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  background: #26394b;
  overflow: auto;
  row-gap: 40px;
  border-radius: 12px;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__acycF {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin-top: 50px;
    row-gap: 28px;
    column-gap: 0px;
    min-width: 0;
    padding: 15px;
  }
}
.freeBox__bhjll {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__jv4L {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  font-size: 20px;
  background: none;
  font-weight: 700;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jv4L {
    font-size: 18px;
  }
}
.freeBox__y30N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__l1I9G {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__kr9LG {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.nowPass:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .nowPass:global(.__wab_instance) {
    border-width: 0px;
  }
}
.svg__mdAaS {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
  height: 20px;
  flex-shrink: 0;
}
.text__tP8Az {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0264em;
  color: var(--token-s7Z9BN_B1gNc);
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-decoration-line: underline;
  align-self: center;
  min-width: 0;
  min-height: 0;
  padding: 4px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tP8Az {
    font-size: 16px;
    height: auto;
  }
}
.freeBox___8LaUz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__hEcys {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-0MrDlDLqtJFU);
  font-size: 14px;
  background: none;
  font-weight: 400;
  min-width: 0;
  padding: 8px;
}
.freeBox__vMiLe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__wu9I6 {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.newPass:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .newPass:global(.__wab_instance) {
    border-width: 0px;
  }
}
.svg__at3Ei {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
  height: 20px;
  flex-shrink: 0;
}
.progress:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___3JVfy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg___0FC03 {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___0FC03 {
    left: auto;
    right: 8px;
  }
}
.reoeatNewPass:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  flex-shrink: 0;
  padding: 20px 50px 20px 20px;
  border: 0px solid #00ff09;
}
.svg__yaAye {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
  height: 20px;
  flex-shrink: 0;
}
.text__m9PJx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-_u6T-ctQmwmL);
  padding-right: 5px;
  padding-top: 8px;
  min-width: 0;
}
.text__qk9Xs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-s7Z9BN_B1gNc);
  padding-right: 5px;
  padding-top: 8px;
  min-width: 0;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  opacity: 1;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button4:global(.__wab_instance) {
    opacity: 1;
    width: 100%;
    min-width: 0;
  }
}
.svg__otwof {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xtilq {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xtilq {
    font-weight: 700;
    font-size: 14px;
  }
}
.svg___596K9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___596K9 {
    color: var(--token-jgohepLVeKvh);
  }
}
.freeBox___81FJ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.drawer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #1e2c39;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.drawer__drawer :global(.ant-drawer-body) {
  background: #1e2c39;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  outline: none;
}
.drawer__drawer :global(.ant-drawer-header) {
  background: #192631;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  outline: none;
}
.drawer__drawer :global(.ant-drawer-title) {
  background: none;
  outline: none;
}
.drawer__drawer :global(.ant-drawer-footer) {
  background: #1e2c39;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .drawer:global(.__wab_instance) {
    width: 75%;
  }
}
.freeBox__gEhsW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__sdrxk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.freeBox__bMxbJ {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 15px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bMxbJ {
    column-gap: 10px;
    row-gap: 0px;
    padding: 0px;
  }
}
.svg__vxHpw {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-pyhDq7s0RTkz);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__vxHpw {
    width: 30px;
    height: 40px;
    flex-shrink: 0;
  }
}
.freeBox__ezCyq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.text__kG1U8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-Pxe4wDL2kJpb);
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kG1U8 {
    font-size: 14px;
  }
}
.svg__hImGr {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  align-self: center;
  transform: none;
  color: var(--token-P02GAf-HlHok);
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__hImGr * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__hImGr {
    width: 15px;
    height: 20px;
    transform-style: preserve-3d;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__hImGr * {
    transform-style: preserve-3d;
  }
}
.freeBox__yCnq {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 15px;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yCnq {
    column-gap: 10px;
    row-gap: 0px;
    padding: 0px;
  }
}
.svg__mjoHv {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-pyhDq7s0RTkz);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__mjoHv {
    width: 30px;
    height: 40px;
    flex-shrink: 0;
  }
}
.freeBox__mESnf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.text___6RaOu {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-Pxe4wDL2kJpb);
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6RaOu {
    font-size: 14px;
  }
}
.svg__q1KqH {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  align-self: center;
  transform: none;
  color: var(--token-P02GAf-HlHok);
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__q1KqH * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__q1KqH {
    width: 15px;
    height: 20px;
    transform-style: preserve-3d;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__q1KqH * {
    transform-style: preserve-3d;
  }
}
.freeBox___7MTQ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 15px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7MTQ {
    column-gap: 10px;
    row-gap: 0px;
    padding: 0px;
  }
}
.svg__uTxoa {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-pyhDq7s0RTkz);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__uTxoa {
    width: 30px;
    height: 40px;
    flex-shrink: 0;
  }
}
.freeBox___8Fy3 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.text__wn2OJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-Pxe4wDL2kJpb);
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wn2OJ {
    font-size: 14px;
  }
}
.svg__yoPc2 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  align-self: center;
  transform: none;
  color: var(--token-P02GAf-HlHok);
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__yoPc2 * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__yoPc2 {
    width: 15px;
    height: 20px;
    transform-style: preserve-3d;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__yoPc2 * {
    transform-style: preserve-3d;
  }
}
.freeBox__yUrpm {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 15px;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yUrpm {
    column-gap: 10px;
    row-gap: 0px;
    padding: 0px;
  }
}
.svg__rMn5Y {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-pyhDq7s0RTkz);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__rMn5Y {
    width: 30px;
    height: 40px;
    flex-shrink: 0;
  }
}
.freeBox__rYhgg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.text__zYcVq {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-Pxe4wDL2kJpb);
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zYcVq {
    font-size: 14px;
  }
}
.svg__fZcDz {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  align-self: center;
  transform: none;
  color: var(--token-P02GAf-HlHok);
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__fZcDz * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__fZcDz {
    width: 15px;
    height: 20px;
    transform-style: preserve-3d;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__fZcDz * {
    transform-style: preserve-3d;
  }
}
.freeBox__fLmJb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 15px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fLmJb {
    column-gap: 10px;
    row-gap: 0px;
    padding: 0px;
  }
}
.svg__m7A14 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-_u6T-ctQmwmL);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__m7A14 {
    width: 30px;
    height: 40px;
    flex-shrink: 0;
  }
}
.freeBox___511QF {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.text__jbg3L {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-P02GAf-HlHok);
  font-size: 20px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jbg3L {
    font-size: 14px;
  }
}
.svg__wJVbb {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  align-self: center;
  transform: none;
  color: var(--token-P02GAf-HlHok);
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__wJVbb * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__wJVbb {
    width: 15px;
    height: 20px;
    transform-style: preserve-3d;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__wJVbb * {
    transform-style: preserve-3d;
  }
}
.svg__l2ZGj {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 150px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__l2ZGj {
    height: 80px;
  }
}
.freeBox___3E3Xw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 15px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3E3Xw {
    padding-right: 0px;
    width: 100%;
    column-gap: 10px;
    row-gap: 0px;
    min-width: 0;
  }
}
.svg___02Wdh {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___02Wdh {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.freeBox___3TMbh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.text__h10Mj {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-pyhDq7s0RTkz);
  font-size: 20px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__h10Mj {
    font-size: 16px;
  }
}
.text__rSwEl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: right;
  color: var(--token-pyhDq7s0RTkz);
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rSwEl {
    font-size: 14px;
  }
}
.exitModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: auto;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 33%;
  bottom: 0;
  padding: 0px 15px 15px;
  margin: 0px;
}
.exitModal__modal :global(.ant-modal-content) {
  background: #1e2c39;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .exitModal:global(.__wab_instance) {
    right: 0;
    bottom: 0;
    top: auto;
    left: 0;
  }
}
.freeBox__vmeW8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.text__vHgUj {
  font-size: 18px;
  font-weight: 700;
  color: var(--token-as44I7WwR-rZ);
}
.text__k3Y64 {
  color: var(--token-pyhDq7s0RTkz);
}
.freeBox__gwsuC {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.button5:global(.__wab_instance) {
  max-width: 100%;
  width: 60%;
  opacity: 0.6;
}
.svg__yKSyy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__btncB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button6:global(.__wab_instance) {
  max-width: 100%;
  width: 40%;
  opacity: 1;
}
.svg__rMisM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__sjIvI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
