.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__b5V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 70px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b5V {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__ugpWi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  background: #26394b;
  overflow: auto;
  row-gap: 40px;
  min-width: 0;
  border-radius: 12px;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ugpWi {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin-top: 50px;
    row-gap: 28px;
    column-gap: 0px;
    min-width: 0;
    padding: 15px;
  }
}
.text__puu75 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  font-size: 20px;
  background: none;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 8px;
}
.freeBox__shewW {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__mYuzC {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: 711px;
  top: 10px;
  margin-right: 0px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__mYuzC {
    left: auto;
    bottom: 0;
    right: 8px;
    top: 0;
  }
}
.name:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  flex-shrink: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .name:global(.__wab_instance) {
    border-width: 0px;
  }
}
.text___1B4Na {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  background: #d9363e80;
  color: var(--token-COF46JTyVgAT);
  margin-top: 4px;
  min-width: 0;
  border-radius: 8px;
  padding: 4px;
  border: 1px dashed var(--token-ddpevpfGL4QK);
}
.freeBox__ejUfw {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__utUPo {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: 711px;
  top: 10px;
  margin-right: 0px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__utUPo {
    top: 0;
    left: auto;
    right: 8px;
    bottom: 0;
    height: 25px;
    flex-shrink: 0;
  }
}
.lastname:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  flex-shrink: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lastname:global(.__wab_instance) {
    border-width: 0px;
  }
}
.freeBox__io1C {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__jLCc {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: 711px;
  top: 10px;
  margin-right: 0px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__jLCc {
    top: 0;
    left: auto;
    right: 8px;
    bottom: 0;
    height: 25px;
    flex-shrink: 0;
  }
}
.mobile:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  text-align: right;
  min-width: 0;
  flex-shrink: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobile:global(.__wab_instance) {
    border-width: 0px;
  }
}
.text__bPwHx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  background: #d9363e80;
  color: var(--token-COF46JTyVgAT);
  margin-top: 4px;
  min-width: 0;
  border-radius: 8px;
  padding: 4px;
  border: 1px dashed var(--token-ddpevpfGL4QK);
}
.freeBox___2U7Ne {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__amXvn {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: 711px;
  top: 10px;
  margin-right: 0px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__amXvn {
    top: 0;
    left: auto;
    right: 8px;
    bottom: 0;
    height: 25px;
    flex-shrink: 0;
  }
}
.customerId:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: var(--token-2nGah04_w5MY);
  height: 50px;
  text-align: right;
  min-width: 0;
  flex-shrink: 0;
  padding: 20px 35px 20px 20px;
  border-width: 0px;
}
.text__klISa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  background: #d9363e80;
  color: var(--token-COF46JTyVgAT);
  margin-top: 4px;
  min-width: 0;
  border-radius: 8px;
  padding: 4px;
  border: 1px dashed var(--token-ddpevpfGL4QK);
}
.freeBox__hEDs2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__xWHw {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
  z-index: 1;
}
.location:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  height: 100px;
  color: var(--token-aCLVKlB2IKxe);
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 10px 50px 10px 10px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .location:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.button5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  opacity: 1;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button5:global(.__wab_instance) {
    opacity: 1;
    width: 100%;
    min-width: 0;
  }
}
.svg___6Bq7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__piha3 {
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__piha3 {
    font-weight: 700;
    font-size: 14px;
  }
}
.svg__a0WNm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  max-width: 100%;
  background: #1e2c39;
  box-shadow: 0px 12px 16px 0px #00000047;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  min-width: 0;
  padding: 10px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    width: 100%;
    left: auto;
    top: auto;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.svg___2BXc5 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #2dc57b;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___2BXc5 {
    width: 25px;
    height: 25px;
    color: #2dc57b;
    flex-shrink: 0;
  }
}
.text__lRaN {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: #2dc57b;
  font-size: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lRaN {
    color: #2dc57b;
  }
}
.svg__tX9PU {
  object-fit: cover;
  max-width: 100%;
  color: #2dc57b;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__tX9PU {
    color: #2dc57b;
    align-self: auto;
    cursor: pointer;
  }
}
.add:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0px;
}
.add__modal :global(.ant-modal-content) {
  background: #192841;
  outline: none;
  border-radius: 24px 24px 0px 0px;
}
.add__modal :global(.ant-modal-close) {
  width: 0px;
  height: 0px;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .add:global(.__wab_instance) {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px;
    margin: 0px;
  }
}
.freeBox__hSXyS {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  row-gap: 16px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__zjiS2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #5ae7a2;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 16px;
  min-width: 0;
}
.freeBox__sXn8E {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.valueAdd:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #161e26;
  color: var(--token-aCLVKlB2IKxe);
  height: 45px;
  text-align: right;
  min-width: 0;
  padding: 16px 24px 16px 16px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .valueAdd:global(.__wab_instance) {
    border-width: 0px;
  }
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 8px;
  bottom: 0;
  padding-left: 30px;
}
.svg__hIeXz {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aCLVKlB2IKxe);
  width: 25px;
  height: 25px;
}
.svg__aNv5 {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: auto;
  bottom: 13px;
  right: 12px;
  width: 20px;
  height: 20px;
  color: #ffffffcc;
  flex-shrink: 0;
}
.info:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #161e26;
  height: 100px;
  color: var(--token-aCLVKlB2IKxe);
  flex-shrink: 0;
  border-radius: 8px;
  border-width: 0px;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___74P3Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__w1Uth {
  font-size: 16px;
  font-weight: 700;
}
.svg__wsqXd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lu6Hb {
  width: 0px;
  height: 0px;
  max-width: 100%;
}
.remove:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0px;
}
.remove__modal :global(.ant-modal-content) {
  background: #192841;
  display: flex;
  flex-direction: column;
  outline: none;
  border-radius: 24px 24px 0px 0px;
}
.remove__modal :global(.ant-modal-close) {
  width: 0px;
  height: 0px;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .remove:global(.__wab_instance) {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px;
    margin: 0px;
  }
}
.freeBox___4ZEgg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  row-gap: 16px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__txCku {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-ZDcvRU4gUKFH);
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 16px;
  min-width: 0;
}
.freeBox__qYpcC {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.valueAdd2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #161e26;
  color: var(--token-aCLVKlB2IKxe);
  height: 45px;
  text-align: right;
  min-width: 0;
  padding: 16px 24px 16px 16px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .valueAdd2:global(.__wab_instance) {
    border-width: 0px;
  }
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 8px;
  padding-left: 30px;
}
.svg__sokza {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aCLVKlB2IKxe);
  width: 25px;
  height: 25px;
}
.svg__ep1To {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: auto;
  bottom: 13px;
  right: 12px;
  width: 20px;
  height: 20px;
  color: #ffffffcc;
  flex-shrink: 0;
}
.info2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #161e26;
  height: 100px;
  color: var(--token-aCLVKlB2IKxe);
  flex-shrink: 0;
  border-radius: 8px;
  border-width: 0px;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__k62Nk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dr3Ww {
  font-size: 16px;
  font-weight: 700;
}
.svg__zsVpR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nJwvH {
  width: 0px;
  height: 0px;
  max-width: 100%;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vkWNj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zkoi6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
