.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: none;
  min-width: 0;
  padding: 0px 0px 0px 5px;
  border-bottom: 1px solid #425363;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: none;
    padding: 0px 0px 0px 5px;
    border-bottom: 1px solid #425363;
  }
}
.icons:global(.__wab_instance) {
  flex-shrink: 0;
  margin: 5px 5px 5px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .icons:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.iconsfiled:global(.__wab_instance) {
  flex-shrink: 0;
}
.iconsunnamedGroupOfVariants_intenet:global(.__wab_instance) {
  flex-shrink: 0;
}
.iconsunnamedGroupOfVariants_walet:global(.__wab_instance) {
  flex-shrink: 0;
}
.iconsunnamedGroupOfVariants_panel:global(.__wab_instance) {
  flex-shrink: 0;
}
.iconsunnamedGroupOfVariants_snap:global(.__wab_instance) {
  flex-shrink: 0;
}
.iconsunnamedGroupOfVariants_pubg:global(.__wab_instance) {
  flex-shrink: 0;
}
.iconsunnamedGroupOfVariants_bill:global(.__wab_instance) {
  flex-shrink: 0;
}
.iconsfiled_unnamedGroupOfVariants_intenet:global(.__wab_instance) {
  flex-shrink: 0;
}
.iconsfiled_unnamedGroupOfVariants_walet:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__rjm5W {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__h6LBa {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  font-size: 20px;
  min-width: 0;
}
.text__zr1Im {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  min-width: 0;
}
.freeBox__nynGc {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___6HX8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #8d9eaf;
  font-size: 16px;
  padding-top: 2px;
  min-width: 0;
}
