.soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: linear-gradient(#34495e, #34495e), var(--token-jgohepLVeKvh);
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 4px 16px -10px var(--token-RvPI6LyeIPmd);
  opacity: 1;
  position: relative;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
}
.text___3H7Hv {
  position: absolute;
  width: 100px;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  background: #25b734;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  align-self: flex-start;
  transform: rotateX(0deg) rotateY(20deg) rotateZ(-40deg);
  left: -25px;
  top: 12px;
  transform-style: preserve-3d;
}
.text___3H7Hv * {
  transform-style: preserve-3d;
}
.afghanistanFlag {
  object-fit: cover;
  max-width: 100%;
  width: 65px;
  height: 65px;
  margin-bottom: 10px;
  flex-shrink: 0;
}
.text__copNq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  font-family: "Vazirmatn", sans-serif;
  font-size: 14px;
  color: var(--token-41VRhDKfihhY);
  min-width: 0;
}
