.chargeStep1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .chargeStep1 {
    grid-row-gap: 8px;
  }
}
.section__urk5N {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__urk5N > * {
  grid-column: 4;
}
.sectionstepscharg_step3__urk5NzZ317 > * {
  grid-column: 4;
}
.freeBox__utlDe {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__utlDe {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #1e2c39;
  box-shadow: 0px 12px 16px 0px #00000047;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
  right: 0;
  padding: 10px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    width: 100%;
    min-width: 0;
  }
}
.headerstepscharg_step3 {
  top: 0;
  right: 0;
  left: 0;
  width: auto;
}
.svg___0OtwH {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: #2dc57b;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___0OtwH {
    width: 25px;
    height: 25px;
    color: #2dc57b;
    flex-shrink: 0;
  }
}
.text__suHcX {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: #2dc57b;
  font-size: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__suHcX {
    color: #2dc57b;
  }
}
.svg__pGQzv {
  object-fit: cover;
  max-width: 100%;
  color: #2dc57b;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__pGQzv {
    color: #2dc57b;
    align-self: auto;
    cursor: pointer;
  }
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.wallet {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #2dc57b;
  margin-top: 50px;
  box-shadow: none;
  margin-bottom: 10px;
  justify-self: flex-start;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  column-gap: 0px;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet {
    max-width: 100%;
    background: #2dc57b;
    height: auto;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 20px;
  }
}
.walletstepscharg_step3 {
  background: #2dc57b;
  margin-top: 50px;
}
.svg__p6Ujp {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  width: 300px;
  height: 100%;
  filter: brightness(60%);
  bottom: 0;
  min-height: 0;
}
.steps {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.مشخصات {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.selected {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  transform: rotate3d(0, 0, 1, 90deg);
  color: #ffffff;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.selected * {
  transform-style: preserve-3d;
}
.selectedstepscharg_step3 {
  transform: none;
  color: #00ffcc;
  transform-style: preserve-3d;
}
.selectedstepscharg_step3 * {
  transform-style: preserve-3d;
}
.text___2CRi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: "Vazirmatn", sans-serif;
  min-width: 0;
}
.textstepscharg_step3___2CRIzZ317 {
  color: #00ffcc;
}
.svg___1SBz2 {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  transform: rotate3d(0, 0, 1, 90deg);
  width: 20px;
  height: 20px;
  align-self: auto;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  margin-bottom: 15px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg___1SBz2 * {
  transform-style: preserve-3d;
}
.تاییدخرید {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.unselected2 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-2aHIw8xI62Xi);
  flex-shrink: 0;
}
.unselected2stepscharg_step3 {
  color: var(--token-jgohepLVeKvh);
}
.text__jIlbO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-2aHIw8xI62Xi);
  min-width: 0;
}
.textstepscharg_step3__jIlbOzZ317 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__k1Kvz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBoxstepscharg_step3__k1KvZzZ317 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5px;
  column-gap: 0px;
}
.text__vprau {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  padding-bottom: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vprau {
    font-weight: 700;
  }
}
.textstepscharg_step3__vprauzZ317 {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid #00ffcc;
}
.freeBox__afbuj {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxstepscharg_step3__afbujzZ317 {
  display: flex;
}
.text___87TVs {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___87TVs {
    font-weight: 700;
  }
}
.textstepscharg_step3___87TVszZ317 {
  font-weight: 400;
  font-size: 14px;
}
.text___5P0MN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox___9WxZl {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxstepscharg_step3___9WxZlzZ317 {
  display: flex;
}
.text__thz2P {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__thz2P {
    font-weight: 700;
  }
}
.textstepscharg_step3__thz2PzZ317 {
  font-weight: 400;
  font-size: 14px;
}
.text__udvOm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__udvOm {
    font-weight: 700;
  }
}
.textstepscharg_step3__udvOmzZ317 {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}
.freeBox__vWsap {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxstepscharg_step3__vWsapzZ317 {
  display: flex;
}
.text__fUxQ2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fUxQ2 {
    font-weight: 700;
  }
}
.textstepscharg_step3__fUxQ2ZZ317 {
  font-weight: 700;
  font-size: 14px;
}
.text___91CL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___91CL {
    font-weight: 700;
  }
}
.textstepscharg_step3___91CLzZ317 {
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  line-height: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textstepscharg_step3___91CLzZ317 {
    font-weight: 700;
  }
}
.freeBox___2Jf0J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Jf0J {
    z-index: 5;
  }
}
.fragmentInput:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #ffffff;
  text-align: right;
  color: var(--token-WxvvgatuPYoJ);
  font-family: "Vazirmatn", sans-serif;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 16px;
  height: 50px;
  min-width: 0;
  border-radius: 7px;
  border: 1px solid var(--token-jgohepLVeKvh);
}
.fragmentInputstepscharg_step3:global(.__wab_instance) {
  display: none;
}
.img__jiteR {
  object-fit: contain;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 8px;
  width: 35px;
  height: 35px;
  right: 8px;
  flex-shrink: 0;
}
.img__jiteR > picture > img {
  object-fit: contain;
}
.imgstepscharg_step3__jiteRzZ317 {
  display: none;
}
.fragmentInput2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #ffffff;
  text-align: right;
  color: var(--token-WxvvgatuPYoJ);
  font-family: "Vazirmatn", sans-serif;
  padding-right: 10px;
  padding-left: 50px;
  margin-top: 10px;
  font-size: 16px;
  height: 50px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 7px;
  border: 1px solid var(--token-jgohepLVeKvh);
}
@media (min-width: 0px) and (max-width: 768px) {
  .fragmentInput2:global(.__wab_instance) {
    z-index: 5;
  }
}
.freeBox___3KmGp {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxstepscharg_step3___3KmGPzZ317 {
  display: none;
}
.text__hOx7T {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-jgohepLVeKvh);
  font-family: "Vazirmatn", sans-serif;
  min-width: 0;
}
.operators {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  column-gap: 8px;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .operators {
    justify-content: flex-start;
    align-items: center;
  }
}
.boxselect:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .boxselect:global(.__wab_instance) {
    width: auto;
  }
}
.img___50T2F {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 60px;
  margin: 10px;
}
.img___50T2F > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___50T2F {
    height: 50px;
  }
}
.freeBox___2VgrC {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
.text__raLk {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  padding-bottom: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__raLk {
    font-weight: 700;
  }
}
.textstepscharg_step3__raLkzZ317 {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid #00ffcc;
}
.operators3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: 8px;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .operators3 {
    justify-content: flex-start;
    align-items: center;
  }
}
.boxselect3:global(.__wab_instance) {
  max-width: 100%;
  height: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .boxselect3:global(.__wab_instance) {
    width: auto;
  }
}
.freeBox__f05Yr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text___7Un2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  min-width: 0;
}
.freeBox__qrsqM {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qrsqM {
    left: auto;
    top: auto;
  }
}
.freeBoxstepscharg_step3__qrsqMzZ317 {
  left: auto;
  top: auto;
  display: none;
}
.text__hRm2E {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  color: var(--token-41VRhDKfihhY);
  font-size: 16px;
  padding-bottom: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hRm2E {
    font-weight: 700;
  }
}
.textstepscharg_step3__hRm2EzZ317 {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid #00ffcc;
}
.operators4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: 8px;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .operators4 {
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
  }
}
.boxselect4:global(.__wab_instance) {
  max-width: 100%;
  height: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .boxselect4:global(.__wab_instance) {
    width: auto;
  }
}
.freeBox__cKa6P {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__nRsc {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  min-width: 0;
}
.freeBox___3UNf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  margin-top: 0px;
  position: relative;
  row-gap: 20px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3UNf {
    margin-top: 0px;
  }
}
.freeBoxstepscharg_step3___3UNfzZ317 {
  margin-top: 50px;
  padding: 0px 24px;
}
.pay {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 0px;
  height: 0px;
  max-width: 100%;
  flex-shrink: 0;
  display: none;
  padding: 0px;
}
.paystepscharg_step3 {
  background: linear-gradient(90deg, #48665799 15%, #2dc57b80 100%);
  justify-content: center;
  align-items: center;
  opacity: 1;
  display: flex;
  border-radius: 12px;
}
.freeBox__pU38C {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxstepscharg_step3__pU38CzZ317 {
  background: linear-gradient(90deg, #48665799 15%, #2dc57b80 100%);
  justify-content: center;
  align-items: center;
  opacity: 1;
  display: flex;
  border-radius: 12px;
}
.svg__oLJp {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svgstepscharg_step3__oLJPzZ317 {
  height: 60px;
  width: 60px;
  flex-shrink: 0;
}
.img__pSg9U {
  object-fit: cover;
  max-width: 100%;
}
.img__pSg9U > picture > img {
  object-fit: cover;
}
.imgstepscharg_step3__pSg9UzZ317 {
  display: none;
}
.freeBox__tvgFa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxstepscharg_step3__tvgFazZ317 {
  align-self: center;
  display: flex;
  flex-direction: column;
  column-gap: 0px;
  padding: 0px;
}
.text__duQgy {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textstepscharg_step3__duQgYzZ317 {
  font-size: 16px;
  font-weight: 700;
  color: var(--token-jgohepLVeKvh);
  text-align: right;
  width: 100%;
  padding-right: 15px;
  min-width: 0;
}
.text__cmmxG {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textstepscharg_step3__cmmxGzZ317 {
  font-size: 12px;
  font-weight: 400;
  color: var(--token-jgohepLVeKvh);
  text-align: right;
  width: 100%;
  padding-right: 15px;
  min-width: 0;
}
.svg__sgoQc {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svgstepscharg_step3__sgoQczZ317 {
  width: 40px;
  height: 40px;
  opacity: 0.8;
  flex-shrink: 0;
}
.freeBox__hfu8C {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 220px;
  max-width: 100%;
  border-bottom-right-radius: 100px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hfu8C {
    height: auto;
  }
}
.freeBoxstepscharg_step3__hfu8CzZ317 {
  display: none;
}
.img__yQ6Gg {
  object-fit: cover;
  max-width: 100%;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 100px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__yQ6Gg > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yQ6Gg {
    border-bottom-left-radius: 50px;
    height: auto;
  }
}
.imgstepscharg_step3__yQ6GgzZ317 {
  display: none;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: auto;
  bottom: 20px;
  height: auto;
  right: 20px;
  width: auto;
}
.svg__y3MRp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xYx3L {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__n7GQp {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 40%;
  left: 0px;
  top: 30px;
  color: #ffffff;
  text-align: justify;
  right: 20px;
  font-size: var(--token-bucIARGmMoc6);
  font-weight: 700;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__n7GQp {
    font-size: var(--token-hYndcje43OGL);
    top: 20px;
    right: 15px;
    height: auto;
    max-width: 50%;
  }
}
.section__g2V4Q {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__g2V4Q > * {
  grid-column: 4;
}
.sectionstepscharg_step3__g2V4QzZ317 > * {
  grid-column: 4;
}
.freeBox__wmaIu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wmaIu {
    background: #1e2c39;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 20px;
    margin: 0px;
  }
}
.freeBoxstepscharg_step3__wmaIuzZ317 {
  justify-content: center;
  width: 100%;
  align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  column-gap: 20px;
  row-gap: 0px;
  min-width: 0;
}
.backstep2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 50px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .backstep2:global(.__wab_instance) {
    display: none;
  }
}
.svg__mxduz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yFn4W {
  font-size: 18px;
}
.svg__xhA4L {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.backstep3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 50px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .backstep3:global(.__wab_instance) {
    display: none;
  }
}
.backstep3stepscharg_step3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .backstep3stepscharg_step3:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__rQiWb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yldpQ {
  font-size: 18px;
}
.svg__eHe1V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.step1Next:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 50px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .step1Next:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
    display: flex;
  }
}
.step1Nextstepscharg_step3:global(.__wab_instance) {
  display: none;
}
.svg__witJd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ohBpe {
  font-size: 18px;
}
.svg__yhsDj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.step2Next:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 50px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .step2Next:global(.__wab_instance) {
    display: none;
  }
}
.svg__nYdub {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__sGK {
  font-size: 18px;
}
.svg___9OiD8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cf0Qe {
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 100%;
  color: #26c676;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  padding-top: 7px;
  cursor: pointer;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid #26c676;
}
.textstepscharg_step3__cf0QezZ317 {
  display: none;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  padding-right: 24px;
  padding-left: 24px;
}
.modal__modal :global(.ant-modal-content) {
  background: #1b272a;
  outline: none;
}
.freeBox__wnIlH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.text__iiwjt {
  align-self: auto;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--token-jgohepLVeKvh);
}
.textstepscharg_step3__iiwjtzZ317 {
  padding-bottom: 0px;
}
.text__y3XbZ {
  width: auto;
  font-size: 16px;
  padding-bottom: 10px;
  color: var(--token-jgohepLVeKvh);
  text-align: justify;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__sR2Wq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__yjlZh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.modal2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  padding-right: 24px;
  padding-left: 24px;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 375px;
  flex-shrink: 0;
}
.modal2__modal :global(.ant-modal-content) {
  background: #1b272a;
  outline: none;
  border-radius: 30px 30px 0px 0px;
}
.modal2stepscharg_step3:global(.__wab_instance) {
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .modal2stepscharg_step3:global(.__wab_instance) {
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .pcls_vbwe0O5GO9ii {
    background: #00000066;
    outline: none;
  }
}
.freeBox__gNy0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBoxstepscharg_step3__gNy0ZZ317 {
  height: 500px;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxstepscharg_step3__gNy0ZZ317 {
    width: 100vw;
  }
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lottiestepscharg_step3:global(.__wab_instance) {
    filter: hue-rotate(20deg);
  }
}
.text__cMlU {
  align-self: auto;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--token-jgohepLVeKvh);
}
.freeBox__a3BEc {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxstepscharg_step3__a3BECzZ317 {
  display: flex;
}
.text__qWwaE {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
  min-width: 0;
}
.text__pHzG {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
  min-width: 0;
}
.textstepscharg_step3__pHzGzZ317 {
  text-align: left;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.button3stepscharg_step3:global(.__wab_instance) {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button3stepscharg_step3:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.svg__rfa4V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___28RlR {
  padding-top: 0px;
  font-size: 16px;
}
.svg__eL76Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.shopModal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.exchange:global(.__wab_instance) {
  max-width: 100%;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
