.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__fjdF7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 70px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fjdF7 {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__cbf8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 10;
  min-width: 0;
  padding: 0px;
}
.input:global(.__wab_instance) {
  background: #161e26;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  color: var(--token-aCLVKlB2IKxe);
  font-size: 16px;
  height: auto;
  min-width: 0;
  border-radius: 100px;
  padding: 14px 16px 14px 14px;
  border-width: 0px;
}
.svg__gVZcM {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 15px;
  top: 12px;
  width: auto;
  height: 25px;
  right: auto;
  color: var(--token-s7Z9BN_B1gNc);
}
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 80vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  row-gap: 14px;
  min-width: 0;
  flex-shrink: 0;
  padding: 12px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.loading2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox___7AbyK {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__qUlQ7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid var(--token-sgLFytYkyefO);
}
.freeBox__up6D9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__up6D9 {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    row-gap: 0px;
    padding: 0px;
  }
}
.svg__idyJa {
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}
.freeBox___5E8Pf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__tlJB {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-vAZ8o9ODdwJP);
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__wXPgI {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-aCLVKlB2IKxe);
  font-weight: 100;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__gOxwb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-aCLVKlB2IKxe);
  font-weight: 100;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__trWjz {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__aKvbe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #7effc1;
  font-weight: 100;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__kJVoA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  color: var(--token-s7Z9BN_B1gNc);
  font-size: 12px;
  min-width: 0;
}
.popover2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  transform: rotate3d(0, 0, 1, 90deg);
  z-index: 3;
  height: auto;
}
.svg___21TtL {
  object-fit: cover;
  max-width: 100%;
  color: #87ffc5;
  width: 25px;
  height: 25px;
  align-self: center;
  z-index: 2;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg___9Elgn {
  position: relative;
  object-fit: cover;
  width: 18px;
  height: 18px;
  color: var(--token-aCLVKlB2IKxe);
}
.text__fXzzv {
  color: var(--token-aCLVKlB2IKxe);
  font-weight: 600;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__o6I0G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___0Ecwg {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: var(--token-a78v3Ul_J4it);
}
.text___3Ka0Q {
  color: var(--token-a78v3Ul_J4it);
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___07BWb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__skqH {
  position: fixed;
  padding-right: 0;
  padding-left: 0;
  width: auto;
  justify-items: center;
  align-content: flex-start;
  display: grid;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__skqH > * {
  grid-column: 4;
}
.freeBox__benrK {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 0px;
}
.text__kObIq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-rrSDs4ZUYTcU);
  font-size: 12px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__maRdk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 5px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  margin: 4px;
}
.freeBox__wx85Y {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xZfWv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.section__rOyZh {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__rOyZh > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__rOyZh > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  max-width: 100%;
  background: #1e2c39;
  box-shadow: 0px 12px 16px 0px #00000047;
  left: auto;
  top: auto;
  z-index: 10;
  position: relative;
  min-width: 0;
  padding: 10px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    width: 100%;
    left: auto;
    top: auto;
    padding-right: 16px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.svg__yjkss {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: #2dc57b;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__yjkss {
    width: 25px;
    height: 25px;
    color: #2dc57b;
    flex-shrink: 0;
  }
}
.text__j6NWb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: #2dc57b;
  font-size: 20px;
  margin-right: -40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__j6NWb {
    color: #2dc57b;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: -25px;
  }
}
.freeBox__zobp1 {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #2f3544;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: 500px;
  padding: 0px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: -18px;
  width: auto;
  right: auto;
}
.svg__zKkEy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qkVmK {
  color: var(--token-fNYqKZOa5tL7);
  font-weight: 700;
}
.svg___2Vn2C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-fNYqKZOa5tL7);
}
.freeBox__ng6Aa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 8px;
}
.no {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: 100vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  margin-bottom: 10px;
}
.img > picture > img {
  object-fit: cover;
}
.text__vgF3L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  color: var(--token-aCLVKlB2IKxe);
  font-weight: 800;
  min-width: 0;
}
.text__v5Uuh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  color: var(--token-pyhDq7s0RTkz);
  font-weight: 300;
  min-width: 0;
}
.exitModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: auto;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 33%;
  bottom: 0;
  padding: 0px 15px 15px;
  margin: 0px;
}
.exitModal__modal :global(.ant-modal-content) {
  background: #1e2c39;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .exitModal:global(.__wab_instance) {
    right: 0;
    bottom: 0;
    top: auto;
    left: 0;
  }
}
.freeBox__jJnpi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.text___9DTxh {
  font-size: 18px;
  font-weight: 700;
  color: var(--token-as44I7WwR-rZ);
}
.freeBox__c3WFd {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  padding: 8px;
}
.button6:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  opacity: 1;
  min-width: 0;
}
.svg__o9Zcq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__iieC5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button7:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  opacity: 1;
  min-width: 0;
}
.svg__qiW84 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cbPdH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___537YH {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
