.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.rootstepscharg_step1 {
  display: inline-flex;
  flex-direction: row;
  width: auto;
}
.rootstepscharg_step1 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootstepscharg_step1 > :global(.__wab_flex-container) > *,
.rootstepscharg_step1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.rootstepscharg_step1 > :global(.__wab_flex-container) > picture > img,
.rootstepscharg_step1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: var(--token-aCLVKlB2IKxe);
  opacity: 0.8;
  flex-shrink: 0;
}
.svgselected {
  opacity: 1;
  color: var(--token-aCLVKlB2IKxe);
  box-shadow: none;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-aCLVKlB2IKxe);
  opacity: 0.8;
  min-width: 0;
}
.textselected {
  opacity: 1;
  font-weight: 800;
}
