.ariaSwitch:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  display: flex;
  box-sizing: border-box;
  color: var(--token-f9NVqkrFQD54);
  font-family: var(--token-cJPXU_Hja4hK);
  font-size: var(--token-843B-Ipj_99r);
  line-height: var(--token-YNpvUfDokFJS);
  width: 100%;
  flex-direction: column;
  row-gap: var(--token-SJ3G0IqcUE8k);
  min-width: 0;
}
.ariaSwitch[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.ariaSwitch[data-readonly]:global(.__wab_instance) {
  pointer-events: none;
  cursor: default;
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-XuZYp5n1ooP-);
}
.switchIndicator {
  height: auto;
  width: var(--token-q4sKX2uPm3g_);
  display: flex;
  background: var(--token-bZhLN1pzdv43);
  cursor: pointer;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 99px;
  padding: var(--token-jrI4hhAJj90H);
}
.ariaSwitch[data-selected] .switchIndicator {
  background: var(--token-UFG83cPYbntk);
}
.ariaSwitch[data-focus-visible] .switchIndicator {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-UFG83cPYbntk);
  outline-offset: 1px;
}
.ariaSwitch[data-disabled] .switchIndicator {
  cursor: not-allowed;
}
.thumb {
  display: flex;
  position: relative;
  width: var(--token-UsppbaIX6NC8);
  background: var(--token-aCLVKlB2IKxe);
  height: var(--token-UsppbaIX6NC8);
  flex-direction: row;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transform: skew(0deg, 0deg);
  box-shadow: 0px 0px 3px 0px #00000040;
  transform-style: preserve-3d;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.1s;
  border-radius: 99px;
}
.thumb * {
  transform-style: preserve-3d;
}
.ariaSwitch[data-selected] .thumb {
  transform: translate3d(12px, 0px, 0px);
  transform-style: preserve-3d;
}
.ariaSwitch[data-selected] .thumb * {
  transform-style: preserve-3d;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
