.root:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  color: var(--token-f9NVqkrFQD54);
  font-family: var(--token-cJPXU_Hja4hK);
  font-size: var(--token-843B-Ipj_99r);
  line-height: var(--token-YNpvUfDokFJS);
}
.freeBox {
  display: flex;
  flex-direction: row;
  padding: var(--token-XuZYp5n1ooP-) var(--token-PPqFMoBwqMwA);
}
.slotTargetHeader {
  font-weight: 600;
}
