.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-l3ItR7R_AHRe);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.item:global(.__wab_instance) {
  position: relative;
}
