.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #1e2c39;
  box-shadow: 0px 12px 16px 0px #00000047;
  position: relative;
  min-width: 0;
  padding: 10px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    width: 100%;
    min-width: 0;
  }
}
.svg__mvySp {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 48%;
  top: -15px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__mvySp {
    left: 38%;
  }
}
.freeBox__h41B6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h41B6 {
    margin-left: 10px;
  }
}
.svg__bVNe {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__bVNe {
    width: 30px;
    cursor: pointer;
    z-index: 2;
    flex-shrink: 0;
  }
}
.svg___4Y1Ns {
  object-fit: cover;
  max-width: 100%;
  color: #5ed5a8;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___4Y1Ns {
    color: #5ed5a8;
  }
}
.editProfile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
}
.editProfile__modal :global(.ant-modal-content) {
  background: #1e2c39;
  outline: none;
  border-radius: 0px;
}
.editProfile__modal :global(.ant-modal-close) {
  color: #ffffff;
  outline: none;
}
.freeBox__sdvDv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sdvDv {
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
}
.wallet4 {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #2dc57b;
  box-shadow: none;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: auto;
  padding: 0px;
  margin: 0px;
}
.wallet4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.wallet4 > :global(.__wab_flex-container) > *,
.wallet4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wallet4 > :global(.__wab_flex-container) > picture > img,
.wallet4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet4 {
    max-width: 100%;
    background: #2dc57b;
    height: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet4 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet4 > :global(.__wab_flex-container) > *,
  .wallet4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .wallet4 > :global(.__wab_flex-container) > picture > img,
  .wallet4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__fJp0M {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__fJp0M > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__fJp0M > :global(.__wab_flex-container) > *,
.freeBox__fJp0M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fJp0M > :global(.__wab_flex-container) > picture > img,
.freeBox__fJp0M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fJp0M {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    height: 60px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fJp0M > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 5px);
    height: calc(100% + 5px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fJp0M > :global(.__wab_flex-container) > *,
  .freeBox__fJp0M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fJp0M > :global(.__wab_flex-container) > picture > img,
  .freeBox__fJp0M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 5px;
  }
}
.text___9KkJs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9KkJs {
    font-size: 22px;
  }
}
.freeBox__bdqb1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  background: #26394b;
  overflow: auto;
  border-radius: 12px;
  padding: 20px;
}
.freeBox__bdqb1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__bdqb1 > :global(.__wab_flex-container) > *,
.freeBox__bdqb1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bdqb1 > :global(.__wab_flex-container) > picture > img,
.freeBox__bdqb1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bdqb1 {
    width: 100%;
    height: auto;
    margin-top: 50px;
    min-width: 0;
    padding: 15px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bdqb1 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: space-around;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 28px);
    height: calc(100% + 28px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bdqb1 > :global(.__wab_flex-container) > *,
  .freeBox__bdqb1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bdqb1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__bdqb1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 28px;
  }
}
.text__xx5Bw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  font-size: 20px;
  background: none;
  font-weight: 700;
  min-width: 0;
  padding: 8px;
}
.freeBox__v3Ud {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__uqfYd {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.name:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .name:global(.__wab_instance) {
    border-width: 0px;
  }
}
.freeBox__zAxBg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__chfOn {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.lastname:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lastname:global(.__wab_instance) {
    border-width: 0px;
  }
}
.freeBox__d2Iks {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__l93ZI {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.fathername:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fathername:global(.__wab_instance) {
    border-width: 0px;
  }
}
.freeBox__pmkk9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__mVLsl {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.city:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
.freeBox__c92Mp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg___5Uh0H {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.location:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
.button__pF7Mx:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  opacity: 1;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__pF7Mx:global(.__wab_instance) {
    opacity: 1;
    width: 100%;
    min-width: 0;
  }
}
.svg__vpVUq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__s80C4 {
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__s80C4 {
    font-weight: 700;
    font-size: 14px;
  }
}
.svg__oTy8W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__wJUmw {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.editPassword:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
}
.editPassword__modal :global(.ant-modal-content) {
  background: #1e2c39;
  outline: none;
  border-radius: 0px;
}
.editPassword__modal :global(.ant-modal-close) {
  color: #ffffff;
  outline: none;
}
.freeBox__hTf31 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hTf31 {
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
}
.wallet5 {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #2dc57b;
  box-shadow: none;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: auto;
  padding: 0px;
  margin: 0px;
}
.wallet5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.wallet5 > :global(.__wab_flex-container) > *,
.wallet5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wallet5 > :global(.__wab_flex-container) > picture > img,
.wallet5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet5 {
    max-width: 100%;
    background: #2dc57b;
    height: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet5 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .wallet5 > :global(.__wab_flex-container) > *,
  .wallet5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .wallet5 > :global(.__wab_flex-container) > picture > img,
  .wallet5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__mJy2C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mJy2C > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__mJy2C > :global(.__wab_flex-container) > *,
.freeBox__mJy2C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mJy2C > :global(.__wab_flex-container) > picture > img,
.freeBox__mJy2C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mJy2C {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    height: 60px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mJy2C > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 5px);
    height: calc(100% + 5px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mJy2C > :global(.__wab_flex-container) > *,
  .freeBox__mJy2C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mJy2C > :global(.__wab_flex-container) > picture > img,
  .freeBox__mJy2C
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 5px;
  }
}
.text__uiwci {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uiwci {
    font-size: 22px;
  }
}
.freeBox__fklle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  background: #26394b;
  overflow: auto;
  border-radius: 12px;
  padding: 20px;
}
.freeBox__fklle > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__fklle > :global(.__wab_flex-container) > *,
.freeBox__fklle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fklle > :global(.__wab_flex-container) > picture > img,
.freeBox__fklle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fklle {
    width: 100%;
    height: auto;
    margin-top: 50px;
    min-width: 0;
    padding: 15px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fklle > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: space-around;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 28px);
    height: calc(100% + 28px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fklle > :global(.__wab_flex-container) > *,
  .freeBox__fklle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fklle > :global(.__wab_flex-container) > picture > img,
  .freeBox__fklle
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 28px;
  }
}
.freeBox__nzhPd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__wt6XN {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  font-size: 20px;
  background: none;
  font-weight: 700;
  min-width: 0;
  padding: 8px;
}
.freeBox__lvYIt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__a9Ffs {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.nowPass:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .nowPass:global(.__wab_instance) {
    border-width: 0px;
  }
}
.svg__kd9Gl {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
  height: 20px;
  flex-shrink: 0;
}
.freeBox__h35Lx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__uJMv {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-0MrDlDLqtJFU);
  font-size: 14px;
  background: none;
  font-weight: 400;
  min-width: 0;
  padding: 8px;
}
.freeBox__wiZht {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__djXWx {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.newPass:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .newPass:global(.__wab_instance) {
    border-width: 0px;
  }
}
.svg__odKuU {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
  height: 20px;
  flex-shrink: 0;
}
.progress:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__hFgb {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__jT2Ll {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__jT2Ll {
    left: auto;
    right: 8px;
  }
}
.reoeatNewPass:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  flex-shrink: 0;
  padding: 20px 50px 20px 20px;
  border: 0px solid #00ff09;
}
.svg__rjZpj {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
  height: 20px;
  flex-shrink: 0;
}
.text__vKr5O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-_u6T-ctQmwmL);
  padding-right: 5px;
  min-width: 0;
}
.text__n1DKp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-s7Z9BN_B1gNc);
  padding-right: 5px;
  min-width: 0;
}
.button__rJ17O:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  opacity: 1;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__rJ17O:global(.__wab_instance) {
    opacity: 1;
    width: 100%;
    min-width: 0;
  }
}
.svg___0I8Jh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___61LyC {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___61LyC {
    font-weight: 700;
    font-size: 14px;
  }
}
.svg__ekcIi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ekcIi {
    color: var(--token-jgohepLVeKvh);
  }
}
.freeBox__kNRh0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.drawer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #1e2c39;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.drawer__drawer :global(.ant-drawer-body) {
  background: #1e2c39;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  outline: none;
}
.drawer__drawer :global(.ant-drawer-header) {
  background: #192631;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  outline: none;
}
.drawer__drawer :global(.ant-drawer-title) {
  background: none;
  outline: none;
}
.drawer__drawer :global(.ant-drawer-footer) {
  background: #1e2c39;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .drawer:global(.__wab_instance) {
    width: 75%;
  }
}
.freeBox__wtMld {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__wtMld > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__wtMld > :global(.__wab_flex-container) > *,
.freeBox__wtMld > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wtMld > :global(.__wab_flex-container) > picture > img,
.freeBox__wtMld
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__ka5OS {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ka5OS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__ka5OS > :global(.__wab_flex-container) > *,
.freeBox__ka5OS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ka5OS > :global(.__wab_flex-container) > picture > img,
.freeBox__ka5OS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ka5OS {
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ka5OS > :global(.__wab_flex-container) {
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ka5OS > :global(.__wab_flex-container) > *,
  .freeBox__ka5OS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ka5OS > :global(.__wab_flex-container) > picture > img,
  .freeBox__ka5OS
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.svg__qlF3U {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-pyhDq7s0RTkz);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__qlF3U {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
}
.freeBox__a6Bmx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.text__hjppR {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-Pxe4wDL2kJpb);
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hjppR {
    font-size: 14px;
  }
}
.svg__k7Yjj {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  align-self: center;
  transform: none;
  color: var(--token-P02GAf-HlHok);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__k7Yjj {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.freeBox__ulcP1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ulcP1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__ulcP1 > :global(.__wab_flex-container) > *,
.freeBox__ulcP1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ulcP1 > :global(.__wab_flex-container) > picture > img,
.freeBox__ulcP1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ulcP1 {
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ulcP1 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ulcP1 > :global(.__wab_flex-container) > *,
  .freeBox__ulcP1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ulcP1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__ulcP1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.svg__xiPvr {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-_u6T-ctQmwmL);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__xiPvr {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
}
.freeBox__h9Ejh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.text__ecm9S {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-P02GAf-HlHok);
  font-size: 20px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ecm9S {
    font-size: 14px;
  }
}
.svg__nOHu {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  align-self: center;
  transform: none;
  color: var(--token-P02GAf-HlHok);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__nOHu {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.svg___3V0Zd {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 150px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___3V0Zd {
    height: 80px;
  }
}
.freeBox__nlHLk {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nlHLk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__nlHLk > :global(.__wab_flex-container) > *,
.freeBox__nlHLk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nlHLk > :global(.__wab_flex-container) > picture > img,
.freeBox__nlHLk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nlHLk {
    padding-right: 0px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nlHLk > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nlHLk > :global(.__wab_flex-container) > *,
  .freeBox__nlHLk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nlHLk > :global(.__wab_flex-container) > picture > img,
  .freeBox__nlHLk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.svg__rApRx {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__rApRx {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.freeBox__bT6Yh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.text__tiUdR {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-pyhDq7s0RTkz);
  font-size: 20px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tiUdR {
    font-size: 16px;
  }
}
.text__z8Sns {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: right;
  color: var(--token-pyhDq7s0RTkz);
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__z8Sns {
    font-size: 14px;
  }
}
.svg___4Qp9 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  align-self: center;
  transform: none;
  color: var(--token-Pxe4wDL2kJpb);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___4Qp9 {
    color: var(--token-_u6T-ctQmwmL);
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.exitModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: auto;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 33%;
  bottom: 0;
  padding: 0px 15px 15px;
  margin: 0px;
}
.exitModal__modal :global(.ant-modal-content) {
  background: #1e2c39;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .exitModal:global(.__wab_instance) {
    right: 0;
    bottom: 0;
    top: auto;
    left: 0;
  }
}
.freeBox__vv4DC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vv4DC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__vv4DC > :global(.__wab_flex-container) > *,
.freeBox__vv4DC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vv4DC > :global(.__wab_flex-container) > picture > img,
.freeBox__vv4DC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__v28Jk {
  font-size: 18px;
  font-weight: 700;
  color: var(--token-as44I7WwR-rZ);
}
.text__xqcny {
  color: var(--token-pyhDq7s0RTkz);
}
.freeBox__rolc8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rolc8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__rolc8 > :global(.__wab_flex-container) > *,
.freeBox__rolc8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rolc8 > :global(.__wab_flex-container) > picture > img,
.freeBox__rolc8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button__mZa3:global(.__wab_instance) {
  max-width: 100%;
  width: 60%;
  opacity: 0.6;
}
.svg__qsJcY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__kjxSc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__jbPva:global(.__wab_instance) {
  max-width: 100%;
  width: 40%;
  opacity: 1;
}
.svg__z91Vo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lYQp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
